<template>
  <div
    class="map-filter uk-position-left uk-background-default uk-overflow-auto scrollbar"
  >
    <slot></slot>

    <div class="uk-width-1-1 uk-flex uk-flex-column uk-padding-medium">
      <h2 class="uk-margin-small uk-margin-remove-top">Фильтр</h2>

      <div class="uk-margin-small">
        <m-select
          :data="options.action_id"
          _key="id"
          :label="`Тип сделки${getLabel('action_id')}`"
          value="name"
          v-model="filter.action_id"
        ></m-select>
      </div>

      <div class="uk-margin-small">
        <m-select
          :data="options.class_id"
          _key="id"
          :label="`Тип недвижимости${getLabel('class_id')}`"
          value="name"
          v-model="filter.class_id"
        ></m-select>
      </div>

      <m-select
        v-if="[1].some(el => el == filter.class_id)"
        :data="options.type_flat_id"
        :label="`Количество комнат${getLabel('type_flat_id')}`"
        _key="id"
        value="name"
        v-model="filter.type_flat_id"
        class="uk-margin-small"
      ></m-select>

      <div class="uk-margin-small">
        <label class="uk-form-label uk-width-1-1">Цена, ₽</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.price.min"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.price.max"
            />
          </div>
        </div>
      </div>

      <m-select
        v-if="[3].some(el => el == filter.class_id)"
        class="uk-margin-small"
        :data="options.type_house_id"
        :label="`Тип дома${getLabel('type_house_id')}`"
        _key="id"
        value="name"
        v-model="filter.type_house_id"
      ></m-select>

      <div
        class="uk-margin-small"
        v-if="[1, 2].some(el => el == filter.class_id)"
      >
        <label class="uk-form-label uk-width-1-1">Этаж</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.floor.min"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.floor.max"
            />
          </div>
        </div>
      </div>

      <div
        class="uk-margin-small"
        v-if="[1, 2, 3].some(el => el == filter.class_id)"
      >
        <label class="uk-form-label uk-width-1-1">Площадь, м<sup>2</sup></label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              name=""
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.square.min"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.square.max"
            />
          </div>
        </div>
      </div>

      <div
        class="uk-margin-small"
        v-if="[3, 6].some(el => el == filter.class_id)"
      >
        <label class="uk-form-label uk-width-1-1">Площадь участка, сот</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              name=""
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.land_area.min"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.land_area.max"
            />
          </div>
        </div>
      </div>

      <div
        class="uk-margin-small"
        v-if="[1, 2, 3].some(el => el == filter.class_id)"
      >
        <label class="uk-form-label uk-width-1-1"
          >Жилая площадь, м<sup>2</sup></label
        >
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              name=""
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.square_living.min"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.square_living.max"
            />
          </div>
        </div>
      </div>

      <div
        class="uk-margin-small"
        v-if="[1, 2, 3].some(el => el == filter.class_id)"
      >
        <label class="uk-form-label uk-width-1-1"
          >Площадь кухни, м<sup>2</sup></label
        >
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              name=""
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.square_kitchen.min"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.square_kitchen.max"
            />
          </div>
        </div>
      </div>

      <m-select
        :data="districts"
        _key="id"
        :label="`Район${getDistrictLabel}`"
        value="name"
        v-model="filter.microdistricts"
        :isInput="true"
        class="uk-margin-small"
      ></m-select>

      <m-select
        class="uk-margin-small"
        v-if="[1, 2, 3].some(el => el == filter.class_id)"
        :data="options.house_wall_id"
        _key="id"
        :label="`Материал дома${getLabel('house_wall_id')}`"
        value="name"
        v-model="filter.house_wall_id"
      ></m-select>

      <m-select
        class="uk-margin-small"
        v-if="[1, 2, 3].some(el => el == filter.class_id)"
        :data="options.repairs_id"
        _key="id"
        :label="`Ремонт${getLabel('repairs_id')}`"
        value="name"
        v-model="filter.repairs_id"
      ></m-select>

      <div class="uk-margin-small">
        <button
          class="uk-button uk-button-default uk-width-1-1 "
          @click="$emit('clearFilter')"
        >
          Отчистить фильтр
        </button>
        <button
          class="btn btn__tpl1 btn__green uk-width-1-1 uk-text-center uk-margin-small-top"
          @click="$emit('applyFilter')"
        >
          Применить
        </button>
        <p>
          Найдено
          {{ count | declination("объявление", "объявления", "объявлений") }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import mSelect from "../../multiSelect";
import options from "../../../mixins/Object/Options";
import input from "../../../filters/Input";

export default {
  props: {
    filter: {
      type: Object,
      default: {}
    },
    count: {
      type: Number,
      default: 0
    },
    districts: Array
  },
  mixins: [options, input],

  computed: {
    getDistrictLabel() {
      return this.districts
        .filter(district => {
          return this.filter.microdistricts.includes(district.id);
        })
        .map((el, i) => (i == 0 ? `: ${el.name}` : el.name))
        .join(", ");
    }
  },

  methods: {
    getLabel(key) {
      return this.options[key]
        .filter(el => {
          if (Array.isArray(this.filter[key]))
            return this.filter[key].includes(el.id);
          else return this.filter[key] == el.id;
        })
        .map((el, i) => (i == 0 ? `: ${el.name}` : el.name))
        .join(", ");
    },
  },
  components: {
    mSelect
  }
};
</script>

<style scoped>
.map-filter {
  width: 300px;
  z-index: 10000;
}

@media screen and (max-width: 480px) {
  .map-filter {
    width: 100%;
  }
}
</style>
