<template>
  <div class="uk-position-relative uk-overflow-hidden">
    <button
      class="z-index-10 filter-button"
      type="button"
      @click="showFilter = true"
      v-show="!showFilter"
      v-if="!lite_mode"
    >
      <span uk-icon="icon: settings; ratio: 1.2"></span>
      <span class="is-filter-icon" v-show="isFilter"></span>
    </button>

    <transition name="slide-fade">
      <ObjectFilterComponent
        :filter="filter"
        :count="ids.length"
        v-show="showFilter"
        @clearFilter="clearFilter"
        @applyFilter="getObjectsByFilter(), (showFilter = false)"
        v-if="!lite_mode"
        :districts="districtList"
      >
        <button
          class="z-index-10 close-button"
          type="button"
          uk-close
          @click="showFilter = false"
        ></button>
      </ObjectFilterComponent>
    </transition>

    <transition name="slide-fade">
      <div
        class="map-objects-list uk-position-right z-index-10 uk-background-default uk-overflow-auto scrollbar"
        v-if="showList && !lite_mode"
      >
        <button
          class="z-index-10 close-button"
          type="button"
          uk-close
          @click="
            (selectedObjects = []), (showList = false), toggleSelectMarker()
          "
        ></button>

        <p
          class="uk-margin-small uk-padding-small uk-padding-remove-top uk-padding-remove-bottom fs18 uk-text-bold"
        >
          {{
            selectedObjects.length
              | declination("объявление", "объявления", "объявлений")
          }}
        </p>

        <div
          v-for="(object, i) in selectedObjects"
          :key="i"
          class="uk-card uk-card-default uk-grid-collapse uk-margin-small-bottom object-card"
        >
          <a
            class="object-link"
            :href="`https://vevanta.ru/item/${object.object.id}/`"
            target="_blank"
          >
            <ObjectComponent
              :object="object"
              :isAdded="isAdded(object.object.id)"
              @addToStorage="addToStorage"
            ></ObjectComponent>
          </a>
        </div>
      </div>
    </transition>

    <div id="map" style="width: 100vw; height: 100vh;"></div>
  </div>
</template>

<script>
import input from "../../../filters/Input";
import options from "../../../mixins/Object/Options";
import storage from "../../../mixins/storage";
import mapMixin from "../../../mixins/Map";
import functions from "../../../mixins/functions";
import ObjectComponent from "./Object";
import ObjectFilterComponent from "./Filter";

export default {
  mixins: [input, storage, options, functions, mapMixin],
  props: {
    coords: {
      type: Object,
      default: null
    },
    lite_mode: {
      type: Boolean,
      default: true
    },
    class_id: {
      type: Number,
      default: 1
    },
    action_id: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      filter: {
        action_id: 1,
        class_id: 1,
        price: {
          min: null,
          max: null
        },
        square: {
          min: null,
          max: null
        },
        square_living: {
          min: null,
          max: null
        },
        square_kitchen: {
          min: null,
          max: null
        },
        land_area: {
          min: null,
          max: null
        },
        floor: {
          min: null,
          max: null
        },
        type_flat_id: [],
        type_house_id: [],
        house_wall_id: [],
        repairs_id: [],
        microdistricts: []
      },
    };
  },

  mounted() {
    this.filter.class_id = this.class_id;
    this.filter.action_id = this.action_id;
  },
  watch: {
    filter: {
      deep: true,
      handler() {
        if (this.init) this.debounceGetObjects();
      }
    }
  },
  computed: {
    isFilter() {
      return (
        this.filter.price.min ||
        this.filter.price.max ||
        this.filter.square.min ||
        this.filter.square.max ||
        this.filter.floor.min ||
        this.filter.floor.max ||
        this.filter.square_living.min ||
        this.filter.square_living.max ||
        this.filter.square_kitchen.min ||
        this.filter.square_kitchen.max ||
        this.filter.land_area.min ||
        this.filter.land_area.max ||
        this.filter.type_flat_id.length > 0 ||
        this.filter.repairs_id.length > 0 ||
        this.filter.house_wall_id.length > 0 ||
        this.filter.microdistricts.length > 0
      );
    }
  },
  methods: {
    clearFilter(clearObject = this.filter) {
      for (let key in clearObject) {
        if (key == "action_id" || key == "class_id") continue;

        if (Array.isArray(clearObject[key])) {
          clearObject[key] = [];
          continue;
        }
        if (clearObject[key] && typeof clearObject[key] != "object") {
          clearObject[key] = null;
          continue;
        }
        if (typeof clearObject[key] == "object") {
          this.clearFilter(clearObject[key]);
        }
      }
    },

    getAllObjects() {
      return this.$axios.post('https://vevanta.ru/api/objects/get_all_objects/', { filter: this.filter });
    },

    getObjectsById() {
      return this.$axios.post('https://vevanta.ru/api/objects/get_objects_by_id/', {
        id: this.selectedObjectsId
      });
    },
  },
  components: {
    ObjectComponent,
    ObjectFilterComponent,
  }
};
</script>

<style scoped>
.close-button {
  padding: 6px;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
  top: 5px;
  margin-right: 5px;
  float: right;
  position: sticky;
  z-index: 10;
}

.filter-button {
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 0px;
  animation: pulse 2s infinite;
}

.is-filter-icon {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 3px;
  right: 3px;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.object-card {
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.map-objects-list {
  width: 350px;
  z-index: 10000;
}

.object-link,
.object-link:hover {
  color: #666;
}

@media screen and (max-width: 640px) {
  .object-card {
    margin: 0px;
  }
  .map-objects-list {
    width: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0.6);
  }
  60% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 186, 182, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 186, 182, 0.6);
  }
  60% {
    -moz-box-shadow: 0 0 0 10px rgba(0, 186, 182, 0);
    box-shadow: 0 0 0 10px rgba(0, 186, 182, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0);
    box-shadow: 0 0 0 0 rgba(0, 186, 182, 0);
  }
}
</style>
