<template>
  <div>
    <div class="uk-card-body uk-padding-remove uk-width-1-1">
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
        uk-slideshow
      >
        <ul class="uk-slideshow-items" uk-lightbox>
          <li v-for="(photo, j) in object.photos" :key="j">
            <div
              class="uk-background-cover uk-height-1-1 uk-width-1-1"
              :style="{
                backgroundImage: `url(https://cloud.vevanta.ru${photo.photo360})`
              }"
            >
              <a
                class="uk-inline uk-height-1-1 uk-width-1-1"
                :href="`https://cloud.vevanta.ru${photo.photo1024}`"
                @click.prevent
              >
              </a>
            </div>
          </li>
        </ul>

        <a
          class="uk-position-center-left uk-position-small"
          href="#"
          uk-slidenav-previous
          uk-slideshow-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-position-small"
          href="#"
          uk-slidenav-next
          uk-slideshow-item="next"
        ></a>
      </div>
      <div class="uk-padding-small">
        <div
          class="uk-width-1-1 uk-flex uk-flex-between uk-margin-small-bottom"
        >
          <p class="fs20 uk-text-bold uk-width-auto uk-margin-remove ">
            {{ object.object.price | price }} ₽
          </p>

          <div class="action-buttons uk-width-auto uk-flex">
            <span
              class="action-button"
              :class="{ added: isAdded.favorite }"
              uk-icon="icon: star; ratio: 2"
              @click.prevent="
                $emit('addToStorage', object.object.id, 'favoriteItems')
              "
              uk-tooltip="title: Добавить в избранное; delay: 500"
            ></span>
          </div>
        </div>

        <p class="uk-margin-remove uk-text-truncate">
          <span class="uk-margin-small-right">{{
            getObjectTitle(object)
          }}</span>
          <span class="fs20 uk-text-bold uk-margin-small-right">&bull;</span>
          <span class="uk-margin-small-right">
            <span v-if="object.object.square"
              >{{ object.object.square }} м<sup>2</sup></span
            >
            <span v-if="object.object.square && object.object.land_area"
              >/</span
            >
            <span v-if="object.object.land_area"
              >{{ object.object.land_area }} сот.
            </span></span
          >
          <span
            class="uk-margin-small-right"
            v-if="object.object.class_id == 1"
          >
            <span class="fs20 uk-text-bold uk-margin-small-right">&bull;</span>
            {{ object.object.floor }}/{{ object.house.floors }} этаж</span
          >
        </p>
        <p class="uk-margin-remove-top uk-margin-small-bottom uk-text-truncate">
          <template
            v-if="
              object.object.address_settlement_name &&
                object.object.class_id == 6
            "
          >
            {{ object.object.address_settlement_name }},
          </template>

          <template
            v-if="
              object.object.address_tract_name && object.object.class_id == 6
            "
            >{{ object.object.address_tract_name }} тракт
          </template>

          <template v-if="object.object.address_street_name">
            {{ object.object.address_street_type }}.
            {{ object.object.address_street_name
            }}<template
              v-if="
                object.object.address_house_name &&
                  [1, 2].includes(object.object.class_id)
              "
              >, {{ object.object.address_house_name }}
            </template>
          </template>
        </p>

        <div
          class="accordeon uk-margin-small-top"
          :class="showInfo ? 'opened' : 'closed'"
        >
          <hr />
          <div class="uk-flex uk-flex-wrap">
            <div class="uk-width-1-1 uk-flex uk-flex-between">
              <div class="uk-flex uk-flex-column" v-if="object.object.square">
                <span>Общая</span>
                <span>{{ object.object.square }} м²</span>
              </div>
              <div
                class="uk-flex uk-flex-column uk-text-center"
                v-if="object.object.square_living"
              >
                <span>Жилая</span>
                <span>{{ object.object.square_living }} м²</span>
              </div>
              <div
                class="uk-flex uk-flex-column uk-text-right"
                v-if="object.object.square_kitchen"
              >
                <span>Кухня</span>
                <span>{{ object.object.square_kitchen }} м²</span>
              </div>
              <div
                class="uk-flex uk-flex-column"
                v-if="object.object.land_area"
              >
                <span>Участок</span>
                <span>{{ object.object.land_area }} сот.</span>
              </div>
            </div>
          </div>

          <div class="uk-margin-small-bottom uk-margin-small-top">
            <span
              >{{ object.object.object_repairs_name }}
              <span
                v-if="
                  object.object.object_repairs_name &&
                    object.house.house_wall_name"
                >/</span>
              {{ object.house.house_wall_name }}</span>
          </div>

          <div
            class="uk-width-1-1 uk-margin-small-top scrollbar description"
            v-if="object.object.description"
          >
            {{ object.object.description }}
          </div>
        </div>

        <p
          class="uk-margin-remove uk-text-center accordeon-title"
          @click.prevent="showInfo = !showInfo"
        >
          <span :uk-icon="`chevron-${showInfo ? 'up' : 'down'}`"></span>
        </p>

        <div
          v-if="openContact"
          class="uk-animation-fade uk-margin-small-top uk-text-center phone-field"
        >
          <a
            :href="`tel:+7${object.object.user_staff_phone}`"
            class="fs20 cl-vevanta"
          >
            {{ object.object.user_staff_phone | phoneType }}
          </a>
        </div>

        <div
          v-show="!openContact"
          class="btn btn__tpl1 btn__green uk-width-1-1 uk-text-center uk-margin-small-top"
          @click.prevent="openContact = true"
        >
          <span uk-icon="icon: receiver" class="uk-margin-small-right"></span>
          <span>Показать телефон</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import input from "../../../filters/Input";
import ObjectItem from "../../../mixins/Object/ObjectItem.js";

export default {
  mixins: [input, ObjectItem],
  props: {
    object: {
      type: Object,
      default: {}
    },
    isAdded: {
      type: Object,
      default: {
        favorite: false,
        compare: false
      }
    }
  },
  data() {
    return {
      showInfo: false,
      openContact: false
    };
  },
  methods: {
    getObjectTitle(object) {
      switch (object.object.class_id) {
        case 1:
          return object.object.object_type_flat_name || "Квартира";
        case 2:
          return object.object.object_type_room_name || "Комната";
        case 3:
          return object.house && object.house.wall_id
            ? this.dataByWall[object.house.wall_id].name
            : "Дом";
        case 4:
          return object.object.object_type_room_name || "Гараж";
        case 5:
          return object.object.object_type_commerce_name || "Помещение";
        case 6:
          return object.object.object_type_area_name
            ? `Участок ${object.object.object_type_area_name}`
            : "Участок";
        default:
          return "Квартира";
      }
    }
  }
};
</script>

<style scoped>
.uk-slidenav {
  background-color: rgb(216 216 216 / 40%);
  border-radius: 50%;
}
.accordeon-title {
  cursor: pointer;
  border-radius: 5px;
}
.accordeon-title:hover {
  background-color: rgba(207, 207, 207, 0.199);
}
.accordeon {
  overflow: hidden;
  transition: 1s ease;
}
.accordeon.closed {
  height: 0px;
  visibility: hidden;
  opacity: 0;
}
.accordeon.opened {
  display: block;
  height: auto;
  visibility: visible;
}
.description {
  max-height: 90px;
  overflow-y: scroll;
  border-radius: 5px;
}
.phone-field {
  background-color: #6d6d6d14;
  border-radius: 5px;
}

.action-buttons {
  gap: 10px;
}
.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8e8e8;
}
.action-button:hover,
.action-button.added {
  color: #00bab6;
}
@media screen and (max-width: 640px) {
  .description {
    max-height: 150px;
  }
}
</style>
