<template>
  <div>
    <div class="uk-width-1-1 uk-margin-small-bottom uk-grid uk-grid-small">
      <div
        class="uk-width-1-1 uk-width-1-1@m uk-width-2-5@l uk-margin-small-bottom  uk-flex uk-flex-column"
      >
        <div class="uk-width-1-1 fs20 uk-text-bold">
          {{ title(item) }}
        </div>
        <div class="uk-width-1-1 uk-margin-small">
          {{getAddress()}}
        </div>
      </div>
      <div
        class="uk-width-1-3 uk-width-1-2@m uk-width-1-5@l  uk-flex uk-flex-column"
      >
        <div
          v-if="item.house && item.house.house_wall_name"
          class="uk-width-1-1 uk-width-1-1@l"
        >
          <span>{{ item.house.house_wall_name }}</span>
        </div>
        <div v-if="item.object.square" class="uk-width-1-1 uk-width-1-1@l">
          <span class="uk-text-bold"
            >{{ item.object.square }} м<sup>2</sup></span
          >
        </div>
        <div
          v-if="item.house && item.house.floors"
          class="uk-width-1-1 uk-width-1-1@l"
        >
          <span v-if="item.object.floor"
            >{{ item.object.floor }}/{{ item.house.floors }} эт.</span
          >
          <span v-else>{{ item.house.floors }} эт.</span>
        </div>
        <div
          v-if="item.object.land_area && item.object.class_id != 3"
          class="uk-width-1-3 uk-width-1-1@l"
        >
          <span class="uk-text-bold">{{ item.object.land_area }} сот.</span>
        </div>

        <div
          v-if="item.object.distance_city && item.object.class_id != 3"
          class="uk-width-1-3 uk-width-1-1@l"
        >
          <span>{{ item.object.distance_city }} км</span>
        </div>
      </div>

      <div
        class="uk-width-expand uk-width-1-2@m uk-width-expand@l uk-text-right  uk-flex uk-flex-column"
      >
        <div class="uk-width-1-1 uk-text-bold price-field">
          <span>{{ item.object.price | price }}&nbsp;₽</span>
        </div>
        <div
          class="fs16 uk-text-meta uk-width-1-1 uk-text-bold"
          v-if="item.object.square || item.object.land_area"
        >
          <span
            >{{
              Math.round(
                item.object.price /
                  (item.object.square || item.object.land_area)
              ) | price
            }}
            ₽/
            <template v-if="item.object.class_id != 6">м<sup>2</sup></template>
            <template v-else>сот</template>
          </span>
        </div>
      </div>
    </div>
    <div
      class="uk-width-1-1 uk-margin-small uk-margin-remove-top uk-grid uk-grid-small"
    >
      <p class="uk-text-1">{{ item.object.description }}</p>
    </div>
  </div>
</template>

<script>
import input from "../../filters/Input.js";
import ObjectItem from "../../mixins/Object/ObjectItem.js";

export default {
  name: "InfoFlat",
  mixins: [input, ObjectItem],
  props: {
    item: Object
  }
};
</script>

<style scoped>
.uk-text-1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price-field {
  font-size: 26px;
}
@media screen and (max-width: 1200px) {
  .price-field {
    font-size: 20px;
  }
}
</style>
