.leaflet-popup-tip-container_svg {
  display: none !important;
}
.leaflet-popup-content-wrapper {
  background: #FFF !important;
  max-height: 100% !important;
}

.leaflet-popup-content-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 19px solid #fff;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
