<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full&amp;lazy=true"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
<link rel="stylesheet" href="<%= BASE_URL %>fonts.min.css">
<link rel="stylesheet" href="https://vevanta.ru/wp-content/themes/agentstvo/assets/css/main.min.css">
<link rel="stylesheet" href="https://vevanta.ru/wp-content/themes/agentstvo/assets/css/uikit/uikit.min.css">

<link rel="stylesheet" href="https://vevanta.ru/wp-content/themes/agentstvo/assets/css/main.min.css">


  </head>
  <body class="">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <modal-default ref="modalDefault"></modal-default>
      <section class="uk-container" >
        <Hero-Top></Hero-Top>
        <!-- <galery></galery> -->
        <!-- <Project-List-Filter></Project-List-Filter>
        <Projects-List-Sort></Projects-List-Sort>
        <Project-Item></Project-Item>
        <Projects></Projects>
        <Project-List></Project-List>
        ProjectListFilter
        ProjectsListSort
        Projects
        ProjectList
        ProjectItem -->

        <!-- <Agent-Callback-Form></Agent-Callback-Form> <Feedback></Feedback> <Objects-By-Agent></Objects-By-Agent>  -->

      </section>
    </div>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
  </body>
</html>
