<template>
  <div class="uk-width-1-1 uk-position-relative">
    <a
      class="uk-form-icon uk-form-icon-flip"
      uk-icon="icon: close"
      @click.prevent="clearAddress"
    ></a>
    <input
      class="uk-input"
      :class="inputClass"
      type="text"
      :placeholder="placeholder"
      v-model="insertedAddress"
      @input="insertedAddressFunc($event.target.value)"
      name="search_string"
      autocomplete="off"
    />
    <div
      uk-dropdown="mode: click; offset: 0;"
      class="uk-width-1-1 uk-padding-small z-index-10000"
      ref="address_dropdown"
      v-show="addressOptions.length > 0"
    >
      <ul class="uk-nav uk-dropdown-nav dropdown-items uk-width-1-1">
        <li
          v-for="(option, i) in addressOptions"
          :key="i"
          class="uk-width-1-1"
          @click="selectAddressFunc(option)"
        >
          {{ option.value }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    filter: {
      type: Object,
      default: () => {}
    },
    address: {
      type: String,
      default: ''
    },
    inputClass: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: "Введите адрес"
    }
  },
  data() {
    return {
      addressOptions: [],
      insertedAddress: ""
    };
  },
  watch: {
    address(val) {
      this.insertedAddress = val;
      this.insertedAddressFunc(val);
    }
  },
  methods: {
    selectAddressFunc(option) {
      this.insertedAddress = option.value;
      this.filter.address = {
        city: option.data.city,
        settlement: option.data.settlement,
        street: option.data.street,
        tract: option.data.street_type == "тракт",
        house: option.data.house,
        block_type: option.data.block_type,
        block: option.data.block,
        address_string: this.insertedAddress
      };
      UIkit.dropdown(this.$refs["address_dropdown"]).hide(0);
      this.$emit('select', option);
    },
    insertedAddressFunc(val) {
      if (val.length < 2) {
        return;
      }
      this.$axios
        .post(
          "https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address",
          {
            query: val,
            count: 10,
            locations: [
              {
                region: "тюменская"
              }
            ]
          },
          {
            responseType: "json",
            headers: {
              Authorization: "Token 3a6f31ce87eada44a4bccab8b1c8eccfdde3ff45",
              "Content-Type": "application/json",
              Accept: "application/json"
            }
          }
        )
        .then(response => {
          this.addressOptions = response.data.suggestions;
        });
    },
    clearAddress() {
      this.filter.address = {
        city: null,
        settlement: null,
        street: null,
        tract: null,
        house: null,
        block_type: null,
        block: null
      };
      this.insertedAddress = "";
    }
  }
};
</script>

<style></style>
