<template>
  <div class="uk-box-shadow-medium uk-padding-medium agent__callback-form">
    <div>
      <div class="uk-text-bold fs18 uk-margin-small-bottom">Оставьте номер телефона, и вам перезвонят в течение 3-х минут</div>

      <div v-if="isSent" class="uk-margin-medium-top uk-margin-medium-bottom">Ваш запрос отправлен специалисту</div>

      <form v-else @submit.prevent="send">
        <div class="uk-grid">
          <div class="uk-width-1-1 modal-input">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input" type="text" placeholder="Ваше имя:" v-model="inputs.name">
            </div>
          </div>
          <div class="uk-width-1-1 modal-input uk-margin-small-top">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: phone"></span>
              <input class="uk-input" type="text" placeholder="Ваш телефон:" v-model="inputs.phone">
            </div>
          </div>
        </div>
        <div class="politica">
          Отправляя заявку, вы соглашаетесь на обработку
          <a :href="politika" target="_blank">персональных данных</a>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-primary btn__green">ОТПРАВИТЬ</button>
        </p>
    </form>
    </div>
  </div>
</template>

<script>
import FormNoModal from '../mixins/FormNoModal.js'
import inputMask from "../mixins/inputMask.js";

export default {
  name: 'modal',
  mixins: [FormNoModal, inputMask ],
  props: {
    politika: {
      type: String,
      default: '/wp-content/themes/agentstvo/public/politika.pdf'
    },
    form: {
      type: String,
      default: ''
    },
    staffId: {
      type: Number
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number,
      default: 51
    }
  },
  methods: {
    send() {
      this.formName =  this.form
      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId
      }

      if (this.sourceId !== undefined) {
        this.dataRequest.sourceId = this.sourceId
      }

      this.sendForm()
    }
  }
}
</script>

<style lang="css" scoped>

  .agent__callback-form {
    max-width: 350px;
    border: 5px solid #005a87;
    background-color: #f3fcff;;
  }
</style>
