<template>
  <div uk-slider v-if="banks.length">
    <div class="uk-position-relative">

        <div class="uk-slider-container uk-light">
            <ul class="uk-slider-items uk-grid">
                <li v-for="(bank, index) in banks" :key="index">
                    <img :src="bank.logo" alt="" width="70px">
                </li>
            </ul>
        </div>

        <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

    </div>
  </div>
</template>
<script>
  export default {
    name: 'BankPartners',
    data() {
      return {
        banks: []
      }
    },
    created() {
      this.getData()
    },
    methods: {
      getData() {
        this.$axios
          .post("/banks/get_banks")
          .then((res) => {
            this.banks = res.data
          })
      }
    }
  }
</script>
<style scoped>
  a {
    overflow: visible;
  }
</style>
