/*
Name: BottomForm
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div>
    <div class="uk-margin-remove uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
      <div class="uk-container">v>
        <form
          @submit.prevent="send"
          class="uk-flex-center uk-margin-top uk-margin-bottom"
        >
          <div class="uk-width-1-1">
            <div class="fs24 fs24@s fs20@m fs30@l fnt-bld">{{ title }}</div>
          </div>
          <div class="uk-width-1-1">
            <div
              class="fs18 fs18@s fs16@m fs24@l fnt-med uk-width-1-1 uk-width-3-5@m uk-margin-top"
            >{{ subtitle }}</div>
          </div>
          <div class="uk-margin-remove" uk-grid>
            <div
              class="uk-margin-remove uk-padding-remove uk-width-1-1 uk-width-3-5@m uk-box-shadow-medium"
              uk-grid
            >
              <div class="uk-width-1-1 uk-width-1-2@m uk-padding-small">
                <div class="uk-width-1-1 uk-margin-small-bottom">
                  <div class="uk-position-relative">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input
                      class="uk-input"
                      type="text"
                      placeholder="Ваше имя:"
                      v-model="inputs.name"
                      required
                    />
                  </div>
                </div>
                <div class="uk-width-1-1 uk-margin-small-bottom">
                  <div class="uk-position-relative">
                    <span class="uk-form-icon" uk-icon="icon: phone"></span>
                    <input
                      class="uk-input"
                      type="text"
                      placeholder="Ваш телефон:"
                      v-model="inputs.phone"
                      required
                    />
                  </div>
                </div>
                <div class="uk-width-1-1 uk-margin-small-bottom">
                  <div class="uk-position-relative">
                    <span class="uk-form-icon" uk-icon="icon: file-text"></span>
                    <input
                      class="uk-input"
                      type="text"
                      placeholder="Дополнительная информация:"
                      v-model="inputs.email"
                    />
                  </div>
                </div>
              </div>
              <div class="uk-margin-remove-top uk-width-1-1 uk-width-1-2@m uk-padding-small">
                <textarea
                  class="uk-textarea textComment"
                  placeholder="текст письма:"
                  v-model="msg"
                  required
                ></textarea>
              </div>
              <div
                class="uk-padding-small uk-margin-small-top checkboxCallBack uk-width-1-1"
                uk-grid
              >
                <label class="uk-width-1-1 uk-width-2-3@m">
                  <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
                  Отправляя форму, вы соглашаетесь с обработкой
                  <a
                    :href="politika"
                    target="_blank"
                  >персональных данных</a>
                </label>
                <p class="uk-width-1-1 uk-width-1-3@m uk-text-center">
                  <button
                    type="submit"
                    class="uk-button uk-width-1-1 fs18 fs18@s fs16@m fs18@l uk-button-primary btnHow"
                  >{{buttonText}}</button>
                </p>
              </div>
            </div>
            <div class="imgRightDiv uk-margin-remove uk-visible@m uk-width-2-5@m">
              <img class="imgRight" :data-src="imgRight" alt uk-img />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import form from "../mixins/Form.js";
import inputMask from "../mixins/inputMask.js";

export default {
  name: "BottomForm",
  mixins: [form, inputMask],
  props: {
      politika: {
          type: String,
          default:"/wp-content/themes/agentstvo/public/politika.pdf",
      },
      popUpText:{
          type: String,
          default:"Ваше сообщение отправлено",
      },
      title: {
          type: String,
          default:"Хотите зарабатывать вместе с нами?",
      },
      subtitle: {
          type: String,
          default:"Мы поможем вам найти идеальную вакансию, с учетом ваших способностей.",
      },
      img: {
          type: String,
          default:"",
      },
      imgRight: {
          type: String,
          default:"https://cnet1.cbsistatic.com/img/2Uu-j9QWFbPTGqOFBIHEA3bFLMg=/1200x630/2020/05/12/47f08d3b-c5e7-4002-9128-1d5b6b9d778f/dell-xps-17.png",
      },
      buttonText: {
          type: String,
          default:"отправить",
      },
      staffId: {
        type: Number,
        default: 1320,
      },
      managerId: {
        type: Number,
      },
      classId: {
        type: Number,
      },
      sourceId: {
        type: Number,
      },
      
  },
  data() {
      return {
          checkPersoanalData: true,
      };
  },
  methods: {
    
      send() {

        this.formName = this.title;

        if (this.staffId !== undefined) {
          this.dataRequest.staffId = this.staffId;
        }

        if (this.managerId !== undefined) {
          this.dataRequest.managerId = this.managerId;
        }

        if (this.classId !== undefined) {
          this.dataRequest.classId = this.classId;
        }

        if (this.sourceId !== undefined) {
          this.dataRequest.sourceId = this.sourceId;
        };

        this.sendForm();
      },
    },
}
</script>

<style scoped>
.imgRightDiv {
  position: relative;
}
.imgRight {
  position: absolute;
  top: -100px;
  left: calc(-20%);
  right: auto;
  bottom: 0;
  display: flex;
  max-width: 800px;
}
.textComment {
  height: 140px;
}
.colorText {
  color: #009688;
}
.checkboxCallBack input {
  background-color: #009688;
  border: none;
}
.checkboxCallBack input:checked {
  background-color: #009688;
  border: none;
}
.checkboxCallBack a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
.btnHow {
  text-align: center;
  padding: 0;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHow:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
</style>
