<template lang="html">
  <div :class="parentClasses">
    <div :class="nameClasses" @click="openModal">
      {{ name }}
    </div>
  </div>
</template>
<script>

export default {
  name: 'ButtonModal',
  props: {
    nameClasses: {
      type: String,
      default: 'btn btn__tpl1 btn__green fr uk-text-lowercase'
    },
    parentClasses: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: 'Заказать звонок'
    },
    formName:  {
      type: String,
      required: true,
    },
    staffId: {
      type: Number
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number
    }
  },

  methods: {
    openModal() {

      let lead = {
        formName: this.formName,
      }

      if (this.staffId !== undefined) {
        lead.staffId = this.staffId
      }

      if (this.managerId !== undefined) {
        lead.managerId = this.managerId
      }

      if (this.classId !== undefined) {
        lead.classId = this.classId
      }

      if (this.sourceId !== undefined) {
        lead.sourceId = this.sourceId
      }

      this.$root.$refs.modalDefault.openModal(lead)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
