<template>
  <div class="calc-house">
    <div class="title">
      {{ title }}
    </div>

    <div >
      <div uk-grid="masonry: true">
        <div class="label_wrapper uk-width-1-3@m uk-width-1-1 uk-margin-small-top" v-for="(item, indexItem) in items" :key="indexItem">
          <div class="fnt-bld fs20@l uk-margin-bottom"> {{ item.title }} </div>
          <div v-if="item.type === 'radio'">
            <div class="label label__item uk-margin-bottom" v-for="(question, indexQuestion) in item.questions" :key="indexQuestion" >
              <label>
                <input type="radio" :name="`radio-${indexItem}`" class="uk-checkbox" :value="indexQuestion" v-model="item.checked">
                {{ question }}
              </label>
            </div>
          </div>

          <div v-else-if="item.type === 'checkbox'">
            <div class="label label__item uk-margin-small-bottom" v-for="(question, indexQuestion) in item.questions" :key="indexQuestion" >
              <label>
                <input type="checkbox" :name="`checkbox-${indexItem}`" class="uk-checkbox" :value="indexQuestion" v-model="item.checked">
                {{ question }}
              </label>
            </div>
          </div>
          <div v-if="item.subtitle" class="cl-v fs14">
            <hr class="uk-divider-icon uk-margin-small-bottom">
            <em>{{ item.subtitle }}</em>
          </div>
        </div>
      </div>

      <div class="label_wrapper uk-width-1-1" v-if="itemsMore.questions.length">
        <div class="fnt-bld fs20@l uk-margin-bottom uk-margin-top uk-width-1-1">Дополнительно</div>
        <div uk-grid="masonry: true" class="uk-child-width-1-3 uk-grid-collapse">
          <div class="label label__item uk-margin-top"
            v-for="(question, indexQuestion) in itemsMore.questions"
            :key="indexQuestion"
            >
            <label class="bg_grey uk-grid uk-grid-collapse uk-padding-small uk-grid-small mx385">
              <div class="uk-width-auto">
                <input type="checkbox" :name="`checkbox-more-${indexQuestion}`" class="uk-checkbox" :value="indexQuestion" v-model="itemsMore.checked">
              </div>
              <div class="uk-width-expand uk-margin-left">
                {{ question }}
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: 'CalcHouse',
  props: {
    title: {
      default: 'Рассчитать стоимость дома',
      type: String,
    }
  },
  //#fffecf
  data() {
    return {
      items: [
        {
          type: 'radio',
          title: 'Фундамент',
          questions: [
            'Ну бур сваях',
            'Монолитная подушка'
          ],
          checked: 0
        },
        {
          type: 'radio',
          title: 'Перекрытие фундамента',
          questions: [
          'Плиты',
          'На деревянных балках',
          'Монолитное перекрытие',
          ],
          checked: 1
        },
        {
          type: 'radio',
          title: 'Водосточная система',
          questions: [
          'Металлическая',
          'Пластиковая',
          ],
          checked: 1
        },
        {
          type: 'radio',
          title: 'Перекрытие первого этажа',
          questions: [
          'Плиты',
          'На деревянных балках',
          'Монолитное перекрытие',
          ],
          checked: 1
        },
        {
          type: 'radio',
          title: 'Перекрытие второго этажа',
          questions: [
          'Плиты',
          'На деревянных балках',
          'Монолитное перекрытие',
          ],
          checked: 1
        },
        {
          type: 'radio',
          title: 'Фасад здания',
          questions: [
          'Облицовочный кирпич',
          'Мокрый фасад (окрашенный)',
          'Сайдинг',
          'Без облицовки (брус)',
          ],
          checked: 2
        },
        {
          type: 'radio',
          title: 'Материал стен',
          questions: [
          'Кирпич',
          'Керамзитоблок',
          'Газобетон',
          'Керамический блок',
          'Оцилиндрованное бревно',
          'Брус',
          ],
          checked: 2
        },
        {
          type: 'radio',
          subtitle: 'В комплекте: москитная сетка, подоконник, откосы и отливы',
          title: 'Пластиковые окна',
          questions: [
          'KBE',
          'Rehau',
          'Veka',
          'Proplix',
          ],
          checked: 2
        },
        {
          type: 'radio',
          title: 'Утеплени стенн 100мм',
          questions: [
          'KBE',
          'Rehau',
          'Veka',
          'Proplix',
          ],
          checked: 2
        },
        {
          type: 'radio',
          title: 'Лестница',
          questions: [
            'Монолитная',
            'Бетонная',
          ],
          checked: 2
        },
        {
          type: 'radio',
          title: 'Утепление крыши',
          questions: [
            'Минеральный утеплитель',
            'Пенополистирол',
            'Пенопласт',
            'Пенопоулиретан',
          ],
          checked: 2
        },
        {
          type: 'radio',
          title: 'Отделка цоколя',
          questions: [
            'Природный камень',
            'Искуственный камень',
            'Сайдинг',
          ],
          checked: 2
        },
      ],

      itemsMore: {
        type: 'checkbox',
        title: 'Дополнительно',
        questions: [
          'Входная дверь',
          'Водоснабжение: скважина, обустроенная и готова к эксплуатации',
          'Электрика: установка и монтаж электрофурнитуры с устройством вводного щита и счетчиками (медный кабель ВВГ в гофре)',
          'Отмостка', 'Чистовая отделка', 'Входная группа', 'Забор',
          'Канализация: монтаж септика 10 м.3 , утепленная 110 труба с греющим кабелем, с установкой и выводами стояков по дому',
          'Система отопления',
          'Черновая отделка: штукатурка стен цементно-песочным раствором под маяк, стяжка пола из крупнозернистого песка, цемент М400, затирка швов между плитами перекрытия',
          'Система умный дом', 'Благоустройство территории',
        ],
        checked: []
      }

    }
  }
}
</script>

<style>
  .mx385 {
    max-width: 385px;
  }

  .bg_grey {
    background-color: #f2f2f2;
  }
</style>
