/*
Name: CallBackConsultation
Version: 1.1
Autor: Evgenii Morgunov
*/
<template>
  <div 
    class="uk-background-cover"
    :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-flex uk-flex-center">
      <form class @submit.prevent="send">
        <div>
          <div
            class="uk-width-1-1 fs18@s fs30 fs36@m fnt-bld uk-text-center titlecallBack"
          >{{ title }}</div>
          <div class="uk-width-1-1 fs14@s fs18 fs20@m uk-text-center subtitleCallBack">
            {{ subtitle }}
            <a class="phoneNumber" :href="telNumber">{{ phoneNumber }}</a>
          </div>
        </div>

        <div class="uk-card uk-card-body uk-flex uk-flex-center uk-box-shadow-medium cardCallBack">
          <div class="uk-width-1-3@m uk-margin-right uk-margin-small-bottom">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input
                class="uk-input placeholderCallBack"
                type="text"
                placeholder="Ваше имя"
                v-model="inputs.name"
              />
            </div>
          </div>

          <div class="uk-width-1-3@m uk-margin-large-right uk-margin-small-bottom">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: phone"></span>
              <input
                class="uk-input placeholderCallBack"
                type="text"
                placeholder="Ваш телефон"
                v-model="inputs.phone"
              />
            </div>
          </div>

          <div class="uk-width-1-3@m">
            <button type="submit" class="btn btn__tpl1 btn__green btnCallBack">{{buttonText}}</button>
          </div>
        </div>

        <div>
          <div class="uk-width-1-1 uk-margin-top uk-text-center uk-margin-bottom checkboxCallBack">
            <label>
              <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
              Отправляя форму, вы соглашаетесь с обработкой
              <a
                :href="politika"
                target="_blank"
              >персональных данных</a>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import form from "../mixins/Form.js";
import input from "../filters/Input.js";
import inputMask from "../mixins/inputMask";

export default {
  name: "CallBackConsultation",
  mixins: [form, input, inputMask],
  props: {
    title: {
      type: String,
      default: "Узнайте сумму вашего налогового вычета",
    },
    subtitle: {
      type: String,
      default: "Оставьте заявку и мы вам перезвоним или звоните нам по телефону:",
    },
    phoneNumber: {
      type: String,
      default: "+7 (3452) 69-23-47",
    },
    telNumber: {
      type: String,
      default: "tel:+73452692347",
    },
    buttonText: {
      type: String,
      default: "узнать сумму",
    },
    img: {
      type: String,
      default:"",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
    staffId: {
      type: Number,
    },
    managerId: {
      type: Number,
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number,
    },
  },
  data() {
            return {
                checkPersoanalData: true,
                inputs: {
                  phone: "",
                },
                inputs:{
                  name: "",
                }
            };
        },

  methods: {
    send() {
      this.formName = this.title;

      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId;
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId;
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId;
      }

      if (this.sourceId !== undefined) {
        lead.sourceId = this.sourceId;
      }

      this.sendForm();
    },
  },
};
</script>

<style lang="css" scoped>
.placeholderCallBack {
  border-radius: 8px;
  border: 1px rgba(204, 201, 201, 0.685) solid;
}
.phoneNumber {
  color: #009688;
  font-family: Gilroy-Semibold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.btnCallBack {
  text-align: center;
  height: 55px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
  width: 200px;
}
.btnCallBack:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
.checkboxCallBack {
  font-size: 14px;
}
.checkboxCallBack input {
  background-color: #009688;
  border: none;
}
.checkboxCallBack input:checked {
  background-color: #009688;
  border: none;
}
.checkboxCallBack a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 2560px) {
  .subtitleCallBack {
    font-size: 30px;
  }
  .titlecallBack {
    font-size: 56px;
  }
  .placeholderCallBack {
    width: 250px;
    font-size: 18px;
    height: 50px;
  }
  .btnCallBack {
    width: 250px;
    font-size: 18px;
    height: 50px;
  }
}
@media screen and (max-width: 1440px) {
  .subtitleCallBack {
    font-size: 26px;
  }
  .titlecallBack {
    font-size: 48px;
  }
  .placeholderCallBack {
    width: 250px;
    font-size: 18px;
    height: 50px;
  }
  .btnCallBack {
    width: 250px;
    font-size: 18px;
    height: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .subtitleCallBack {
    font-size: 20px;
  }
  .titlecallBack {
    font-size: 36px;
  }
}
@media screen and (max-width: 959px) {
  .btnCallBack {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .phoneNumber {
    font-size: 18px;
  }
  .btnCallBack {
    width: 180px;
  }
  .placeholderCallBack {
    width: 240px;
  }
  .subtitleCallBack {
    font-size: 18px;
  }
  .titlecallBack {
    font-size: 30px;
  }
}
@media screen and (max-width: 639px) {
  .subtitleCallBack {
    font-size: 14px;
  }
  .placeholderCallBack {
    width: 180px;
    font-size: 12px;
  }
  .btnCallBack {
    width: 140px;
    height: 50px;
    font-size: 14px;
  }
}
@media screen and (max-width: 580px) {
  .btnCallBack {
    width: 140px;
    height: 50px;
    font-size: 12px;
  }
  .titlecallBack {
    font-size: 20px;
  }
  .subtitleCallBack {
    font-size: 12px;
  }
  .phoneNumber {
    font-size: 14px;
  }
  .checkboxCallBack {
    font-size: 10px;
  }
}
@media screen and (max-width: 509px) {
  .titlecallBack {
    font-size: 14px;
  }
  .subtitleCallBack {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
  .phoneNumber {
    font-size: 10px;
  }
  .cardCallBack {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    flex-flow: column;
  }
  .placeholderCallBack {
    width: 220px;
    font-size: 12px;
  }
  .btnCallBack {
    width: 220px;
    font-size: 12px;
  }
  .checkboxCallBack {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
}
</style>
