/*
Name: CallBackHero
Version: 1.2
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-box-shadow-medium">
    <div class="uk-margin-remove uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
      <div class="uk-container">
        <form @submit.prevent="send" class="uk-flex-center uk-margin-top uk-margin-bottom uk-margin-left">
          <div class="uk-width-1-1">
            <div class="fs24 fnt-bld">{{ titleHero }}</div>
          </div>
          <div class="uk-width-1-1">
            <div class="fs18   uk-width-3-5@m uk-margin-top">{{ textHero }}</div>
          </div>
          <div class="uk-width-1-1 uk-margin-top">
            <div
              class="uk-width-3-4 uk-width-1-4@s uk-width-1-4@l uk-inline uk-position-relative consultation-form__input uk-width-1-3@s uk-width-1-3@m uk-margin-right"
            >
              <span uk-icon="icon: phone" class="uk-form-icon uk-icon"></span>
              <input
                type="text"
                placeholder="Ваш телефон"
                class="placeholderHero fs18 uk-input uk-form-large"
                v-model="inputs.phone"
              />
            </div>

            <button
              type="submit"
              class="uk-width-3-4 uk-width-1-4@s uk-width-1-4@l btnHero  btn__large btn__green uk-text-lowercase fs18 uk-padding-remove "
            >{{ buttonHero }}</button>
          </div>
          <div class="uk-width-1-1 uk-margin checkboxCallBack">
          <label>
            <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
            Отправляя форму, вы соглашаетесь с обработкой
            <a
              :href="politika"
              target="_blank"
            >персональных данных</a>
          </label>
        </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
    import form from "../mixins/Form.js";
    import input from "../filters/Input.js";
    import inputMask from "../mixins/inputMask.js";

    export default {
        name: "CallBackHero",
        mixins: [form, input, inputMask],
        props: {
            politika: {
                type: String,
                default: "/wp-content/themes/agentstvo/public/politika.pdf",
            },
            titleHero: {
                type: String,
                default: "Возврат налогового вычета",
            },
            textHero: {
                type: String,
                default:
                    "Мы вам поможем получить налоговый вычет и возмем на себя все бумажные хлопоты по подготовке документов.",
            },
            img: {
                type: String,
                default:
                    "https://www.prodespachos.com/wp-content/uploads/2020/07/C40A01B0-044C-4D0C-B6C6-1F7F8509D556.jpeg",
            },
            buttonHero: {
                type: String,
                default: "получить услугу",
            },
            staffId: {
                type: Number,
            },
            managerId: {
                type: Number,
            },
            classId: {
                type: Number,
            },
            sourceId: {
                type: Number,
            },
        },
        data() {
            return {
                checkPersoanalData: true,
                statusPhone: false,
                inputs: {
                    phone: "",
                },
            };
        },

        methods: {
            send() {
                this.formName = this.titleHero;

                if (this.staffId !== undefined) {
                    this.dataRequest.staffId = this.staffId;
                }

                if (this.managerId !== undefined) {
                    this.dataRequest.managerId = this.managerId;
                }

                if (this.classId !== undefined) {
                    this.dataRequest.classId = this.classId;
                }

                if (this.sourceId !== undefined) {
                    this.dataRequest.sourceId = this.sourceId;
                }

                this.sendForm();
            },
        },
    };
</script>

<style scoped>
.btnHero {
  text-align: center;
  cursor: pointer;
  height: 55px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHero:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
.placeholderHero {
  border-radius: 8px;
  border: 1px rgba(204, 201, 201, 0.685) solid;
}
.checkboxCallBack input {
  background-color: #009688;
  border: none;
}
.checkboxCallBack input:checked {
  background-color: #009688;
  border: none;
}
.checkboxCallBack a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
</style>
