/*
Name: CardsPartners
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-top uk-margin-bottom">
      <div class="uk-text-center uk-text-left@s">
        <div
          class="uk-width-1-1 uk-margin-small-bottom uk-card-title fs24 fs24@s fs20@m fs30@l fnt-bld"
        >{{ title }}</div>
      </div>
      <div uk-slider>
        <div class="uk-position-relative">
          <div
            class="uk-slider-container uk-light"
            uk-height-match="target: > ul > li > .uk-card-small"
          >
            <ul
              class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@m uk-child-width-1-3@l uk-padding-small"
              uk-height-match="target: > li"
              uk-grid
            >
              <li v-for="(cards, i) in cardJSON" :key="i">
                <div
                  class="uk-margin-left uk-margin-bottom uk-card-small uk-card-default uk-card-hover uk-card-body uk-padding-remove"
                >
                  <a
                    class="uk-text-center uk-text-left@s"
                    :uk-toggle="cards.targetCard"
                    :href="cards.urlCard"
                  >
                    <div class="uk-padding-small">
                      <div class="cardDiv uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-1-1 uk-width-3-5@s">
                          <div
                            class="titleCard fs24 fs24@s fs20@m fs24@l fnt-bld"
                          >{{ cards.titleCard }}</div>
                        </div>
                        <div class="uk-width-1-1 uk-flex uk-flex-center uk-width-2-5@s">
                          <button
                            class="btnAdv uk-padding-remove uk-width-1-1 uk-button uk-button-default fs16 fs20@l"
                          >{{ cards.buttonCard }}</button>
                        </div>
                      </div>
                      <div class="uk-margin-top">
                        <img :data-src="cards.imgCard" width height alt uk-img />
                      </div>
                      <div>
                        <p
                          class="subtitleCard uk-margin-remove-bottom fs18l fnt-med"
                        >{{ cards.subtitleCard }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="uk-hidden@s uk-dark">
            <a
              class="uk-margin-remove uk-position-center-left uk-slidenav-large uk-position-small"
              href="#"
              uk-slidenav-previous
              uk-slider-item="previous"
            ></a>
            <a
              class="uk-margin-remove uk-position-center-right uk-slidenav-large uk-position-small"
              href="#"
              uk-slidenav-next
              uk-slider-item="next"
            ></a>
          </div>
          <div class="uk-visible@s uk-dark">
            <a
              class="uk-margin-remove uk-position-center-left-out uk-slidenav-large uk-position-small"
              href="#"
              uk-slidenav-previous
              uk-slider-item="previous"
            ></a>
            <a
              class="uk-margin-remove uk-position-center-right-out uk-slidenav-large uk-position-small"
              href="#"
              uk-slidenav-next
              uk-slider-item="next"
            ></a>
          </div>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "CardsPartners",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: "Новые подарки и предложения от партнеров компании Веванта",
    },
    img: {
      type: String,
      default:"",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
  data(){
    return{

    }
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
  },
};
</script>

<style lang="css" scoped>
.cardDiv {
  height: 100px;
}
.titleCard {
  color: #009688;
}
.subtitleCard {
  color: #838080;
}
.btnAdv {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnAdv:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
@media screen and (max-width: 768px) {
  .cardDiv {
    height: 80px;
  }
}
@media screen and (max-width: 425px) {
  .cardDiv {
    height: 220px;
  }
}
</style>
