/*
Name: CardWithIcon
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-top uk-margin-bottom">
      <div :class="classTitle">{{ title }}</div>
      <div
        :class="width"
        class="uk-child-width-1-1 uk-text-center uk-margin-top"
        uk-height-match
        uk-grid
      >
        <div v-for="(cards, i) in cardJSON" :key="i">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img :data-src="cards.imgCard" width="60" height="60" alt uk-img />
            </div>
            <div class="uk-width-expand uk-text-left">
              <div :class="classTitleCard" :style="cards.styleCard">{{ cards.titleCard }}</div>
            </div>
          </div>
          <div
            :class="classTextCard"
            v-for="(message, i) in cards.textCard"
            :key="i"
          >{{ message.message }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "CardWithIcon",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: "Работа в центре недвижимости ВЕВАНТА",
    },
    classTitle:{
      type: String,
      default: "uk-card-title fs18 fs20@s fs24@m fs28@l fnt-bld",
    },
    classTitleCard:{
      type: String,
      default: "fs18 fs20@s fs24@l fnt-bld",
    },
    classTextCard:{
      type: String,
      default: "fs16 fs18@l uk-margin-top uk-text-left",
    },
    width: {
      type: String,
      default: "uk-child-width-1-3@s",
    },
    img: {
      type: String,
      default:"",
    },
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
  },
};
</script>

<style lang="css" scoped>
</style>
