<template>
  <div>
    <form class="consultation-form" @submit.prevent="send">
      <div class="uk-grid" uk-grid>
        <div class="uk-width-1-1 uk-width-2-3@m">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1 consultation-form__title">{{ title }}</div>
            <div class="uk-width-1-1@s uk-width-1-2@m">
              {{ subtitle }}
            </div>
            <div class="uk-width-1-1@s uk-width-1-2@m">
              <div class="consultation-form__phone">
                <a href="tel:+73452692347">+7 (3452) 69-23-47</a>
              </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-2@m">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input
                  class="uk-input"
                  type="text"
                  placeholder="Ваше имя"
                  v-model="inputs.name"
                />
              </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-2@m">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: phone"></span>
                <input
                  class="uk-input"
                  type="text"
                  placeholder="Ваш телефон"
                  v-model="inputs.phone"
                />
              </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-2@m">
              <div class="politica">
                Отправляя заявку, вы соглашаетесь на обработку
                <a :href="politika" target="_blank">персональных данных</a>
              </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-2@m uk-text-right">
              <button class="btn btn__tpl1 btn__green">
                получить консультацию
              </button>
            </div>
          </div>
        </div>
        <div class="uk-width-1-3 uk-text-center uk-visible@m">
          <img
            class="uk-border-circle uk-margin-small-top"
            src="https://vevanta.ru/wp-content/uploads/2020/10/agent_photo.jpg"
            alt=""
            uk-img
          />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import form from "../mixins/Form.js";
import input from "../filters/Input.js";
import inputMask from "../mixins/inputMask";

export default {
  name: "consultation",
  mixins: [form, input, inputMask],
  props: {
    title: {
      type: String,
      default: "Консультируем бесплатно",
    },
    subtitle: {
      type: String,
      default: "Оставьте заявку или звоните нам по телефону:",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
    staffId: {
      type: Number,
    },
    managerId: {
      type: Number,
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number,
    },
  },

  methods: {
    send() {
      this.formName = this.title;

      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId;
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId;
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId;
      }

      if (this.sourceId !== undefined) {
        lead.sourceId = this.sourceId;
      }

      this.sendForm();
    },
  },
};
</script>

<style lang="css" scoped>
.consultation-form__title {
  font-family: Gilroy-Bold;
  font-size: 28px;
  color: #333;
  margin-top: 15px;
}

.consultation-form {
  box-shadow: 0 0 42px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  padding: 30px 34px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.consultation-form__subtitle {
  font-family: Gilroy-Regular;
}
.consultation-form__block {
  margin-top: 20px;
}

.consultation-form__phone a {
  color: #212121;
  font-family: Gilroy-Semibold;
  font-size: 27px;
  text-decoration: none;
}

.consultation-form__subtitle,
.consultation-form__phone,
.consultation-form__input {
  margin-right: 20px;
}

.consultation-form__input {
  width: 33%;
}

@media screen and (max-width: 1200px) {
  .consultation-form__input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 580px) {
  .consultation-form__title {
    font-size: 21px;
  }
}
</style>
