<template>
  <div class="uk-padding-medium">
    <div class="uk-flex uk-margin-medium-bottom" v-for="feedback in feedbacks">
      <div class="uk-margin-small-right">
        <img :src="`${cdn}${placeholder}`" alt="" width="50" height="50" class="uk-border-circle">
      </div>
      <div class="uk-width-2-3">
        <div class="fs20"><b>{{feedback.name}}</b></div>
        <div><span v-for="rate in feedback.rating" uk-icon="icon:star"></span></div>
        <div>{{feedback.comment}} </div>
        <div class="uk-flex uk-margin-small-top" v-if="feedback.answer">
          <div class="uk-margin-small-right">
            <img :src="`${cdn}${feedback.up_photo}`" alt="" width="50" height="50" class="uk-border-circle">
          </div>
          <div>
            <div class="fs16"><b>{{feedback.up_lastname}} {{feedback.up_name}} {{feedback.up_middlename}}</b></div>
            <div> {{feedback.answer}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'feedback',
    props: {
      agentId: {
        type: Number,
        default: 84
      }
    },

    data() {
      return {
        feedbacks: [],
        agent_id: {
          id: this.agentId,
        },
      }
    },

    methods: {
      getData() {
        this.$axios
            .post("/users/get_feedback", this.agent_id)
            .then(res => {
              this.feedbacks = res.data
              console.log(this.feedbacks)
            })
      }
    },

    mounted() {
      this.getData()
    },

    computed: {
      cdn() {
        return this.$store.state.cdn;
      },
      placeholder() {
        return '/avatars/ava_ph.png';
      }
    }
  }
</script>

<style scoped>
  .uk-icon {
    color: #005a87;
  }
</style>
