<template>
  <div class="uk-margin">
    <section
      class="uk-section uk-background-center"
      data-src="https://vevanta.ru/wp-content/themes/agentstvo/assets/images/home/bunner.jpg"
      uk-img
      v-if="!isMobile"
    >
      <div class="uk-container filter-container">
        <div
          class="uk-grid-column-medium uk-grid-row-small uk-visible@m"
          uk-grid
        >
          <div class="uk-width-1-1 uk-width-1-6@l uk-width-1-2@s">
            <select class="uk-select br5" v-model.number="filter.action_id">
              <option value="1">Продажа</option>
              <option value="2">Аренда</option>
            </select>
          </div>
          <div class="uk-width-1-1 uk-width-1-4@l uk-width-1-2@s">
            <select class="uk-select br5" v-model.number="filter.class_id">
              <option value="" selected>Вся недвижимость</option>
              <option value="1">Квартиры</option>
              <option value="2">Комнаты</option>
              <option value="3">Дома, дачи, коттеджи</option>
              <option value="4">Гаражи</option>
              <option value="5">Коммерческая недвижимость</option>
              <option value="6">Земельные участки</option>
            </select>
          </div>
          <div class="uk-width-1-1 uk-width-1-4@l uk-width-1-2@s">
            <select class="uk-select br5" v-show="filter.class_id == ''">
              <option value="" selected>Все варианты</option>
            </select>
            <select
              class="uk-select br5"
              v-model.number="filter.type_flat_id"
              v-show="filter.class_id == 1"
            >
              <option value="" selected>Все квартиры</option>
              <option value="1">Студия</option>
              <option value="2">1к - квартира</option>
              <option value="3">2к - квартира</option>
              <option value="4">3к - квартира</option>
              <option value="5">4к - квартира</option>
              <option value="6">5к и более квартира</option>
            </select>
            <select
              class="uk-select br5"
              v-model="filter.type_room_id"
              v-show="filter.class_id == 2"
            >
              <option value="" selected>Все комнаты</option>
              <option value="1">1 - комната</option>
              <option value="2">2 - комнаты</option>
              <option value="3">3 - комнаты</option>
            </select>
            <select
              class="uk-select br5"
              v-model="filter.type_house_id"
              v-show="filter.class_id == 3"
            >
              <option value="" selected>Все варианты</option>
              <option value="1">Отдельный дом</option>
              <option value="2">Часть дома</option>
              <option value="3">Таунхаус</option>
              <option value="4">Дуплекс</option>
            </select>
            <select
              class="uk-select br5"
              v-model="filter.type_garage_id"
              v-show="filter.class_id == 4"
            >
              <option value="" selected>Любой гараж</option>
              <option value="1">Гараж</option>
              <option value="2">Машиноместо</option>
              <option value="3">Бокс</option>
            </select>
            <select
              class="uk-select br5"
              v-model="filter.type_commerce_id"
              v-show="filter.class_id == 5"
            >
              <option value="" selected>Все варианты</option>
              <option value="1">Для офиса</option>
              <option value="2">Торговое помещение</option>
              <option value="3">Свободное назначение</option>
              <option value="4">Общепит</option>
              <option value="5">Автосервис</option>
              <option value="6">Готовый бизнес</option>
              <option value="7">Склад</option>
              <option value="8">Земля комм. назначения</option>
              <option value="9">Гостиница</option>
              <option value="10">Производство</option>
            </select>
            <select
              class="uk-select br5"
              v-model="filter.type_area_id"
              v-show="filter.class_id == 6"
            >
              <option value="" selected>Назначение</option>
              <option value="1">Участки ИЖС</option>
              <option value="2">Участки СНТ</option>
              <option value="3">Участки ЛПХ</option>
            </select>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-3@l uk-width-1-2@s uk-position-relative"
          >
            <address-input
              :filter="filter"
              :address="insertedAddress"
              @select="selectAddress"
              inputClass="br5 uk-overflow-hidden"
            ></address-input>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2">
                <price-input
                  class="uk-input br5"
                  placeholder="Цена, от"
                  v-model="filter.price.min"
                >
                </price-input>
              </div>
              <div class="uk-width-1-2">
                <price-input
                  class="uk-input br5"
                  placeholder="Цена, до"
                  v-model="filter.price.max"
                >
                </price-input>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l">
            <div class="uk-grid-small" uk-grid v-if="filter.class_id != 6">
              <div class="uk-width-1-2">
                <input
                  class="uk-input br5"
                  type="number"
                  placeholder="Площадь м², от"
                  v-model.number="filter.square.min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input br5"
                  type="number"
                  placeholder="Площадь м², до"
                  v-model.number="filter.square.max"
                />
              </div>
            </div>
            <div class="uk-grid-small" uk-grid v-if="filter.class_id === 6">
              <div class="uk-width-1-2">
                <input
                  class="uk-input br5"
                  type="number"
                  placeholder="Соток от"
                  v-model.number="filter.land_area.min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input br5"
                  type="number"
                  placeholder="Соток до"
                  v-model.number="filter.land_area.max"
                />
              </div>
            </div>
          </div>
          <div class="uk-width-auto">
            <button
              class="uk-button btn btn__tpl3 fnt-semi uk-background-default cl-bk uk-width-1-1 br5"
              :class="{ btn__green: extendedFilter }"
              @click="extendedFilter = !extendedFilter"
            >
              Расширенный фильтр
            </button>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-6@l">
            <a
              class="btn btn__tpl3 uk-width-1-1 fnt-semi fs18 uk-button uk-background-default br5 pulse"
              href="https://vevanta.ru/map/"
              target="_blank"
            >
              Поиск на карте
            </a>
          </div>

          <div class="uk-width-expand">
            <button
              class="btn btn__tpl3 btn__green uk-width-1-1 br5 fnt-semi fs18"
              @click="getData()"
            >
              Поиск - {{ items_count }}
            </button>
          </div>
        </div>

        <div
          v-show="extendedFilter"
          class="uk-grid-column-medium uk-grid-row-small uk-visible@m uk-grid"
          uk-grid
        >
          <div class="uk-inline uk-width-expand">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <my-select
                isInput
                :data="microdistricts"
                :label="
                  filter.microdistricts.length > 0
                    ? `${getLabel('microdistricts')}`
                    : `Район`
                "
                _key="id"
                value="name"
                v-model="filter.microdistricts"
              ></my-select>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-6@l uk-width-1-2@s">
            <input
              class="uk-input br5"
              type="number"
              placeholder="№ объекта"
              v-model.number="filter.id"
            />
          </div>

          <div class="uk-width-1-1 uk-width-1-4@l uk-width-1-2@s">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <my-select
                isInput
                :data="agent_id"
                :label="
                  filter.agent_id.length > 0
                    ? `${getLabel('agent_id')}`
                    : `Ответственный`
                "
                _key="id"
                value="name"
                v-model="filter.agent_id"
              ></my-select>
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s"
            v-show="[1, 2].some(el => el == filter.class_id)"
          >
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <my-select
                isInput
                :data="complexes"
                :label="
                  filter.complexes.length > 0
                    ? `${getLabel('complexes')}`
                    : `ЖК`
                "
                _key="id"
                value="name"
                v-model="filter.complexes"
              ></my-select>
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <my-select
                :data="options.repairs_id"
                _key="id"
                :label="
                  filter.repairs_id.length > 0
                    ? `${getLabel('repairs_id')}`
                    : `Ремонт`
                "
                value="name"
                v-model="filter.repairs_id"
              ></my-select>
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-6@l uk-width-1-2@s"
            v-show="[3, 6].some(el => el == filter.class_id)"
          >
            <input
              class="uk-input br5"
              type="number"
              placeholder="Удаленность от города, до"
              v-model.number="filter.distance_city"
            />
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <my-select
                :data="bathroom"
                :label="
                  filter.bathroom.length > 0
                    ? `Санузел: ${getLabel('bathroom')}`
                    : `Санузел`
                "
                _key="id"
                value="name"
                v-model="filter.bathroom"
              ></my-select>
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small uk-grid-column-small"
            uk-grid
            v-show="[1, 2].some(el => el == filter.class_id)"
          >
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="number"
                placeholder="Этаж, от"
                v-model.number="filter.floor.min"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="number"
                placeholder="Этаж, до"
                v-model.number="filter.floor.max"
              />
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small uk-flex gap15"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="text"
                placeholder="Кухня м², от"
                v-model.number="filter.square_kitchen.min"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="text"
                placeholder="Кухня м², до"
                v-model.number="filter.square_kitchen.max"
              />
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <my-select
                :data="options.house_wall_id"
                :label="
                  filter.house_wall_id.length > 0
                    ? `${getLabel('house_wall_id')}`
                    : `Материал дома`
                "
                _key="id"
                value="name"
                v-model="filter.house_wall_id"
              ></my-select>
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small uk-grid-column-small"
            uk-grid
            v-show="[1, 2].some(el => el == filter.class_id)"
          >
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="number"
                placeholder="Год, от"
                v-model.number="filter.built_year.min"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="number"
                placeholder="Год, до"
                v-model.number="filter.built_year.max"
              />
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-small@l uk-width-1-2@s uk-grid-margin-small"
            v-show="filter.class_id == 3"
          >
            <input
              class="uk-input br5"
              type="number"
              placeholder="Этажность"
              v-model.number="filter.floors"
            />
          </div>

          <div
            class="uk-width-1-1 uk-width-1-6@l uk-width-1-2@s"
            :class="{
              'uk-grid-margin-small': [1, 2, 3].some(
                el => el == filter.class_id && filter.class_id
              )
            }"
          >
            <button
              class="uk-button btn btn__tpl3 uk-background-default cl-bk uk-width-1-1 br5 fnt-semi"
              @click.prevent="resetFilter()"
            >
              Отчистить фильтр
            </button>
          </div>
        </div>
      </div>
    </section>

    <div
      class="uk-button uk-button-primary uk-width-1-1 uk-hidden@m"
      @click="showFilter"
    >
      Фильтр
    </div>

    <div id="my-id" class="uk-modal-container" uk-modal v-if="isMobile">
      <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-grid-column-medium uk-grid-row-small" uk-grid>
          <div class="uk-width-1-1 uk-width-1-6@l uk-width-1-2@s">
            <select class="uk-select" v-model.number="filter.action_id">
              <option value="1">Продажа</option>
              <option value="2">Аренда</option>
            </select>
          </div>
          <div class="uk-width-1-1 uk-width-1-4@l uk-width-1-2@s">
            <select class="uk-select" v-model.number="filter.class_id">
              <option value="" selected>Вся недвижимость</option>
              <option value="1">Квартиры</option>
              <option value="2">Комнаты</option>
              <option value="3">Дома, дачи, коттеджи</option>
              <option value="4">Гаражи</option>
              <option value="5">Коммерческая недвижимость</option>
              <option value="6">Земельные участки</option>
            </select>
          </div>
          <div
            class="uk-width-1-1 uk-width-1-4@l uk-width-1-2@s"
            v-show="!!filter.class_id"
          >
            <select
              class="uk-select"
              v-model.number="filter.type_flat_id"
              v-show="filter.class_id == 1"
            >
              <option value="" selected>Все квартиры</option>
              <option value="1">Студия</option>
              <option value="2">1к - квартира</option>
              <option value="3">2к - квартира</option>
              <option value="4">3к - квартира</option>
              <option value="5">4к - квартира</option>
              <option value="6">5к и более квартира</option>
            </select>
            <select
              class="uk-select"
              v-model="filter.type_room_id"
              v-show="filter.class_id == 2"
            >
              <option value="" selected>Все комнаты</option>
              <option value="1">1 - комната</option>
              <option value="2">2 - комнаты</option>
              <option value="3">3 - комнаты</option>
            </select>
            <select
              class="uk-select"
              v-model="filter.type_house_id"
              v-show="filter.class_id == 3"
            >
              <option value="" selected>Все варианты</option>
              <option value="1">Отдельный дом</option>
              <option value="2">Часть дома</option>
              <option value="3">Таунхаус</option>
              <option value="4">Дуплекс</option>
            </select>
            <select
              class="uk-select"
              v-model="filter.type_garage_id"
              v-show="filter.class_id == 4"
            >
              <option value="" selected>Любой гараж</option>
              <option value="1">Гараж</option>
              <option value="2">Машиноместо</option>
              <option value="3">Бокс</option>
            </select>
            <select
              class="uk-select"
              v-model="filter.type_commerce_id"
              v-show="filter.class_id == 5"
            >
              <option value="" selected>Все варианты</option>
              <option value="1">Для офиса</option>
              <option value="2">Торговое помещение</option>
              <option value="3">Свободное назначение</option>
              <option value="4">Общепит</option>
              <option value="5">Автосервис</option>
              <option value="6">Готовый бизнес</option>
              <option value="7">Склад</option>
              <option value="8">Земля комм. назначения</option>
              <option value="9">Гостиница</option>
              <option value="10">Производство</option>
            </select>
            <select
              class="uk-select"
              v-model="filter.type_area_id"
              v-show="filter.class_id == 6"
            >
              <option value="" selected>Любые участки</option>
              <option value="1">Участки ИЖС</option>
              <option value="2">Участки СНТ</option>
              <option value="3">Участки ДНП</option>
            </select>
          </div>

          <div class="uk-width-1-1 uk-width-1-3@l uk-width-1-2@s">
            <my-select
              isInput
              :data="microdistricts"
              :label="
                filter.microdistricts.length > 0
                  ? `${getLabel('microdistricts')}`
                  : `Район`
              "
              _key="id"
              value="name"
              v-model="filter.microdistricts"
            ></my-select>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Цена, от"
                  v-model.number="filter.price.min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Цена, до"
                  v-model.number="filter.price.max"
                />
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l">
            <div class="uk-grid-small" uk-grid v-if="filter.class_id != 6">
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Площадь м², от"
                  v-model.number="filter.square.min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Площадь м², до"
                  v-model.number="filter.square.max"
                />
              </div>
            </div>
            <div class="uk-grid-small" uk-grid v-if="filter.class_id === 6">
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Соток от"
                  v-model.number="filter.land_area.min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Соток до"
                  v-model.number="filter.land_area.max"
                />
              </div>
            </div>
          </div>

          <div class="uk-inline uk-width-1-1">
            <address-input
              :filter="filter"
              :address="insertedAddress"
              @select="selectAddress"
              inputClass="br5 uk-overflow-hidden"
            ></address-input>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s"
            v-show="[1, 2].some(el => el == filter.class_id)"
          >
            <my-select
              isInput
              :data="complexes"
              :label="
                filter.complexes.length > 0 ? `${getLabel('complexes')}` : `ЖК`
              "
              _key="id"
              value="name"
              v-model="filter.complexes"
            ></my-select>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <my-select
              :data="options.repairs_id"
              _key="id"
              :label="
                filter.repairs_id.length > 0
                  ? `${getLabel('repairs_id')}`
                  : `Ремонт`
              "
              value="name"
              v-model="filter.repairs_id"
            ></my-select>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <my-select
              :data="bathroom"
              :label="
                filter.bathroom.length > 0
                  ? `Санузел: ${getLabel('bathroom')}`
                  : `Санузел`
              "
              _key="id"
              value="name"
              v-model="filter.bathroom"
            ></my-select>
          </div>

          <div
            class="uk-grid-small uk-grid-margin-small"
            uk-grid
            v-show="[1, 2].some(el => el == filter.class_id)"
          >
            <div class="uk-width-1-2">
              <input
                class="uk-input"
                type="number"
                placeholder="Этаж, от"
                v-model.number="filter.floor.min"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                class="uk-input"
                type="number"
                placeholder="Этаж, до"
                v-model.number="filter.floor.max"
              />
            </div>
          </div>

          <div
            class="uk-grid-small uk-grid-margin-small"
            uk-grid
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="number"
                placeholder="Кухня м², от"
                v-model.number="filter.square_kitchen.min"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                class="uk-input br5"
                type="number"
                placeholder="Кухня м², до"
                v-model.number="filter.square_kitchen.max"
              />
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s uk-grid-margin-small"
            v-show="[1, 2, 3].some(el => el == filter.class_id)"
          >
            <my-select
              :data="options.house_wall_id"
              :label="
                filter.house_wall_id.length > 0
                  ? `${getLabel('house_wall_id')}`
                  : `Материал дома`
              "
              _key="id"
              value="name"
              v-model="filter.house_wall_id"
            ></my-select>
          </div>

          <div
            class="uk-grid-small uk-grid-margin-small"
            uk-grid
            v-show="[1, 2].some(el => el == filter.class_id)"
          >
            <div class="uk-width-1-2">
              <input
                class="uk-input"
                type="number"
                placeholder="Год, от"
                v-model.number="filter.built_year.min"
              />
            </div>
            <div class="uk-width-1-2">
              <input
                class="uk-input"
                type="number"
                placeholder="Год, до"
                v-model.number="filter.built_year.max"
              />
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s"
            v-show="[3, 6].some(el => el == filter.class_id)"
          >
            <input
              class="uk-input"
              type="number"
              placeholder="Удаленность от города, до"
              v-model.number="filter.distance_city"
            />
          </div>

          <div
            class="uk-width-1-1 uk-width-small@l uk-width-1-2@s uk-grid-margin-small"
            v-show="filter.class_id == 3"
          >
            <input
              class="uk-input"
              type="number"
              placeholder="Этажность"
              v-model.number="filter.floors"
            />
          </div>

          <div class="uk-width-1-1 uk-width-small@l uk-width-1-2@s">
            <input
              class="uk-input"
              type="number"
              placeholder="№ объекта"
              v-model.number="filter.id"
            />
          </div>

          <div class="uk-width-1-1 uk-width-1-5@l uk-width-1-2@s">
            <my-select
              isInput
              :data="agent_id"
              :label="
                filter.agent_id.length > 0
                  ? `${getLabel('agent_id')}`
                  : `Ответственный`
              "
              _key="id"
              value="name"
              v-model="filter.agent_id"
            ></my-select>
          </div>

          <div
            class="uk-width-1-1 uk-width-1-6@l uk-width-1-2@s uk-grid-margin-small"
          >
            <button
              class="uk-button uk-button-default uk-width-1-1"
              @click.prevent="resetFilter()"
            >
              Отчистить фильтр
            </button>
          </div>
          <div class="uk-width-1-1">
            <a
              class="btn btn__tpl3 uk-height-1-1 uk-width-1-1 fs18 uk-button uk-button-default uk-background-default"
              href="https://vevanta.ru/map/"
              target="_blank"
            >
              Поиск на карте
            </a>
          </div>

          <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@l">
            <div class="uk-margin">
              Найдено: <b>{{ items_count }}</b> варианта(ов)
            </div>
          </div>

          <div class="uk-width-expand">
            <button
              class="btn btn__tpl3 btn__green uk-width-1-1 br5 fnt-semi fs18"
              @click="getData(), hideFilter()"
            >
              Поиск
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mySelect from "./multiSelect";
import functions from "../mixins/functions";
import options from "../mixins/Object/Options";
import addressInput from "./AddressInput";

import PriceInput from "./PriceInput";

export default {
  mixins: [functions, options],
  data() {
    return {
      microdistricts: [],
      complexes: [],
      extendedFilter: false,
      agent_id: [],
      houses: [],
      bathroom: [],

      insertedAddress: "",
      addressOptions: [],
      input: null
    };
  },
  name: "FilterItems",
  props: {
    settings: {
      type: Array,
      default: () => []
    }
  },
  components: { mySelect, addressInput, PriceInput },
  created() {
    this.getDataDebounce = this.debounce(this.getData, 1000);
  },

  mounted() {
    this.setFilter();
    this.getDataDebounce();
    this.getOptions();
  },

  watch: {
    filter: {
      deep: true,
      handler() {
        if (!this.isMobile) {
          this.getDataDebounce();
        }
      }
    }
  },

  computed: {
    filter() {
      return this.$store.state.filter;
    },
    items_count() {
      return this.$store.state.items_count;
    }
  },
  methods: {

    getOptions() {
      this.$axios.post("/catalog/get_addresses").then(res => {
        this.microdistricts = res.data.districts;
        this.tracts = res.data.tracts;
        this.complexes = res.data.complexes;
        this.agent_id = res.data.users;
        this.bathroom = res.data.bathroom;
      });
    },
    getLabel(object) {
      return (this[object] || this.options[object])
        .filter(elem => {
          return Array.isArray(this.filter[object])
            ? this.filter[object].includes(elem.id)
            : this.filter[object] == elem.id;
        })
        .map(el => el.name)
        .join(", ");
    },

    selectAddress(option) {
      this.insertedAddress = option.value;
    },

    resetFilter() {
      this.insertedAddress = "";
      this.$store.commit("RESET_FILTER");
    },

    setFilter() {
      if (this.settings.length) {
        this.settings.forEach(item => {
          if (Object.entries(item)[0][0] == "search_string") {
            this.insertedAddress = Object.entries(item)[0][1];
            return;
          }
          this.$store.commit("UPDATE_FILTER_VALUE", Object.entries(item)[0]);
        });
      }
    },

    getData() {
      this.$store.commit("SET_DATA_ITEMS", []);
      this.$store.commit("SET_STATUS_ITEMS", 0);
      this.$store.commit("SET_PAGE", 1);
      this.$store.dispatch("GET_DATA");
    },

    showFilter() {
      UIkit.modal("#my-id").show();
    },

    hideFilter() {
      UIkit.modal("#my-id").hide();
    }
  }
};
</script>

<style scoped>
.filter-container {
  background-color: rgba(72, 72, 72, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.pulse {
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0.6);
  }
  60% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 186, 182, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 186, 182, 0.6);
  }
  60% {
    -moz-box-shadow: 0 0 0 10px rgba(0, 186, 182, 0);
    box-shadow: 0 0 0 10px rgba(0, 186, 182, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 186, 182, 0);
    box-shadow: 0 0 0 0 rgba(0, 186, 182, 0);
  }
}
</style>
