<template>
  <div class="border__top uk-width-1-1  uk-margin-small-top uk-child-width-1-1 uk-child-width-1-5@m" uk-grid>
      <div v-for="(inf, i) in info" :key="i">
        <img :src="inf.marker" alt="" class="icon__top">
          <div><b>{{inf.title}}</b></div>
          <div class="uk-text-small">{{inf.text}}</div>
      </div>
  </div>
</template>
<script>
  export default {
    name: 'FiveCards',
    props: ["marker", "info"]
  }
</script>
<style scoped>
  .border__top {
    border-top: 4px solid lightgrey;
    position: relative;
    left: 40px;
  }
  .icon__top {
    position: relative;
    top: -15px;
  }

  .uk-first-column {
    padding-left: 0px;
  }

  @media screen and (max-width: 959px) {

    .border__top {
      border-left: 4px solid lightgrey;
      border-top: none;
      position: relative;
      left: 30px;
    }

    .border__top > div {
      position: relative;
      left: -15px;
    }

    .icon__top {
      position: relative;
      top: 20px;
      left: -28px;
    }

    .uk-first-column {
      padding-left: 30px;
    }
  }
</style>
