<template>
<div class="uk-flex uk-flex-center uk-width-1-1" :class="{ 'agent-form': imageType == 'agent'}">
  <div class="uk-box-shadow-medium uk-margin-top uk-margin-bottom uk-width-1-1 uk-background-default">
      <form class="uk-flex uk-flex-wrap" @submit.prevent="send">
        <div class="form__img uk-width-1-3@m uk-width-1-1">
          <template v-if="imageType == 'background'">
            <div
              class="uk-padding-remove-left uk-padding-remove-right"
            >
              <img :data-src="img" alt="" uk-img />
            </div>
          </template>

          <template v-if="imageType == 'agent'">
            <div
              class="uk-padding uk-flex uk-flex-center uk-flex-middle uk-flex-column"
            >
              <div class="user-photo">
                <img :src="img" alt="" />
              </div>
              <p
                class="uk-margin-small uk-margin-remove-bottom fs22 uk-text-bold uk-text-center"
                v-if="agentName"
              >
                {{ agentName }}
              </p>
              <p class="uk-margin-remove uk-text-center" v-if="agentPosition">
                {{ agentPosition }}
              </p>
            </div>
          </template>
        </div>
        <div
          class="uk-width-expand@l uk-width-1-1 uk-flex uk-flex-center uk-flex-middle uk-padding-small"
        >
          <div class="uk-inline uk-text-center">
            <div class="fs20 fs28@m fnt-bld">{{ title }}</div>
            <div class="fs16 fs20@m fnt-med" v-html="getSubtitle"></div>
            <div
              class="uk-grid uk-grid-small uk-flex-center uk-margin-medium-top uk-child-width-1-2@l"
            >
              <div class="uk-margin-small-bottom">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: user"></span>
                  <input
                    class="uk-input uk-form-large"
                    type="text"
                    placeholder="Ваше имя"
                    v-model="inputs.name"
                  />
                </div>
              </div>
              <div class="uk-margin-small-bottom">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: phone"></span>
                  <input
                    class="uk-input uk-form-large"
                    type="text"
                    placeholder="Ваш телефон"
                    v-model="inputs.phone"
                  />
                </div>
              </div>
              <div class="uk-margin-small-bottom uk-width-1-1" v-if="isComment">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: comment"></span>
                  <input
                    class="uk-input uk-form-large"
                    type="text"
                    placeholder="Комментарий"
                    v-model="inputs.comment"
                  />
                </div>
              </div>
            </div>

            <div class="politica uk-text-left">
              Отправляя заявку, вы соглашаетесь на обработку
              <a :href="politika" target="_blank">персональных данных</a>
            </div>

            <div class="uk-margin-small">
              <button
                type="submit"
                class="btn btn__tpl3 btn__large btn__green uk-text-lowercase fnt-med uk-width-auto@m uk-width-1-1"
              >
                {{ buttonName }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import form from "../mixins/Form.js";
import input from "../filters/Input.js";
import inputMask from "../mixins/inputMask.js";

export default {
  name: "form2",
  mixins: [form, input, inputMask],
  props: {
    title: {
      type: String,
      default: "Записаться на просмотр"
    },
    subtitle: {
      type: String,
      default: "Проведем для вас бесплатную экскурсию"
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf"
    },
    img: {
      default:
        "https://vevanta.ru/wp-content/themes/agentstvo/assets/images/lp/auto.png",
      type: String
    },
    imageType: {
      default: "background", //background, agent
      type: String
    },
    agentName: {
      default: "",
      type: String
    },
    agentPosition: {
      default: "Сотрудник АН Веванта",
      type: String
    },
    form: {
      default: "Записаться на просмотр",
      type: String
    },
    buttonName: {
      default: "Записаться на просмотр",
      type: String
    },
    staffId: {
      type: Number
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number
    },
    sourceId: {
      type: Number
    },
    isComment: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      statusPhone: false
    };
  },

  computed: {
    getSubtitle() {
      let reg = /((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,12}/g;
      return this.subtitle.replace(reg, '<a a href="tel:$&">$&</a>');
    }
  },
  methods: {
    send() {
      this.formName = this.form;

      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId;
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId;
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId;
      }

      if (this.sourceId !== undefined) {
        this.dataRequest.sourceId = this.sourceId;
      }
      this.sendForm();
    }
  }
};
</script>

<style lang="css" scoped>
.form__img {
  padding: 0;
}
.agent-form {
  padding: 0px 100px;
}
.user-photo {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(153, 153, 153, 0.39);
}
@media screen and (max-width: 640px) {
  .agent-form {
    padding: 0
  }
}
</style>
