/*
Name: ForWhat
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-large-top">
      <div
        class="uk-width-1-1 uk-text-lead fnt-bld uk-margin-little-bottom fs30 fs36@m uk-text-left titleHow"
      >{{ title }}</div>
      <div
        class="uk-child-width-1-4@m uk-margin-small-top"
        uk-grid
        uk-height-match="target: > div > .uk-card"
      >
        <div>
          <a
            :href="urlCardFirst"
            class="uk-card uk-card-default uk-card-hover uk-card-body uk-padding-small"
          >
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span class="circle">
                  <span class="iconHow" uk-icon="icon: home; ratio: 1"></span>
                </span>
              </div>
              <div class="uk-width-expand">
                <div
                  class="titleCard uk-card-title uk-margin-remove-bottom fnt-bld fs18 fs20@m"
                >{{ titleCardFirst }}</div>
              </div>
            </div>
            <p class="subtitleCard fs14 fs14@m">{{ subtitleCardFirst }}</p>
          </a>
        </div>
        <div>
          <a
            :href="urlCardSecond"
            class="uk-card uk-card-default uk-card-hover uk-card-body uk-padding-small"
          >
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span class="circle">
                  <span class="iconHow" uk-icon="icon: lock; ratio: 1"></span>
                </span>
              </div>
              <div class="uk-width-expand">
                <div
                  class="titleCard uk-card-title uk-margin-remove-bottom fnt-bld fs18 fs20@m"
                >{{ titleCardSecond }}</div>
              </div>
            </div>
            <p class="subtitleCard fs14 fs14@m">{{ subtitleCardSecond }}</p>
          </a>
        </div>
        <div>
          <a
            :href="urlCardThird"
            class="uk-card uk-card-default uk-card-hover uk-card-body uk-padding-small"
          >
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span class="circle">
                  <span class="iconHow" uk-icon="icon: download; ratio: 1"></span>
                </span>
              </div>
              <div class="uk-width-expand">
                <div
                  class="titleCard uk-card-title uk-margin-remove-bottom fnt-bld fs18 fs20@m"
                >{{ titleCardThird }}</div>
              </div>
            </div>
            <p class="subtitleCard fs14 fs14@m">{{ subtitleCardThird }}</p>
          </a>
        </div>
        <div>
          <a
            :href="urlCardFourth"
            class="uk-card uk-card-default uk-card-hover uk-card-body uk-padding-small"
          >
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <span class="circle">
                  <span class="iconHow" uk-icon="icon: user; ratio: 1"></span>
                </span>
              </div>
              <div class="uk-width-expand">
                <div
                  class="titleCard uk-card-title uk-margin-remove-bottom fnt-bld fs18 fs20@m"
                >{{ titleCardFourth }}</div>
              </div>
            </div>
            <p class="subtitleCard fs14 fs14@m">{{ subtitleCardFourth }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ForWhat",
  props: {
    title: {
      type: String,
      default: "С нами легко и удобно",
    },
    titleCardFirst: {
      type: String,
      default: "Ипотека прямо из дома",
    },
    subtitleCardFirst: {
      type: String,
      default: "Оставьте заявку и мы оформим для вас ипотеку дистанционно, электронная регистрация сделки с ипотекой не требует вашего визита в МФЦ",
    },
    urlCardFirst: {
      type: String,
      default: "https://vevanta.ru/jelektronnaja-registracija-sdelki/",
    },
    titleCardSecond: {
      type: String,
      default: "Безопасная сделка",
    },
    subtitleCardSecond: {
      type: String,
      default: "Наши юристы и служба безопасности проверяют сделки со 100% гарантией безопасности",
    },
    urlCardSecond: {
      type: String,
      default: "https://vevanta.ru/yuridicheskie-uslugi/",
    },
    titleCardThird: {
      type: String,
      default: "Самые низкие ставки",
    },
    subtitleCardThird: {
      type: String,
      default: "Только для наших клиентов у нас есть партнерские программы и эксклюзивные предложения банков",
    },
    urlCardThird: {
      type: String,
      default: "https://vevanta.ru/refinansirovanie-ipotechnogo-kredita/",
    },
    titleCardFourth: {
      type: String,
      default: "Личный менеджер",
    },
    subtitleCardFourth: {
      type: String,
      default: "Ваш персональный менеджер подберет для вас идельный вариант ипотеки и организует экскурсию по обьектам заинтересовавшей вас недвижимости",
    },
    urlCardFourth: {
      type: String,
      default: "https://vevanta.ru/kontakty/",
    },
    img: {
      type: String,
      default:"",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
};
</script>

<style lang="css" scoped>
.iconHow {
  color: #009688;
}
.circle {
  border-radius: 50%;
  border: 2px #009688 solid;
  padding: 8px;
  background-color: #fff;
  text-align: center;
}
.titleCard {
  color: #077a6f;
}
.subtitleCard{
  color: #363838
}
.subtitleCard:hover{
  color: #363838
}
</style>
