<template>
  <div class="uk-flex-center uk-flex uk-align-center" :class="getSizeClass">
    <div
      class="object__gallery uk-margin-bottom uk-width-1-1"
      v-if="!!photosJSON && photosJSON.length > 0"
    >
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
        uk-slideshow="index: 0"
        ref="mainSlider"
      >
        <ul class="uk-slideshow-items" uk-lightbox="animation: slide">
          <li v-for="(photo, i) in photosJSON" :key="i">
            <div
              v-if="photo.photo120"
              :data-src="`${cdn}${photo.photo120}`"
              uk-img
              class="blur20 uk-position-absolute uk-background-cover uk-position-top-left uk-height-1-1 uk-width-1-1 uk-background-blend-overlay"
            ></div>
            <div>
              <a
                :href="`${cdn}${photo.photo1024 ? photo.photo1024 : photo.url}`"
              >
                <div
                  :data-src="
                    `${cdn}${photo.photo1024 ? photo.photo1024 : photo.url}`
                  "
                  uk-img
                  class="gallery__bg uk-position-absolute uk-height-1-1 uk-width-1-1"
                  :class="background_size_class"
                ></div>
              </a>
            </div>
          </li>
        </ul>
        <div class="slider__route">
          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slideshow-item="previous"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slideshow-item="next"
          ></a>
        </div>
      </div>
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
        uk-slider="finite: false"
        ref="mainSlideshow"
        v-if="is_slider"
      >
        <ul class="uk-slider-items">
          <li v-if="geo_lon && geo_lat">
            <div
              href="#map-modal"
              uk-toggle
              class="uk-position-relative slider-image"
              :style="{
                backgroundImage: `url(https://static.maps.2gis.com/1.0?center=${getCoords}&markers=${getCoords}&zoom=15&size=200,200)`
              }"
              @click="loadMap"
            ></div>
          </li>

          <li
            v-if="!!youtube"
            class="youtube uk-position-relative"
            href="#youtube-modal"
            uk-toggle
          >
            <img
              :src="`//img.youtube.com/vi/${getYoutubeURL}/3.jpg`"
              width="160"
              height="130"
            />
            <div class="play-button"></div>
          </li>

          <li v-if="is_bus_tour">
            <a
              href="https://vevanta.ru/avtobusnyj-tur-s-vevanta/"
              target="_blank"
            >
              <div
                class="slider-image"
                :style="{
                  backgroundImage: `url(https://vevanta.ru/wp-content/uploads/2020/12/bustour.jpg)`
                }"
              ></div>
            </a>
          </li>

          <li v-for="(photo, i) in photosJSON" :key="i">
            <div
              class="slider-image"
              :style="{
                backgroundImage: `url(${cdn}${
                  photo.photo360 ? photo.photo360 : photo.url
                })`
              }"
              :class="{ active: i == currentPhoto }"
              @click="setMainPhoto(i)"
            ></div>
          </li>
        </ul>
        <a
          class="uk-position-center-left uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-previous
          uk-slider-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-next
          uk-slider-item="next"
        ></a>
      </div>

      <div id="map-modal" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
          <button
            class="uk-modal-close-default uk-close-large"
            type="button"
            uk-close
            @click="showModal = !showModal"
          ></button>
          <house-map
            v-if="showModal"
            :coords="{ geo_lat, geo_lon }"
            :lite_mode="lite_mode"
            :class_id="class_id"
            :action_id="action_id"
          ></house-map>
        </div>
      </div>

      <div id="youtube-modal" uk-modal v-if="youtube">
        <div class="uk-modal-dialog uk-margin-auto-vertical">
          <button
            class="uk-modal-close-default"
            type="button"
            uk-close
          ></button>
          <div
            class="uk-grid-collapse uk-child-width-1-1 uk-flex-middle"
            uk-grid
          >
            <iframe
              height="400px"
              :src="`https://www.youtube.com/embed/${getYoutubeURL}`"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <template v-else>
      <div class="uk-position-relative" style="min-height: 450px" uk-lightbox>
        <div
          href="https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg"
          data-src="https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg"
          uk-img
          class="blur20 uk-position-absolute uk-background-cover uk-position-top-left uk-height-1-1 uk-width-1-1 uk-background-blend-overlay"
        ></div>
        <a
          href="https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg"
        >
          <div
            data-src="https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg"
            uk-img
            class="gallery__bg uk-position-absolute uk-height-1-1 uk-width-1-1 uk-background-contain"
          ></div>
        </a>
      </div>
    </template>
  </div>
</template>

<script>
import houseMap from "./map/Objects/HousesMap";

export default {
  props: {
    photos: {
      type: String,
      default: ''
    },
    geo_lon: {
      type: String,
      default: null
    },
    geo_lat: {
      type: String,
      default: null
    },
    youtube: {
      type: String,
      default: null
    },
    is_bus_tour: {
      type: Boolean,
      default: false
    },
    cdn: {
      type: String,
      default: "https://cloud.vevanta.ru"
    },
    background_size_class: {
      type: String,
      default: "uk-background-contain"
    },
    lite_mode: {
      type: Boolean,
      default: true
    },
    is_slider: {
      type: Boolean,
      default: true
    },
    size: {
      type: String,
      default: "large"
    },
    class_id: {
      type: Number,
      default: 1
    },
    action_id: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      currentPhoto: 0,
      showModal: false
    };
  },
  mounted() {
    if (this.$refs.mainSlider) {
      this.$refs.mainSlider.addEventListener("itemshow", e => {
        let index = e.detail[0].index;
        UIkit.slider(this.$refs.mainSlideshow).show(index);
        this.currentPhoto = index;
      });
    }
  },
  methods: {
    setMainPhoto(index) {
      UIkit.slideshow(this.$refs.mainSlider).show(index);
      this.currentPhoto = index;
    },
    loadMap() {
      this.showModal = true;
    }
  },
  computed: {
    getSizeClass() {
      if (this.size == "large") return "uk-width-1-1 large-slider";
      if (this.size == "small") return "uk-width-2-3 small-slider";
    },
    getCoords() {
      return `${this.geo_lon},${this.geo_lat}`;
    },
    photosJSON() {
      return JSON.parse(this.photos);
    },
    getYoutubeURL() {
      let url = this.youtube.split("?v=")[1].split("&feature")[0];
      return url;
    }
  },
  components: {
    houseMap
  }
};
</script>

<style scoped>
.uk-slider-items {
  margin-top: 5px;
  gap: 10px;
}

.uk-slider-items li div {
  border-radius: 5px;
  cursor: pointer;
}

.uk-slider-items .slider-image {
  height: 120px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.small-slider .uk-slider-items .slider-image {
  height: 100px;
}

.large-slider .uk-slider-items .slider-image {
  height: 120px;
}

@media screen and (max-width: 640px) {
  .large-slider .uk-slider-items .slider-image,
  .small-slider .uk-slider-items .slider-image {
    height: 70px;
    width: 70px;
  }
}

.active {
  border: 3px solid #00bab6ad;
}

.youtube {
  cursor: pointer;
}

.play-button {
  height: 60px;
  width: 60px;
  background-image: url("https://vevanta.ru/wp-content/uploads/2020/12/youtube.png");
  background-size: cover;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  filter: brightness(0.7);
  transition: 0.1s ease;
}

.youtube:hover .play-button {
  filter: brightness(1);
  opacity: 1;
}

.uk-modal-close-default {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
</style>
