/*
Name: HeroMiddle
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div>
      <div class="uk-container">
        <div>
          <div
            :style="styleDarkDiv"
            class="uk-flex uk-flex-center uk-margin-large-top uk-margin-large-bottom uk-margin-large-right uk-margin-large-left"
          >
            <div
              class="uk-flex uk-flex-center uk-margin-large-top uk-margin-large-bottom uk-width-1-1 uk-width-2-3@s uk-width-1-2@m uk-text-center uk-padding-small"
              uk-grid
            >
              <div :style="styleText" class="fs22 fs24@s fs30@l fnt-bld">{{title}}</div>
              <div class="uk-width-1-1 uk-margin-top">
                <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s fs18" uk-grid>
                  <div>
                    <div class="uk-inline uk-width-1-1">
                      <input
                        required
                        v-model="firstName"
                        class="uk-input uk-padding-small"
                        type="text"
                        placeholder="Имя"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="uk-inline uk-width-1-1">
                      <input
                        required
                        v-model="lastName"
                        class="uk-input uk-padding-small"
                        type="text"
                        placeholder="Фамилия"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="uk-inline uk-width-1-1">
                      <input
                        required
                        v-model="inputs.phone"
                        class="uk-input uk-padding-small"
                        type="text"
                        placeholder="Номер телефона"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="uk-inline uk-width-1-1">
                      <input
                        required
                        v-model="vacansy"
                        class="uk-input uk-padding-small"
                        type="text"
                        placeholder="Вакансия"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div :style="stylePolitika" class="checkbox uk-width-1-1 fs12 uk-margin-small-top">
                <label>
                  <input
                    :style="stylePolitikaInput"
                    class="uk-checkbox"
                    type="checkbox"
                    checked
                    v-model="checkPersoanalData"
                  />
                  Отправляя форму, вы соглашаетесь с обработкой
                  <a
                    :style="stylePolitikaLink"
                    :href="politika"
                    target="_blank"
                  >персональных данных</a>
                </label>
              </div>
              <div class="uk-margin-top uk-width-1-1">
                <div
                  class="js-upload uk-text-center uk-margin-small-bottom uk-text-left@s uk-grid-small uk-flex-center uk-flex-left@s uk-flex-middle@s"
                  uk-grid
                >
                  <div class="uk-width-auto">
                    <img :data-src="imgUpload" width="15" height="15" alt uk-img />
                  </div>
                  <div uk-form-custom>
                    <input
                      type="file"
                      multiple
                      ref="files"
                      accept=".pdf, .docx, .txt"
                      @change="uploadFile()"
                    />
                    <span :style="styleText" class="fs16 fs18@s fnt-med uk-link">{{textUpload}}</span>
                  </div>
                </div>
                <div class="uk-flex uk-flex-wrap">
                  <div
                    v-for="(file, i) in files"
                    class="uk-card uk-card-default uk-padding-small uk-margin-small-right uk-margin-small-bottom"
                    :key="i"
                  >
                    <div
                      class="uk-position-top-right uk-background-muted remove-button"
                      @click="removeFile(i)"
                    >
                      <span uk-icon="icon: close; ratio: 1"></span>
                    </div>
                    <div>{{file.name}}</div>
                  </div>
                </div>
              </div>
              <div class="uk-width-1-1 uk-margin-top">
                <button
                  @click="sendForm"
                  class="btnForm uk-padding-remove uk-width-1-1 uk-width-3-5@s uk-width-3-5@m uk-width-1-3@l uk-button uk-button-default fs18"
                >{{ buttonText }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "../mixins/Form.js";
import mSelect from "./multiSelect";
import inputMask from "../mixins/inputMask";

export default {
  name: "HeroMiddle",
  mixins: [Form, inputMask],
  components: {
    mSelect
  },
  props: {
    title: {
      type: String,
      default: "Хочу в команду ЦН Веванта"
    },
    img: {
      type: String,
      default:
        "https://vevanta.ru/wp-content/uploads/2020/10/Работа-в-компании.jpg"
    },
    imgUpload: {
      type: String,
      default: "https://vevanta.ru/wp-content/uploads/2021/02/clip.png"
    },
    textUpload: {
      type: String,
      default: "Прикрепить резюме"
    },
    buttonText: {
      type: String,
      default: "Отправить резюме"
    },
    styleDarkDiv: {
      type: String,
      default: "background: rgba(32, 48, 71, 0.8);"
    },
    styleText: {
      type: String,
      default: "color: #fff;"
    },
    stylePolitika: {
      type: String,
      default: "color: #fff; border: none;"
    },
    stylePolitikaInput: {
      type: String,
      default: "background-color: #009688;border: none;"
    },
    stylePolitikaLink: {
      type: String,
      default: "color: #fff; border: none;"
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf"
    },
    staffId: {
      type: Number,
      default: 110
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number
    },
    sourceId: {
      type: Number
    }
  },
  data() {
    return {
      checkPersoanalData: true,
      files: [],
      firstName: ``,
      lastName: ``,
      vacansy: ""
    };
  },
  methods: {
    sendForm() {
      let formData = new FormData();
      this.formName = this.title;
      this.inputs.name = this.firstName + ` ` + this.lastName;
      this.msg = `Заявка на вакансию: ` + this.vacansy + `;`;

      if (!!this.files) {
        this.files.forEach((file, i) => {
          formData.append(`file[]`, file, file.name);
        });
      }

      for (let key in this.inputs) {
        if (key == "phone") {
          formData.append(key, this.formatPhone);
        } else if (!!this.inputs[key] && typeof this.inputs[key] == "object") {
          let value =
            this.inputs[key].length > 0 ? this.inputs[key].join(",") : null;
          formData.append(key, value);
        } else formData.append(key, this.inputs[key]);
      }

      formData.append(`form`, this.formName);
      formData.append(`msg`, this.msg);
      formData.append(`staffId`, this.staffId);
      formData.append(`managerId`, this.managerId);
      formData.append(`classId`, this.classId);
      formData.append(`sourceId`, this.sourceId);
      formData.append(`url`, location.href);

      this.$axios.post(this.api.url, formData).then(() => {
        this.inputs.phone = "";
        this.inputs.name = "";
        this.msg = "";
        this.firstName = "";
        this.lastName = "";
        UIkit.modal(this.$root.$refs.modalSuccess.$el).show();
      });
    },
    uploadFile() {
      [...this.$refs.files.files].forEach(file => {
        if (file.size / 1024 / 1024 > 10) {
          return;
        }
        this.files.push(file);
      });
    },
    removeFile(index) {
      this.files.splice(index, 1);
    }
  }
};
</script>

<style lang="css" scoped>
.uk-input {
  height: 60px;
}
.btnForm {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  height: 60px;
  border: none;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #45ccbe;
}
.btnForm:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 320px) {
  .btnForm {
    height: 80px;
  }
}
</style>
