/*
Name: HeroTop
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="imgDiv uk-height-large uk-background-cover" :data-src="img" uk-img>
    <div class="textHero uk-text-center fnt-bld uk-margin-large-left uk-margin-large-right">
      <div :class="classTitle">{{title}}</div>
      <div :class="classSubtitle">{{subtitle}}</div>
    </div>
  </div>
</template>

<script>

export default {
  name: "HeroTop",
  props: {
    title: {
      type: String,
      default: 'Присоединяйся к команде профессионалов ЦН "Веванта"!',
    },
    classTitle:{
      type: String,
      default: 'fs24 fs30@s fs40@m fs46@l',
    },
    subtitle: {
      type: String,
      default: "Приглашаем как опытных риелторов, так и новичков в сфере недвижимости",
    },
    classSubtitle:{
      type: String,
      default: "fs20 fs24@s fs24@m fs24@l uk-margin-top",
    },
    img:{
      type: String,
      default: "https://vevanta.ru/wp-content/uploads/2020/10/%D0%98%D0%BF%D0%BE%D1%82%D0%B5%D0%BA%D0%B0-%D0%B2-%D0%A2%D1%8E%D0%BC%D0%B5%D0%BD%D0%B8-1024x576.jpg",
    },
  },
};
</script>

<style lang="css" scoped>
.imgDiv {
  position: relative;
}

.imgDiv:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 48, 71, 0.8);
  z-index: 2;
}

.textHero {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding-top: 10%;
  padding-left: 7%;
  padding-right: 7%;
}
@media screen and (max-width: 1024px) {
  .textHero {
    padding-top: 20%;
  }
}
@media screen and (max-width: 768px) {
  .textHero {
    padding-top: 25%;
  }
}
@media screen and (max-width: 425px) {
  .textHero {
    padding-top: 25%;
    padding-left: 0;
    padding-right: 0;
  }
}
</style>
