/*
Name: HowItWorks
Version: 1.1
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-large-top">
      <div
        class="uk-width-1-1 uk-text-lead fnt-bld uk-margin-little-bottom fs30 fs36@m uk-text-left titleHow"
      >{{ title }}</div>
      <div
        class="uk-child-width-1-5@m uk-padding-remove"
        uk-grid
      >
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-padding-remove">
            <span class="circle">
              <span class="iconHow" uk-icon="icon: receiver; ratio: 1"></span>
            </span>
            <div class="divHow"></div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-padding-remove">
            <span class="circle">
              <span class="iconHow" uk-icon="icon: mail; ratio: 1"></span>
            </span>
            <div class="divHow"></div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-padding-remove">
            <span class="circle">
              <span class="iconHow" uk-icon="icon:   file-edit; ratio: 1"></span>
            </span>
            <div class="divHow"></div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-padding-remove">
            <span class="circle">
              <span class="iconHow" uk-icon="icon: mail; ratio: 1"></span>
            </span>
            <div class="divHow"></div>
          </div>
        </div>
        <div class="uk-flex uk-flex-center">
          <div class="uk-card uk-padding-remove">
            <span class="circle">
              <span class="iconHow" uk-icon="icon: credit-card; ratio: 1"></span>
            </span>
          </div>
        </div>
      </div>
      <div
        class="uk-child-width-1-5@m uk-margin-small-top"
        uk-grid
        uk-height-match="target: > div > .uk-card"
      >
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <div class="uk-card-title fs18 fs20@m">{{ subtitleFirst }}</div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <div class="uk-card-title fs18 fs20@m">{{ subtitleSecond }}</div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <div class="uk-card-title fs18 fs20@m">{{ subtitleThird }}</div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <div class="uk-card-title fs18 fs20@m">{{ subtitleFourth }}</div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-padding-small">
            <div class="uk-card-title fs18 fs20@m">{{ subtitleFiveth }}</div>
          </div>
        </div>
      </div>
      <div
        class="uk-child-width-1-5@m uk-flex-left@s uk-flex-right@m uk-flex-right@l uk-margin-remove-top"
        uk-grid
      >
        <div>
          <div class="uk-card uk-padding-remove uk-margin-medium-bottom btnHowDiv">
            <a class="btn btn__tpl1 btn__green btnHow" :href="urlButton">{{buttonText}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "HowItWorks",
  props: {
    title: {
      type: String,
      default: "Как мы сможем вам помочь",
    },
    subtitleFirst: {
      type: String,
      default: "Оставте ваш номер телефона и мы вам позвоним или позвоните нам",
    },
    subtitleSecond:{
      type: String,
      default: "Отправте нам документы любым удобным вам способом",
    },
    subtitleThird:{
      type: String,
      default: "Наш специалист подготовит для вас налоговую декларацию",
    },
    subtitleFourth:{
      type: String,
      default: "Мы отправим вам готовую налоговую декларацию лично или онлайн",
    },
    subtitleFiveth:{
      type: String,
      default: "Вы получаете сумму налогового вычета на указанную банковскую карту",
    },
    img: {
      type: String,
      default:"",
    },
    buttonText: {
      type: String,
      default: "получить услугу",
    },
    urlButton:{
      type: String,
      default: "",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
};
</script>

<style lang="css" scoped>
.iconHow {
  color: #009688;
}
.circle {
  border-radius: 50%;
  border: 2px #009688 solid;
  padding: 8px;
  background-color: #fff;
  text-align: center;
}
.divHow::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 40px;
  width: calc(100% + 200px);
  height: 2px;
  background-color: #009688;
}
.btnHow {
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
  width: 100%;
  margin-top: 25px;
}
.btnHowDiv a {
  color: #fff;
}

.btnHow:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
@media screen and (max-width: 1300px) {
.divHow::before {
  width: calc(100% + 180px);
}
}
@media screen and (max-width: 1160px) {
.divHow::before {
  width: calc(100% + 150px);
}
}
@media screen and (max-width: 1024px) {
  .btnHow {
    font-size: 16px;
  }
  .divHow::before {
    width: calc(100% + 120px);
}
}
@media screen and (max-width: 959px) {
  .circle {
    display: none;
  }
  .divHow {
    display: none;
  }
  .btnHow {
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
  }
  .btnHowDiv {
    margin-top: 25px;
  }
}
</style>
