/*
Name: ImgTextBlock
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container">
      <div class="uk-margin-top uk-margin-bottom">
        <div :class="classTitle">{{title}}</div>
        <div :class="classSubtitle">{{subtitle}}</div>
        <div class="uk-margin-large-top" uk-grid>
          <div :class="classAgent">
            <div>
              <div class="uk-grid-small" uk-grid>
                <div :class="classAgentDiv" v-for="(cards, i) in cardJSON" :key="i">
                  <div>
                    <img
                      class="uk-border-circle"
                      :src="cards.imgAgent"
                      width="350"
                      height="350"
                      alt="Border circle"
                    />
                  </div>
                  <div :class="classTitleAgent">{{cards.titleAgent}}</div>
                  <div :class="classSubtitleAgent">{{cards.subtitleAgent}}</div>
                </div>
              </div>
              <div class="uk-width-1-1 uk-margin-top">
                <div :class="classTitleDown">{{titleDown}}</div>
                <div :class="classTextDown">{{textDown}}</div>
              </div>
            </div>
          </div>
          <div :class="classTextRigth">
            <div :class="classTitleRigth">{{titleRigth}}</div>
            <div v-for="(texts, i) in textJSON" :key="i" :class="classMessage">{{texts.message}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>;

export default {
  name: "ImgTextBlock",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    texts: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: 'Центр обучения и развития навыков',
    },
    classTitle:{
      type: String,
      default: 'fs18 fs20@s fs24@m fs28@l fnt-bld',
    },
    classSubtitle:{
      type: String,
      default: 'uk-margin-top fs16 fs18@l',
    },
    classTitleAgent:{
      type: String,
      default: 'fs18 fs20@s fs24@l fnt-bld uk-margin-top',
    },
    classSubtitleAgent:{
      type: String,
      default: 'fs16 fs18@s',
    },
    classTitleDown:{
      type: String,
      default: 'fs18 fs20@s fs24@l fnt-bld',
    },
    classTextDown:{
      type: String,
      default: 'fs16 fs18@s',
    },
    classTitleRigth:{
      type: String,
      default: 'fs18 fs20@s fs24@l fnt-bld',
    },
    classMessage:{
      type: String,
      default: 'fs16 fs18@s',
    },
    img:{
      type: String,
      default: "",
    },
    subtitle:{
      type: String,
      default: 'В Центре недвижимости Веванта работает собственный Центр обучения и развития навыков. Специалистами Центра сформирована авторская прорамма обучения как для новичков в сфере недвижимости, так и для опытных риельторов и менеджеров групп. Специалисты центра проводят не только обучение в группах, но и индивидуальные консультации для риелторов, которым необходимо усилить определенный навык.',
    },
    classAgent:{
      type: String,
      default: 'uk-width-1-1 uk-width-1-2@m',
    },
    classAgentDiv:{
      type: String,
      default: 'uk-width-1-1 uk-width-1-2@s uk-text-center',
    },
    titleDown:{
      type: String,
      default: 'Авторская программа обучения',
    },
    textDown:{
      type: String,
      default: 'Специалистами Центра обучения и развития навыков разработана программа, которая включает в себя теорию и практические заятия, позволяющие закрепить полученные знания.',
    },
    titleRigth:{
      type: String,
      default: 'Темы, которые входят в программу:',
    },
    classTextRigth:{
      type: String,
      default: 'uk-width-1-1 uk-width-1-2@m',
    },
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
    textJSON() {
      return JSON.parse(this.texts);
    },
  },
  
};
</script>

<style lang="css" scoped>
</style>
