  <template>
  <div class="uk-background-muted uk-padding">
    <div class="uk-text-center uk-text-bold uk-text-large uk-margin-medium-bottom">{{title}}</div>
    <div uk-grid uk-height-match>
      <div class="uk-width-1-2@m uk-width-1-1@s">

        <div class="uk-margin-small-bottom">Цена недвижимости, &#8381;</div>
        <input class="uk-input" type="text" v-model="price" @input="calc">
        <input class="uk-range uk-margin-small-bottom" type="range" min="500000" max="10000000" step="100000" v-model="price" @input="calc">
        <div class="uk-margin-small-bottom">Первоначальный взнос<span> ({{ Math.round((payment * 100 / price)*100)/100 }}%)</span></div>
        <input class="uk-input" type="text" v-model="payment" @input="calc">
        <input class="uk-range uk-margin-small-bottom" type="range" min="0" :max="price" step="10000" v-model="payment" @input="calc">
        <div class="uk-margin-small-bottom calc__buttons">
          <span
            v-for="(percent, index) in percentage"
            :key="index"
            class="uk-margin-small-right"
          >
            <label>
              <input class="uk-radio  calc__radio" type="radio" v-model="payment"  :value="Math.round(price*(percent/100))">
              <span class="uk-badge uk-text-small calc__icon">
                {{percent}}%
              </span>
            </label>
          </span>
        </div>
        <div class="uk-margin-small-bottom">Период, лет</div>
        <input class="uk-input" type="text" v-model="period">
        <input class="uk-range uk-margin-small-bottom" type="range" min="0" max="30" step="1" v-model="period">
        <div class="uk-margin-small-bottom calc__buttons">
          <span
            v-for="(year, index) in years"
            :key="index"
            class="uk-margin-small-right"
          >
            <label>
              <input class="uk-radio  calc__radio" type="radio" v-model="period"  :value="year">
              <span class="uk-badge uk-text-small calc__icon">
                {{year}} лет
              </span>
            </label>
          </span>
        </div>
        <div class="uk-margin-small-bottom">Процентная ставка, %</div>
        <input class="uk-input" type="text" v-model="rate" @input="calc">
        <input class="uk-range uk-margin-small-bottom" type="range" min="1" max="30" step="0.1" v-model="rate" @input="calc">
        <div class="uk-margin-small-bottom calc__buttons">
          <span
            v-for="(rat, index) in rates"
            :key="index"
            class="uk-margin-small-right"
          >
            <label>
              <input class="uk-radio  calc__radio" type="radio" v-model="rate"  :value="rat" @input="calc">
              <span class="uk-badge uk-text-small calc__icon">
                {{rat}}%
              </span>
            </label>
          </span>
        </div>

      </div>
      <div class="uk-width-1-2@m uk-width-1-1@s">
        <div class="uk-text-center uk-text-large">Сумма ежемесячного платежа</div>
        <div class="uk-text-large uk-text-bold uk-text-center">{{calc(rate) | price}} &#8381;</div>
        <div class="uk-margin-medium-top fs22">
          <div class="uk-flex uk-flex-between">
            <span>Кредит</span>
            <span>{{price - payment | price}} &#8381; </span>
          </div>
          <div class="uk-flex uk-flex-between">
            <span>Проценты</span>
            <span>{{ percentTotal() | price }} &#8381;</span>
          </div>
          <div class="uk-flex uk-flex-between">
            <span>Итого</span>
            <span>{{ price - payment + percentTotal() | price}} &#8381;</span>
          </div>
        </div>
        <button class="btn btn__tpl2 btn__green uk-text-uppercase fs14 fs16@s uk-margin-medium-top" @click="openModal">{{ btnName }}</button>
        <div class="uk-text-small uk-margin-small-top">*предварительный расчет, не является публичной офертой</div>
      </div>
    </div>
  </div>
</template>


<script>
import input from '../filters/Input.js'

export default {
  name: 'ipoteka-calc-two',
  mixins: [input],
  props: {
    sum: {
      default: 1000000,
    },
    percent: {
      default: 20,
    },
    title: {
      type: String,
      default: 'Ипотечный калькулятор'
    },
    btnName: {
      default: 'Индивидуальный расчет'
    },
    year: {
      type: Number,
      default: 10,
    },
    classId: {
      type: Number,
    },
    staffId: {
      type: Number
    },
    managerId: {
      type: Number
    },
    sourceId: {
      type: Number
    },
  },
  data() {
    return {
      result: 0,
      price: this.sum,
      period: this.year,
      payment: this.sum*0.2,
      plural: 'лет',
      banks: [],
      years: [5, 10, 15, 20], //radio buttons for period
      percentage: [0, 10, 15, 20, 25], //radio buttons for payment
      rate: 7.7, //процентная ставка
      rates: [4.5, 6, 7.5, 9.1, 10] //radio buttons for rate
    }
  },

  created() {
    this.calc()
    if (this.title) {
      this.formName = this.title
    }
  },

  methods: {
    calc(val) {
      let summ = this.price - this.payment;
      let percent = this.rate/12/100;
      let period = this.period * 12;
      let kof = percent * Math.pow(1 + percent, period)  / (Math.pow(1 + percent, period) - 1)
      let annui = parseInt(kof * summ); //annui = аннуитетный платеж
      return annui;
    },

    //сумма процентной переплаты
    percentTotal() {
      let annui = this.calc(this.rate); //get month payment
      let summ = this.price - this.payment; //get credit size
      let percent = this.rate/12/100; //get percent
      let period = this.period * 12; //get period of payments
      let total = 0; //percent payment total

      for (let i = 0; i < period; i++) {
        let percentPart = summ*percent;
        total += percentPart;
        let debtPart = annui - percentPart;
        summ -= debtPart;
      }

      total = Math.round(total);
      return total;
    },

    openModal() {
      let msg = `Сумма объекта: ${this.sum} \nПервоначальный взнос: ${this.payment} \nПериод: ${this.period} \nПроцентная ставка: ${this.rate} \nОплата в месяц: ${this.calc}`

      let lead = {
        formName: this.formName,
      }

      if (this.staffId !== undefined) {
        lead.staffId = this.staffId
      }

      if (this.managerId !== undefined) {
        lead.managerId = this.managerId
      }

      if (this.classId !== undefined) {
        lead.classId = this.classId
      }

      if (this.sourceId !== undefined) {
        lead.sourceId = this.sourceId
      }

      this.$root.$refs.modalDefault.openModal(lead, msg);
    }
  }
}
</script>

<style scoped>

input[type="range"]::-webkit-slider-runnable-track {
  background: #00bab6;
}

input[type=range]::-webkit-slider-thumb {
  background: #00bab6;
  border: 2px solid #005a87;
  transition : all 1s;
}

input[type=range]::-moz-range-track {
  background: #00bab6;
}

input[type=range]::-moz-range-thumb {
  background: #00bab6;
  border: 2px solid #005a87;
  transition : all 1s;
}

input[type=range]::-ms-thumb {
  background: #00bab6;
  border: 2px solid #005a87;
  transition : all 1s;
}

.uk-range {
  position: relative;
  top: -1.5%;
  transition : all 1s;
}

.calc__buttons {
  position: relative;
  top: -1.5%;
}

.calc__radio {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.calc__icon {
  z-index: 10;
  cursor: pointer;
  padding: 8px;
  background-color: #005a87;
  color: white;
}


</style>
