/*
Name: IpotekaTop
Version: 1.2
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container">
      <form class @submit.prevent="send">
        <div
          class="uk-width-4-5@m uk-width-2-3@l uk-width-2-3@xl uk-padding-small uk-margin-remove-left"
          uk-grid
        >
          <div
            class="uk-width-1-1 uk-width-3-5@s uk-width-3-5@m uk-width-3-5@l uk-width-3-5@xl uk-margin-auto-right uk-margin-large-top uk-padding-small"
          >
            <div
              class="uk-width-1-1 fs24 fs24@s fs24@m fs36@l fs36@xl fnt-bld uk-text-center uk-text-center@s uk-text-center@m uk-text-left@l uk-text-left@xl"
            >{{ title }}</div>
            <div
              class="uk-width-1-1 fs18 fs20@s fs20@m fs28@l fs28@xl uk-text-center uk-text-center@s uk-text-center@m uk-text-left@l uk-margin-top"
            >{{ subtitle }}</div>
            <div
              class="uk-margin uk-grid uk-margin-large-top uk-text-center uk-text-center@s uk-text-center@m uk-text-left@l"
            >
              <a
                class="uk-width-3-5 uk-width-3-5@s uk-width-3-5@m uk-width-2-5@l uk-width-2-5@xl uk-align-center"
                :href="urlBtn"
              >
                <button
                  type="submit"
                  class="btnHow uk-width-1-1 uk-padding-remove uk-button uk-button-default fs14 fs16@s fs16@m fs18@l fs20@xl"
                >{{buttonTextCall}}</button>
              </a>
              <div
                class="textBtnCall uk-width-1-1 uk-width-1-1@s uk-width-1-1@m uk-width-3-5@l uk-width-3-5@xl fs16 fs20@s fs18@m fs20@l fs20@xl"
              >{{ textBtnCall }}</div>
            </div>
          </div>
          <div class="CardIpoteka uk-width-2-5@s uk-width-2-5@m uk-width-2-5@l uk-width-2-5@xl">
            <div class="uk-width-1-1 uk-card uk-card-default uk-card-body uk-padding-small">
              <div
                class="uk-flex uk-flex-center uk-flex-column fs14 fs14@s fs16@m fs20@l fs20@xl uk-margin-top"
              >
                <div class="uk-width-1-1 uk-text-center">{{ titleForm }}</div>
                <div class="uk-text-center">
                  <a
                    class="phoneNumber fs14 fs14@s fs16@m fs18@l fs20@xl"
                    :href="telNumber"
                  >{{ phoneNumber }}</a>
                </div>
                <div class="uk-width-1-1 uk-text-center">{{ subtitleForm }}</div>
                <div class="fs14 fs16@s fs16@m fs20@l uk-text-center uk-padding-small" uk-grid>
                  <div class="uk-width-1-1 uk-margin-small">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: user"></span>
                      <input
                        class="uk-input placeholderHow uk-width-1-1"
                        type="text"
                        placeholder="Ваше имя"
                        v-model="inputs.name"
                      />
                    </div>
                  </div>
                  <div class="uk-width-1-1 uk-margin-small">
                    <div class="uk-inline">
                      <span class="uk-form-icon" uk-icon="icon: phone"></span>
                      <input
                        class="uk-input placeholderHow"
                        type="text"
                        placeholder="Ваш телефон"
                        v-model="inputs.phone"
                      />
                    </div>
                  </div>
                  <div class="uk-width-1-1 uk-margin">
                    <button
                      type="submit"
                      class="btnHow fs14 fs16@s fs18@m fs18@l uk-padding-remove uk-button uk-button-default uk-width-1-1"
                    >{{buttonText}}</button>
                  </div>
                </div>
                <div
                  class="uk-text-center uk-margin-small-bottom checkboxForm fs10 fs10@s fs12@m fs14@l fs16@xl"
                >
                  <label>
                    <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
                    Отправляя форму, вы соглашаетесь с обработкой
                    <a
                      :href="politika"
                      target="_blank"
                    >персональных данных</a>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import form from "../mixins/Form.js";
import input from "../filters/Input.js";
import inputMask from "../mixins/inputMask";

export default {
  name: "IpotekaTop",
  mixins: [form, input, inputMask],
  props: {
    title: {
      type: String,
      default: "Узнайте, сколько денег вы сможете взять в ипотеку?",
    },
    subtitle: {
      type: String,
      default: "Мы поможем вам получить самую выгодную ставку и одобрение банка!",
    },
    titleForm: {
      type: String,
      default: "Позвоните нам по номеру и мы вам поможем:",
    },
    subtitleForm:{
      type: String,
      default: "или оставьте нам заявку на бесплатную консультацию",
    },
    phoneNumber: {
      type: String,
      default: "+7 (3452) 69-23-47",
    },
    telNumber: {
      type: String,
      default: "tel:+73452692347",
    },
    buttonTextCall:{
      type: String,
      default: "Он-лайн заявка",
    },
    textBtnCall:{
      type: String,
      default: "Оформите ипотеку не выходя из дома, через элетронную регистрацию сделки",
    },
    buttonText: {
      type: String,
      default: "получить услугу",
    },
    img: {
      type: String,
      default:"https://vevanta.ru/wp-content/uploads/2020/10/%D0%B1%D0%B0%D0%BD%D0%B5%D1%80.png",
    },
    urlBtn: {
      type: String,
      default:"https://vevanta.ru/jelektronnaja-registracija-sdelki",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
    staffId: {
      type: Number,
    },
    managerId: {
      type: Number,
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number,
    },
  },
  data() {
            return {
                checkPersoanalData: true,
                inputs: {
                  phone: "",
                },
                inputs:{
                  name: "",
                }
            };
        },

  methods: {
    send() {
      this.formName = this.title;

      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId;
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId;
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId;
      }

      if (this.sourceId !== undefined) {
        lead.sourceId = this.sourceId;
      }

      this.sendForm();
    },
  },
};
</script>

<style lang="css" scoped>
.placeholderHow {
  height: 50px;
  border-radius: 8px;
  border: 1px rgba(204, 201, 201, 0.685) solid;
}
.phoneNumber {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
.btnHowCall {
  text-align: center;
  height: 55px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHowCall:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
.btnHow {
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHow:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
.checkboxForm input {
  background-color: #009688;
  border: none;
}
.checkboxForm input:checked {
  background-color: #009688;
  border: none;
}
.checkboxForm a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .CardIpoteka {
    padding-left: 0px;
    
  }
}
</style>
