<template>
  <a
    :href="`https://vevanta.ru/item/${item.object.id}`"
    target="_blank"
    class="item-link cl-dark uk-card-hover"
  >
    <div
      class="uk-flex-top uk-box-shadow-medium uk-height-1-1 uk-card-hover"
    >
      <div class="uk-grid uk-grid-small object-item" uk-grid>
        <div class="uk-width-1-1 uk-width-1-3@l uk-flex galery">
          <div
            class="uk-position-relative uk-light uk-width-expand"
            uk-slideshow
          >
            <ul class="uk-slideshow-items" style="height: 100%;">
              <template v-if="item.photos.length">
                <li v-for="img in item.photos" :key="img.id">
                  <div
                    uk-spinner
                    style="color: initial; z-index: -1"
                    class="uk-position-center"
                  ></div>
                  <div
                    v-if="img.photo360"
                    class="uk-width-1-1 uk-height-1-1 uk-background-cover br-5"
                    :style="{
                      backgroundImage: `url(https://cloud.vevanta.ru${img.photo360})`
                    }"
                  ></div>
                </li>
              </template>
              <template v-else>
                <li>
                  <div
                    class="uk-width-1-1 uk-height-1-1 uk-background-cover cover-empty"
                  ></div>
                </li>
              </template>
            </ul>
            <a
              class="uk-position-center-left uk-position-small"
              uk-slidenav-previous
              uk-slideshow-item="previous"
            ></a>
            <a
              class="uk-position-center-right uk-position-small"
              uk-slidenav-next
              uk-slideshow-item="next"
            ></a>
          </div>
          <div
            class="uk-flex uk-flex-center uk-width-auto uk-padding-remove galery__slider"
          >
            <template v-for="i in 5">
              <div
                class="uk-background-cover uk-position-relative miniature-item br-5"
                :class="{ dark: i == 5 && item.photos.length > 6 }"
                v-if="item.photos[i] && item.photos[i].photo120"
                :key="i"
                :style="{
                  backgroundImage: `url(https://cloud.vevanta.ru${item.photos[i].photo120})`
                }"
              >
                <span
                  v-if="i == 5 && item.photos.length > 6"
                  class="uk-position-center cl-wh z-index-10 uk-text-bold"
                  >+{{ item.photos.length - 6 }}</span
                >
              </div>
            </template>
          </div>
        </div>

        <div
          class="uk-width-1-1 uk-width-expand@l uk-margin-remove-top uk-margin-medium-right@m uk-position-relative"
        >
          <div
            class="uk-padding-small uk-flex uk-flex-column uk-flex-between uk-height-1-1"
          >
            <transition name="fade">
              <info-flat :item="item"></info-flat>
            </transition>

            <div class="uk-width-1-1 uk-flex uk-flex-right">
              <div class="uk-width-1-4@m uk-width-1@s uk-visible@l">
                <div
                  v-if="openContact"
                  class="uk-animation-fade uk-margin-remove object-item__manager uk-flex"
                >
                  <div class="uk-width-1-4">
                    <img
                      :data-src="
                        item.object.user_staff_photo
                          ? `https://cloud.vevanta.ru${item.object.user_staff_photo}`
                          : 'https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/avatar.jpg'
                      "
                      alt=""
                      uk-img
                      class="uk-border-circle"
                    />
                  </div>

                  <div class="uk-margin-small-left">
                    <div class="uk-text-bold object-item__manager-name">
                      {{ item.object.user_staff_name }}
                      {{ item.object.user_staff_lastname }}
                    </div>
                    <div>
                      <a
                        :href="`tel:+7${item.object.user_staff_phone}`"
                        target="_blank"
                        class="fs14 cl-vevanta"
                      >
                        {{ item.object.user_staff_phone | phoneType }}
                      </a>
                    </div>
                  </div>
                </div>

                <div
                  v-show="!openContact"
                  class="btn btn__tpl3 btn__green uk-width-1-1@l uk-text-center br-5"
                  @click.prevent="openContact = true"
                >
                  <span>Показать телефон</span>
                </div>
              </div>

              <div class="uk-width-auto@l uk-width-1-1@s uk-hidden@l">
                <a
                  :href="`tel:+7${item.object.user_staff_phone}`"
                  class="btn btn__tpl3 btn__green uk-width-auto@l uk-width-1-1 uk-text-center cl-dark"
                >
                  Позвонить
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>

<script>
import input from "../filters/Input.js";

import InfoFlat from "./ListingItems/InfoFlat";
export default {
  name: "Item",
  mixins: [input],
  props: {
    item: Object,
  },

  components: {
    InfoFlat
  },

  data() {
    return {
      openContact: false
    };
  },

  methods: {
    openModal(formName = "") {
      this.$root.$refs.modalDefault.openModal({
        formName: formName
      });
    }
  }
};
</script>

<style media="screen">
@media screen and (min-width: 1200px) {
  .object-item__manager-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>

<style scoped>
.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.object-item__data {
  padding: 20px;
}
.cover-empty {
  background-image: url("https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg");
  background-position: 50% 35% !important;
}
.object-item {
  min-height: 280px;
}
.br-5 {
  border-radius: 5px;
}
.dark:after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 5px;
}
.miniature-item {
  height: 55px;
  width: 70px;
  padding: 2px;
}
.miniature-item:not(:last-child) {
  margin-bottom: 2px;
}
.galery .galery__slider {
  flex-direction: column;
  margin-left: 5px;
}
@media screen and (max-width: 640px) {
  .galery {
    flex-direction: column;
  }
  .galery .galery__slider {
    flex-direction: row;
    margin-top: 5px;
    margin-left: 0;
    gap: 5px;
  }
}
</style>
