<template>
  <div class="uk-container">
    <div class="uk-margin-top uk-grid-small uk-margin-medium-bottom" uk-grid>
      <div class="uk-width-1-1 uk-flex uk-flex-between">
        <div class="uk-width-auto">

          <button
            class="uk-button uk-button-default toggle-button"
            :class="{ active: viewType == 'tile' }"
            @click="viewType = 'tile'"
          >
            <span uk-icon="icon: thumbnails; ratio: 1"></span>
          </button>
          
          <button
            class="uk-button uk-button-default toggle-button"
            :class="{ active: viewType == 'list' }"
            @click="viewType = 'list'"
          >
            <span uk-icon="icon: menu; ratio: 1"></span>
          </button>

        </div>

        <div class="uk-width-auto uk-flex uk-flex-right uk-flex-middle">
          <div
            class="uk-width-expand uk-flex uk-flex-right uk-visible@s uk-margin-remove"
            uk-grid
          >
            <div class="uk-card sort-button uk-padding-small-left">
              <p @click="selectSortType('price')" class="cr-pointer">
                По цене
                <span
                  v-if="sortType.key.indexOf('price') != -1"
                  :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
                ></span>
              </p>
            </div>

            <div class="uk-card sort-button uk-padding-small-left">
              <p @click="selectSortType('square')" class="cr-pointer">
                По площади
                <span
                  v-if="sortType.key.indexOf('square') != -1"
                  :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
                ></span>
              </p>
            </div>

            <div class="uk-card sort-button uk-padding-small-left">
              <p @click="selectSortType('date_create')" class="cr-pointer">
                По дате добавления
                <span
                  v-if="sortType.key.indexOf('date_create') != -1"
                  :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
                ></span>
              </p>
            </div>
          </div>

          <div class="uk-form-controls uk-flex uk-flex-right uk-hidden@s">

            <button
              class="uk-button uk-button-default uk-background-default"
              type="button"
              style="padding: 0px 10px;"
            >
              {{ sortType.value }}
              <span
                :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
              ></span>
            </button>

            <div
              uk-dropdown="pos: bottom-right; mode: click"
              class="uk-padding-small"
            >
              <ul
                class="uk-list uk-margin-remove"
                uk-accordion="collapsible: true"
              >
                <li class="cr-pointer">
                  <p @click="selectSortType('price')">
                    По цене
                    <span
                      v-if="sortType.key.indexOf('price') != -1"
                      :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
                    ></span>
                  </p>
                </li>
                <li class="cr-pointer">
                  <p @click="selectSortType('square')">
                    По площади
                    <span
                      v-if="sortType.key.indexOf('square') != -1"
                      :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
                    ></span>
                  </p>
                </li>
                <li class="cr-pointer">
                  <p @click="selectSortType('date_create')">
                    По дате добавления
                    <span
                      v-if="sortType.key.indexOf('date_create') != -1"
                      :uk-icon="`icon: arrow-${sortType.key.split('-')[1]}`"
                    ></span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <template v-if="viewType == 'list'">
        <div
          class="uk-width-1-1 uk-width-1-1@l uk-width-1-2@s uk-width-1-3@m uk-position-relative"
          v-for="(item, index) in items"
          :key="index"
        >
          <Item :item="item" />
          <div class="action-buttons">
            <span
              class="action-button"
              :class="{ added: isAdded(item.object.id).favorite }"
              uk-icon="icon: star; ratio: 1"
              @click.prevent="addToStorage(item.object.id, 'favoriteItems')"
              uk-tooltip="title: Добавить в избранное; delay: 500"
            ></span>
          </div>
        </div>
      </template>

      <template v-if="viewType == 'tile'">
        <div
          class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l uk-position-relative"
          v-for="(item, index) in items"
          :key="index"
        >
          <TileItem :item="item"> </TileItem>
          <div class="action-buttons">
            <span
              class="action-button"
              :class="{ added: isAdded(item.object.id).favorite }"
              uk-icon="icon: star; ratio: 1"
              @click.prevent="addToStorage(item.object.id, 'favoriteItems')"
              uk-tooltip="title: Добавить в избранное; delay: 500"
            ></span>
          </div>
        </div>
      </template>
    </div>

    <div
      class="uk-text-center uk-padding"
      v-show="$store.state.statusItems === 2"
    >
      <p>Объекты не найдены</p>
    </div>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid></div>
    <div class="uk-text-center uk-padding" v-show="!$store.state.statusItems">
      <div uk-spinner></div>
    </div>

    <div v-show="$store.state.statusItems">
      <ul class="uk-pagination uk-flex-center" uk-margin>
        <li>
          <button
            :disabled="curPage === 1"
            class="uk-button uk-button-default uk-button-small"
            @click="setPage(curPage - 1)"
          >
            <span uk-pagination-previous></span>
          </button>
        </li>
        <li
          v-for="(page, index) in pagination"
          :key="index"
          :class="curPage === page ? 'uk-active' : ''"
        >
          <button
            :disabled="curPage === page"
            class="uk-button uk-button-default uk-button-small"
            @click="setPage(page)"
          >
            {{ page }}
          </button>
        </li>
        <li>
          <button
            :disabled="curPage === countPage"
            class="uk-button uk-button-default uk-button-small"
            @click="setPage(curPage + 1)"
          >
            <span uk-pagination-next></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Item from "./Item.vue";
import TileItem from "./TileItem.vue";
import storage from "../mixins/storage";

export default {
  name: "ListingItems",
  mixins: [storage],
  data() {
    return {
      viewType: "list",
      sortType: {
        key: "date_create-down",
        value: "По дате добавления"
      }
    };
  },
  components: {
    Item,
    TileItem
  },
  mounted() {
    this.getStorages();
  },
  computed: {
    items() {
      return this.$store.state.items;
    },
    filter() {
      return this.$store.state.filter;
    },
    countPage() {
      return this.$store.state.items_count_pages;
    },
    curPage() {
      return this.$store.state.page;
    },

    pagination() {
      let start = this.$store.state.page - 1 + 3 - 3;
      let finish = this.$store.state.page - 1 + 3;
      let arrPagin = [];

      arrPagin.length = this.$store.state.items_count_pages;

      for (let index = 0; index < arrPagin.length; index++) {
        arrPagin[index] = index + 1;
      }

      return arrPagin.slice(start, finish);
    }
  },

  methods: {
    setPage(newPage) {
      window.scroll(0, 0);
      this.$store.commit("SET_PAGE", newPage);
      this.getData();
    },

    selectSortType(type) {
      if (type == "price") this.sortType.value = "По цене";
      else if (type == "square") this.sortType.value = "По площади";
      else if (type == "date_create")
        this.sortType.value = "По дате добавления";

      this.$store.state.order_by.field = type;

      if (this.sortType.key.indexOf(type) == -1) {
        this.sortType.key = `${type}-down`;
        this.$store.state.order_by.dir = "DESC";
      } else {
        if (this.sortType.key.indexOf("down") != -1) {
          this.sortType.key = `${type}-up`;
          this.$store.state.order_by.dir = "ASC";
        } else {
          this.sortType.key = `${type}-down`;
          this.$store.state.order_by.dir = "DESC";
        }
      }
      this.getData();
    },

    getData() {
      this.$store.commit("SET_STATUS_ITEMS", 0);
      this.$store.commit("SET_DATA_ITEMS", []);
      this.$store.dispatch("GET_DATA");
    }
  }
};
</script>

<style scoped>
.item-link:hover {
  color: #333;
}
.action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8e8e8;
}
.action-button:hover,
.action-button.added {
  color: #00bab6;
}
</style>
