<template>
  <div>
    <div class="uk-text-center">
      <div class="fnt-med uk-margin-small-bottom">
        {{ title }}
      </div>
      <div class="manager__avatar">
        <img
          :src="getAvatar"
          alt="Специалист по недвижимости"
          uk-img
          class="uk-border-circle"
        >
      </div>
      <div class="fnt-med uk-margin-small-top">{{ name }}</div>
      <div class="uk-flex-center uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
        <span v-if="!statusPhone" class="fs20 fnt-med cl-dark-blue">{{ phone | phoneSecret }}</span>
        <a :href="`tel:=+7${phone}`" v-else class="fs20 fnt-med cl-dark-blue">{{ phone | phoneType }}</a>
        <div class="fr uk-width-auto@s uk-width-1-1 cr-pointer" @click="statusPhone = true, metrikaJSYandex('show-number-phone')" v-if="!statusPhone">
          <span uk-icon="icon:unlock"></span> Показать номер
        </div>
      </div>
      <form @submit.prevent="send">
        <div class="uk-width-1-1 modal-input uk-grid uk-grid-small uk-flex-center uk-margin-remove">
          <div class="uk-width-1-1 uk-margin-bottom uk-padding-remove">
            <div class="uk-position-relative">
              <span class="uk-form-icon uk-icon__cl-green" uk-icon="icon: phone"></span>
              <input class="uk-input" type="text" placeholder="Ваш номер:" v-model="inputs.phone">
            </div>
          </div>
          <div class="uk-width-auto uk-padding-remove">
            <button class="btn btn__tpl1 btn__blue uk-text-lowercase uk-width-1-1">жду звонка</button>
          </div>
        </div>
        <div class="politica">
        Отправляя заявку, вы соглашаетесь на обработку
        <a :href="politika" target="_blank">персональных данных</a></div>
      </form>
    </div>
  </div>

</template>

<script>
import form from '../mixins/Form.js'
import input from '../filters/Input.js'
import inputMask from "../mixins/inputMask.js";
import metrika from '../mixins/metrika.js'

export default {
  name: 'manager',
  mixins: [form, input, inputMask, metrika],
  props: {
    title: {
      type: 'String',
      default: 'Хотите купить со скидкой?'
    },
    avatar: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'Специалист по недвижимости'
    },
    phone: {
      default: '3452692347'
    },
    politika: {
      type: String,
      default: '/wp-content/themes/agentstvo/public/politika.pdf'
    },
    form: {
      type: String,
      default: ''
    },
    staffId: {
      type: Number
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number
    }
  },
  data() {
    return {
      statusPhone: false,
    }
  },


  methods: {
    send() {
      this.formName =  this.form
      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId
      }

      if (this.sourceId !== undefined) {
        this.dataRequest.sourceId = this.sourceId
      }

      this.sendForm()
    },
  },

  computed: {
    getAvatar() {
      let avatar = '/wp-content/themes/agentstvo/assets/images/object/avatar.jpg'

      if (this.avatar) {
        if (this.avatar.includes('https')) {
          avatar = this.avatar
        } else {
          avatar = `https://cloud.vevanta.ru/${this.avatar}`
        }
      }
      return avatar
    }
  }
}
</script>

<style scoped>
.manager__avatar img {
  max-width: 180px;
}

</style>
