/*
Name: ModalWorksAdv
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div
    class="uk-box-shadow-medium uk-padding-medium"
    id="modal-worksAdv"
    uk-modal
    ref="modalworksAdv"
  >
    <div class="uk-modal-dialog uk-modal-body worksAdv__form">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-text-bold fs22 uk-margin-small-bottom colorText">{{title}}</div>
      <form @submit.prevent="sendForm">
        <div class="uk-grid">
          <div class="uk-width-1-1 uk-margin-medium-bottom">
            <div>{{subtitle}}</div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input
                class="uk-input"
                type="text"
                placeholder="Ваше имя:"
                v-model="inputs.name"
                required
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: phone"></span>
              <input
                class="uk-input"
                type="text"
                placeholder="Ваш телефон:"
                v-model="inputs.phone"
                required
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: info"></span>
              <input
                class="uk-input"
                type="text"
                placeholder="Вакансия:"
                v-model="vacansy"
                required
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: file-text"></span>
              <input class="uk-input" type="text" placeholder="Ваш e-mail:" v-model="inputs.email" />
            </div>
          </div>
          <div
            class="js-upload uk-text-center uk-margin-small-bottom uk-text-left@s uk-grid-small uk-flex-center uk-flex-left@s uk-flex-middle@s"
            uk-grid
          >
            <div class="uk-width-auto">
              <img :data-src="imgUpload" width="15" height="15" alt uk-img />
            </div>
            <div uk-form-custom>
              <input
                type="file"
                multiple
                ref="files"
                accept=".pdf, .txt, .docx"
                @change="uploadFile()"
              />
              <span :style="styleText" class="fs16 fs18@s fnt-med uk-link">{{textUpload}}</span>
            </div>
          </div>
          <div class="uk-flex uk-flex-wrap">
            <div
              v-for="(file, i) in files"
              class="uk-card uk-card-default uk-padding-small uk-margin-small-right uk-margin-small-bottom"
              :key="i"
            >
              <div
                class="uk-position-top-right uk-background-muted remove-button"
                @click="removeFile(i)"
              >
                <span uk-icon="icon: close; ratio: 1"></span>
              </div>
              <div>{{file.name}}</div>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-medium-bottom">
            <textarea
              class="uk-textarea"
              placeholder="текст сопроводительного письма:"
              rows="6"
              v-model="letter"
            ></textarea>
          </div>
          <div class="checkboxCallBack uk-width-1-1">
            <label>
              <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
              Отправляя форму, вы соглашаетесь с обработкой
              <a
                :href="politika"
                target="_blank"
              >персональных данных</a>
            </label>
          </div>
        </div>
        <p class="uk-text-center uk-margin-middle-top">
          <button
            type="submit"
            class="uk-button uk-width-1-1 uk-width-1-4@s uk-button-primary btnHow"
          >Отправить</button>
        </p>
      </form>
    </div>
  </div>
</template>

<script>
import Form from "../mixins/Form.js";
import inputMask from "../mixins/inputMask.js";

export default {
  name: "ModalWorksAdv",
  mixins: [Form, inputMask],
  props: {
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf"
    },
    title: {
      type: String,
      default: "Отклик на вакансию специалиста"
    },
    imgUpload: {
      type: String,
      default: "https://vevanta.ru/wp-content/uploads/2021/02/clip.png"
    },
    textUpload: {
      type: String,
      default: "Прикрепить резюме"
    },
    styleText: {
      type: String,
      default: "color: #5d5d5d;"
    },
    subtitle: {
      type: String,
      default:
        "Мы помогаем найти вам идеальную вакансию, с учетом ваших способностей."
    },
    staffId: {
      type: Number,
      default: 110
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number
    },
    sourceId: {
      type: Number
    }
  },

  data() {
    return {
      checkPersoanalData: true,
      files: [],
      vacansy: ""
    };
  },
  mounted() {
    let vac = document.getElementById("vacansy");
    this.$refs.modalworksAdv.addEventListener("show", () => {
      let title = vac.querySelector(".titleNav.uk-active .titleNavDiv")
        .innerHTML;
      this.vacansy = title;
    });
  },

  methods: {
    sendForm() {
      let formData = new FormData();
      this.formName = this.title;
      this.msg =
        `Заявка на вакансию: ` +
        this.vacansy +
        `; Текст сопроводительного письма: ` +
        this.letter;

      if (!!this.files) {
        this.files.forEach((file, i) => {
          formData.append(`file[]`, file, file.name);
        });
      }

      for (let key in this.inputs) {
        if (key == "phone") {
          formData.append(key, this.formatPhone);
        } else if (!!this.inputs[key] && typeof this.inputs[key] == "object") {
          let value =
            this.inputs[key].length > 0 ? this.inputs[key].join(",") : null;
          formData.append(key, value);
        } else formData.append(key, this.inputs[key]);
      }

      formData.append(`form`, this.formName);
      formData.append(`msg`, this.msg);
      formData.append(`inputs.email`, this.inputs.email);
      formData.append(`staffId`, this.staffId);
      formData.append(`managerId`, this.managerId);
      formData.append(`classId`, this.classId);
      formData.append(`sourceId`, this.sourceId);
      formData.append(`url`, location.href);

      this.$axios.post(this.api.url, formData).then(() => {
        this.inputs.phone = "";
        this.inputs.email = "";
        this.inputs.name = "";
        this.msg = "";
        UIkit.modal(this.$root.$refs.modalSuccess.$el).show();
        UIkit.modal(this.$root.$refs.modalworksAdv.$el).hide();
      });
    },
    uploadFile() {
      [...this.$refs.files.files].forEach(file => {
        if (file.size / 1024 / 1024 > 10) {
          return;
        }
        this.files.push(file);
      });
    },
    removeFile(index) {
      this.files.splice(index, 1);
    }
  }
};
</script>

<style lang="css" scoped>
.colorText {
  color: #009688;
}

.worksAdv__form {
  border: 5px solid #009688;
}

.uk-background-default {
  background-color: #f3fcff;
}
.checkboxCallBack input {
  background-color: #009688;
  border: none;
}
.checkboxCallBack input:checked {
  background-color: #009688;
  border: none;
}
.checkboxCallBack a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
.btnHow {
  text-align: center;
  padding: 0;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHow:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
</style>
