/*
Name: ModalPartners
Version: 1.1
Autor: Evgenii Morgunov
*/
<template>
  <div
    class="uk-box-shadow-medium uk-padding-medium"
    id="modal-partners"
    uk-modal
    ref="modalpartners"
  >
    <div class="uk-modal-dialog uk-modal-body partners__form">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div
        class="uk-text-bold fs22 uk-text-center uk-text-left@s uk-margin-small-bottom colorText"
      >{{title}}</div>
      <form @submit.prevent="send">
        <div class="uk-grid">
          <div
            uk-height-match="target: > div > .uk-card-small"
            class="uk-grid-medium uk-child-width-expand@s uk-text-center uk-margin-bottom"
            uk-grid
          >
            <div>
              <div class="uk-card-small uk-card-default uk-padding-small">
                <div>
                  <img :src="imgFirstCard" alt />
                  <div>{{firstCards}}</div>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card-small uk-card-default uk-padding-small">
                <div>
                  <img :src="imgSecondCard" alt />
                  <div>{{secondCard}}</div>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card-small uk-card-default uk-padding-small">
                <div>
                  <img :src="imgThirdCard" alt />
                  <div>{{thirdCard}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input
                class="uk-input"
                type="text"
                placeholder="Ваше имя:"
                v-model="inputs.name"
                required
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: phone"></span>
              <input
                class="uk-input"
                type="text"
                placeholder="Ваш телефон:"
                v-model="inputs.phone"
                required
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: file-text"></span>
              <input
                class="uk-input"
                type="text"
                placeholder="Дополнительная информация:"
                v-model="msg"
              />
            </div>
          </div>
          <div class="checkboxCallBack uk-width-1-1">
            <label>
              <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
              Отправляя форму, вы соглашаетесь с обработкой
              <a
                :href="politika"
                target="_blank"
              >персональных данных</a>
            </label>
          </div>
        </div>
        <p class="uk-text-center uk-margin-middle-top">
          <button
            type="submit"
            class="uk-button uk-width-1-1 uk-width-1-4@s uk-button-primary btnHow"
          >{{buttonText}}</button>
        </p>
      </form>
    </div>
  </div>
</template>

<script>
import Form from "../mixins/Form.js";
import inputMask from "../mixins/inputMask.js";

export default {
  name: 'ModalPartners',
  mixins: [Form, inputMask ],
  props: {
    title: {
      type: String,
      default: 'Получите карту лояльности Веванта и множество скидок и эксклюзивных предложений от партнеров компании Веванта'
    },
    textAfter: {
      type: String,
      default: 'Ваше заявка отправлена'
    },
    imgFirstCard: {
      type: String,
      default: 'https://vevanta.ru/wp-content/themes/agentstvo/assets/images/club/advantage1.jpg'
    },
    firstCards: {
      type: String,
      default: 'Совершите сделку с компанией Веванта'
    },
    imgSecondCard: {
      type: String,
      default: 'https://vevanta.ru/wp-content/themes/agentstvo/assets/images/club/advantage2.jpg'
    },
    secondCard: {
      type: String,
      default: 'Получите карту лояльности'
    },
    imgThirdCard: {
      type: String,
      default: 'https://vevanta.ru/wp-content/themes/agentstvo/assets/images/club/advantage3.jpg'
    },
    thirdCard: {
      type: String,
      default: 'Обратитесь с картой к партнёрам и получите скидки'
    },
    buttonText: {
      type: String,
      default: 'Отправить'
    },
    politika: {
      type: String,
      default: '/wp-content/themes/agentstvo/public/politika.pdf'
    },
    staffId: {
      type: Number,
      default: 1320,
    },
    managerId: {
      type: Number,
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number,
    },
  },

  data() {
    return {
      checkPersoanalData: true,
    }
  },

  methods: {
    send() {

      this.formName = this.title;

      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId;
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId;
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId;
      }

      if (this.sourceId !== undefined) {
        this.dataRequest.sourceId = this.sourceId;
      };

      this.sendForm();
    },
  }
}
</script>

<style lang="css" scoped>
.colorText {
  color: #009688;
}

.partners__form {
  border: 5px solid #009688;
}

.uk-background-default {
  background-color: #f3fcff;
}
.checkboxCallBack input {
  background-color: #009688;
  border: none;
}
.checkboxCallBack input:checked {
  background-color: #009688;
  border: none;
}
.checkboxCallBack a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
.btnHow {
  text-align: center;
  padding: 0;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHow:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
</style>
