<!--

-->
<template>
  <div class="uk-box-shadow-medium uk-padding-medium " id="modal-feedback" uk-modal ref="modalFeedback">
    <div class="uk-modal-dialog uk-modal-body feedback__form">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-text-bold fs22 uk-margin-small-bottom">Оставьте свой отзыв об агенте</div>
      <div v-if="isAdded" class="fs18">
        Ваш комментарий отправлен
      </div>
      <form v-else @submit.prevent="addFeedback">
        <div class="uk-grid">
          <div class="uk-width-1-1 uk-margin-medium-bottom">
            <div>
              Оцените качество работы специалиста: <span v-if="info.rating">{{info.rating}} из 5</span>
              <div>
                <span
                  v-for="(star, s) in starRating"
                  :key="s"
                  @mouseover="starHover = star"
                  @mouseleave="starHover = 0"
                >
                  <label class="feedback__stars">
                    <input class="uk-radio  feedback__radio" type="radio" v-model="info.rating"  :value="star">
                    <span
                      :class=" [
                              star <= info.rating || star <= starHover ? 'feedback__stars--rated' : '',
                              'feedback__icon'
                             ] "
                      uk-icon="icon: star; ratio: 2">
                    </span>
                  </label>
                </span>
              </div>

            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-bottom">
            <div class="uk-position-relative">
              <input class="uk-input" type="text" placeholder="Ваше имя:" v-model="info.name" required>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-medium-bottom">
            <textarea class="uk-textarea" placeholder="Ваш комментарий:" rows="6" v-model="info.comment" required></textarea>
          </div>

          <div class="uk-width-1-1">
             Вы можете указать номер телефона для обратной связи
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: phone"></span>
              <input class="uk-input" type="text" placeholder="Ваш телефон:" v-model="inputs.phone">
            </div>
            <div class="politica">
              Отправляя отзыв, вы соглашаетесь на обработку
              <a :href="politika" target="_blank">персональных данных</a>
            </div>
          </div>

        </div>
        <p class="uk-text-center uk-margin-middle-top">
          <button class="uk-button uk-button-primary btn__green">ОТПРАВИТЬ</button>
        </p>
    </form>
    </div>
  </div>
</template>

<script>
import Form from "../mixins/Form.js";
import inputMask from "../mixins/inputMask.js";

export default {
  name: 'modalFeedback',
  mixins: [Form, inputMask ],
  props: {
    agentId: {
      type: Number,
      default: 84
    },
    politika: {
      type: String,
      default: '/wp-content/themes/agentstvo/public/politika.pdf'
    },
  },

  data() {
    return {
      info: {
        name: '',
        comment: '',
        rating: 0,
        user_id: this.agentId,
        phone: ''
      },
      isAdded: false,
      starRating: 5,
      starHover: 0

    }
  },

  methods: {

    addFeedback() {
      this.info.phone = this.formatPhone
      this.$axios
        .post('/users/add_feedback', this.info)
        .then(res => {
          this.isAdded = true
        })
    },
  }
}
</script>

<style lang="css" scoped>

  .feedback__form {
    border: 5px solid #005a87;
  }

  .uk-background-default {
    background-color: #f3fcff;
  }

  .feedback__stars {
    position: relative;
    cursor: pointer;
  }

  .feedback__stars--rated {
    color: #FCD12A;
  }

  .feedback__radio {
    position: absolute;
    z-index: 1;
    opacity: 0;
  }

  .feedback__icon {
    z-index: 10;
  }

</style>
