<template>
  <div id="modal-default" uk-modal ref="modalDefault">
    <div class="uk-modal-dialog uk-modal-body">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">Заказать звонок</h2>
      <p>Мы свяжемся с Вами в течении 3-ех минут</p>
      <form @submit.prevent="sendForm">
        <div class="uk-grid">
          <div class="uk-width-1-2@s modal-input">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input class="uk-input" type="text" placeholder="Ваше имя:" v-model="inputs.name">
            </div>
          </div>
          <div class="uk-width-1-2@s modal-input">
            <div class="uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: phone"></span>
              <input class="uk-input" type="text" placeholder="Ваш телефон:" v-model="inputs.phone">
            </div>
          </div>
        </div>
        <div class="politica">
          Отправляя заявку, вы соглашаетесь на обработку
          <a :href="politika" target="_blank">персональных данных</a>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-primary">отправить</button>
        </p>
    </form>
    </div>
  </div>
</template>

<script>
import Form from '../mixins/Form.js'
import inputMask from "../mixins/inputMask.js";

export default {
  name: 'modal',
  mixins: [Form, inputMask ],
  props: {
    politika: {
      type: String,
      default: '/wp-content/themes/agentstvo/public/politika.pdf'
    },
  },
  methods: {
    openModal(lead = {}, msg = '') {

      if (lead.classId) {
        this.classId = lead.classId
      }
      if (lead.formName) {
        this.formName = lead.formName
      }

      if (lead.staffId !== undefined) {
        this.dataRequest.staffId = lead.staffId
      }

      if (lead.managerId !== undefined) {
        this.dataRequest.managerId = lead.managerId
      }

      if (lead.classId !== undefined) {
        this.dataRequest.classId = lead.classId
      }

      if (lead.sourceId !== undefined) {
        this.dataRequest.sourceId = lead.sourceId
      }

      if (msg) {
        this.msg = msg
      }
      UIkit.modal(this.$refs.modalDefault).show();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
