<template lang="html">
<div id="modal-success" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Ваша заявка успешно отправлена</h2>
        <p>Мы свяжемся с вами в течении 3-ех минут</p>
    </div>
</div>
</template>

<script>
export default {
    name: 'ModalSuccess',
}
</script>

<style lang="css" scoped>
</style>
