<template>
  <div uk-grid>
    <div class="uk-width-1-1@s uk-width-1-5@m uk-flex uk-flex-center">
      <img :src="photo" width="200px"/>
    </div>
    <div class="uk-width-1-1@s uk-width-2-3@m uk-grid-item-match uk-flex uk-flex-middle uk-text-center uk-text-left@m">
      <div class="fs20 uk-text-bold">{{title}}</div>
      <div>{{text}}</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MortgageSpec',
    props: {
      photo: {
        type: String
      },
      title: {
        type: String
      },
      text: {
        type: String
      }
    }
  }
</script>
