<template>
  <div uk-grid class="uk-text-bold fs22 uk-margin-auto">
    <div v-for="program in programs">
      <div class="uk-inline">
        <img :src="program.picture"/>
        <div class="uk-position-center uk-text-center uk-padding-medium">{{program.title}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MortgagePrograms',
    props: ["programs"],
  }
</script>

<style scoped>
  div {
    color: white;
  }
</style>
