<template>
  <div
    :style="'--bullet-image: url('+ this.bullet +')'"
  >
    <ul
      class="fs20 uk-list uk-list-bullet uk-child-width-1-1@s uk-child-width-1-2@m"
      uk-grid
    >
      <li v-for="item in listitem">{{item}}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'MortgageList',
    props: ["listitem", "bullet"],
    computed: {
      getListItem() {
        //console.log(this.listitem)
      }
    }
  }
</script>

<style scoped>
  .uk-list {
    margin-left: 40px;
  }

  .uk-list-bullet > li::before {
    background-image:var(--bullet-image);
  }
  .uk-list-bullet > li {
    padding-left: 40px;
  }

  .uk-list>li:first-child {
    margin-top: 10px;
  }

</style>
