<template>
  <div>
    <button
      class="uk-button uk-button-default select-button uk-width-1-1 uk-text-truncate uk-text-nowrap"
      type="button"
      @click="$emit('click')"
    >
      {{ label }}
      <span uk-icon="icon: chevron-down;"></span>
    </button>
    <div
      uk-dropdown="mode: click; pos: bottom-justify; offset: 0"
      class="multi-select uk-padding-small uk-width-1-1 scrollbar"
    >
      <ul class="uk-list uk-margin-remove" uk-accordion="collapsible: true">
        <label v-if="isInput" class="uk-position-relative">
          <input
            type="text"
            class="uk-input"
            v-model="filterValue"
            style="height: 30px"            
            @input="input"
          />
          <span
            uk-icon="icon: close"
            class="input-clear-button"
            @click="clearInput"
          ></span>
        </label>
        <li v-for="(elem, i) in getFilterElements" :key="i">
          <label
            ><input
              :class="Array.isArray(checked) ? 'uk-checkbox' : 'uk-radio'"
              :type="Array.isArray(checked) ? 'checkbox' : 'radio'"
              :key="elem[_key]"
              :value="elem[_key]"
              v-model="model"
            />
            {{ elem[value] }}
          </label>
        </li>
        <li v-if="getFilterElements.length == 0">Ничего не найдено</li>
      </ul>
    </div>
  </div>
</template>
<script>

export default {
  model: {
    prop: "checked",
    event: "change"
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    _key: {
      type: String,
      default: "id"
    },
    value: {
      type: String,
      default: "name"
    },
    label: {
      type: String,
      default: null
    },
    checked: {
      type: [Array, Number, String]
    },
    isInput: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      filterValue: "",
    };
  },
  computed: {
    model: {
      get() {
        return this.checked;
      },
      set(val) {
        this.$emit("change", val);
      }
    },
    getFilterElements() {
      return this.data.filter(elem => {
        return String(elem[this.value])
          .toLowerCase()
          .includes(this.filterValue.toLowerCase());
      });
    },
  },
  methods: {
    input(val) {
      this.$emit('input', val.target.value);
    },
    clearInput() {
      this.filterValue = "";
    }
  }
};
</script>
<style scoped>
.uk-list label:before {
  content: none;
}
.input-clear-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}
.button-input {
  border: none;
}

.select-button {
  padding-right: 30px !important;
  padding-left: 15px;
  text-align: left;
  position: relative;
  text-transform: none;
  background-color: #fff;
}

.select-button span {
  position: absolute;
  top: 10px;
  right: 5px;
}

.multi-select {
  overflow-x: auto;
  max-height: 250px;
  max-width: none !important;
}

.multi-select .uk-checkbox {
  margin-right: 10px;
}

.multi-select ul li label {
  display: block;
  width: 100%;
  padding: 3px;
  user-select: none;
  cursor: pointer;
}

.multi-select ul li label:hover {
  background-color: #f7f7f7;
}
</style>
