/*
Name: NavLeft
Version: 1.1
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container">
      <div class="uk-margin-top uk-margin-bottom">
        <div :class="classTitle">{{title}}</div>
        <div uk-grid>
          <div class="uk-width-1-3@s">
            <div
              class="nav uk-nav uk-subnav-pill uk-height-max-large"
              uk-overflow-auto
              uk-switcher="connect: .switcher-container"
              id="vacansy"
            >
              <li class="titleNav" v-for="(cards, i) in cardJSON" :key="i">
                <a href="#">
                  <div class="titleNavDiv" :class="classTitleNav">{{cards.titleNav}}</div>
                </a>
              </li>
            </div>
          </div>
          <div class="uk-width-2-3@s">
            <div class="navSwitch uk-switcher switcher-container uk-margin" uk-overflow-auto>
              <div v-for="(cards, i) in cardJSON" :key="i">
                <div :class="classTitleText">{{cards.titleText}}</div>
                <div class="uk-margin-bottom" v-for="(title, i) in cards.text" :key="i">
                  <div :class="classSubtitleText">{{title.subtitleText}}</div>
                  <div
                    v-for="(item, i) in title.textItem"
                    :key="i"
                    :class="classMessage"
                  >{{item.item}}</div>
                </div>
                <div>
                  <a :uk-toggle="cards.targetButtonText" :href="cards.urlButtonText">
                    <button :class="classButtonText">{{ cards.buttonText }}</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavLeft",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: "Вакансии"
    },
    classTitle: {
      type: String,
      default: "fs18 fs20@s fs24@m fs28@l fnt-bld"
    },
    classTitleNav: {
      type: String,
      default: "fs16 fs22@m uk-padding-small fnt-bld"
    },
    classTitleText: {
      type: String,
      default: "fs18 fs20@s fs24@l fnt-bld uk-margin-bottom"
    },
    classSubtitleText: {
      type: String,
      default: "fs18 fs20@s fs24@l fnt-bld"
    },
    classMessage: {
      type: String,
      default: "fs16 fs18@l"
    },
    classButtonText: {
      type: String,
      default: "btnText uk-button uk-button-default fs16 fs18@l"
    },
    img: {
      type: String,
      default: ""
    }
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    }
  }
};
</script>

<style lang="css" scoped>
.uk-subnav-pill > * > :first-child {
  color: #000;
}

.titleNav a:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #27beb9;
}
.uk-subnav-pill > .uk-active > a {
  background-color: #27beb9;
  color: #fff;
}
.btnText {
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #27beb9;
}
.btnText:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #27beb9;
}
</style>
