/*
Name: NineCards
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-top uk-margin-bottom">
      <div>
        <div
          class="uk-margin-small-bottom uk-width-1-1 uk-card-title fs24 fs24@s fs20@m fs30@l fnt-bld"
        >{{ title }}</div>
      </div>
      <div uk-grid>
        <div class="uk-width-1-1 uk-width-3-5@l">
          <div uk-slider>
            <div class="uk-position-relative">
              <div class="uk-slider-container uk-light uk-padding-small">
                <ul class="uk-slider-items uk-margin-bottom uk-grid uk-child-width-1-1">
                  <li v-for="(cards, i) in cardJSON" :key="i">
                    <a :uk-toggle="cards.targetCard" :href="cards.urlCard">
                      <div>
                        <div
                          class="uk-card uk-card-default uk-padding-small uk-card-small uk-card-hover uk-card-body"
                        >
                          <div
                            class="uk-grid-column-small uk-grid-row-small uk-child-width-1-3@s uk-text-center"
                            uk-grid
                            uk-height-match="target: > div > .uk-card; row: false"
                          >
                            <div class="cardDiv">
                              <div
                                class="fs20 fnt-bld textCard cardDiv uk-card"
                              >{{cards.textCardFirst}}</div>
                            </div>
                            <div
                              class="cardDiv uk-flex uk-flex-center uk-flex-middle uk-text-center"
                            >
                              <div class="textCard cardDiv uk-card uk-card-body">
                                <img
                                  :data-src="cards.imgCardFirst"
                                  width="60"
                                  height="60"
                                  alt
                                  uk-img
                                />
                              </div>
                            </div>
                            <div class="cardDiv">
                              <div
                                class="fs20 fnt-bld textCard cardDiv uk-card"
                              >{{cards.textCardSecond}}</div>
                            </div>
                            <div
                              class="cardDiv uk-flex uk-flex-center uk-flex-middle uk-text-center"
                            >
                              <div class="textCard cardDiv uk-card uk-card-body">
                                <img
                                  :data-src="cards.imgCardSecond"
                                  width="60"
                                  height="60"
                                  alt
                                  uk-img
                                />
                              </div>
                            </div>
                            <div>
                              <div class="cardDiv">
                                <button
                                  class="uk-button uk-width-expand uk-padding-remove uk-button-default fs20 btnHow"
                                >{{cards.buttonText}}</button>
                              </div>
                            </div>
                            <div
                              class="cardDiv uk-flex uk-flex-center uk-flex-middle uk-text-center"
                            >
                              <div class="textCard cardDiv uk-card uk-card-body">
                                <img
                                  :data-src="cards.imgCardThird"
                                  width="60"
                                  height="60"
                                  alt
                                  uk-img
                                />
                              </div>
                            </div>
                            <div class="cardDiv">
                              <div
                                class="fs20 fnt-bld textCard cardDiv uk-card"
                              >{{cards.textCardThird}}</div>
                            </div>
                            <div
                              class="cardDiv uk-flex uk-flex-center uk-flex-middle uk-text-center"
                            >
                              <div class="textCard cardDiv uk-card uk-card-body">
                                <img
                                  :data-src="cards.imgCardFourth"
                                  width="60"
                                  height="60"
                                  alt
                                  uk-img
                                />
                              </div>
                            </div>
                            <div class="cardDiv">
                              <div
                                class="fs20 fnt-bld textCard cardDiv uk-card"
                              >{{cards.textCardFourth}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="uk-hidden@m uk-dark">
                <a
                  class="uk-position-center-left uk-position-small"
                  href="#"
                  uk-slidenav-previous
                  uk-slider-item="previous"
                ></a>
                <a
                  class="uk-position-center-right uk-position-small"
                  href="#"
                  uk-slidenav-next
                  uk-slider-item="next"
                ></a>
              </div>

              <div class="uk-visible@m">
                <a
                  class="uk-position-center-left-out uk-slidenav-large uk-position-small"
                  href="#"
                  uk-slidenav-previous
                  uk-slider-item="previous"
                ></a>
                <a
                  class="uk-position-center-right-out uk-slidenav-large uk-position-small"
                  href="#"
                  uk-slidenav-next
                  uk-slider-item="next"
                ></a>
              </div>
            </div>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
          </div>
        </div>
        <div class="imgRightDiv uk-margin-remove uk-visible@l uk-width-2-5@l">
          <img class="imgRight" :data-src="imgRight" :style="imgWidth" width="800" height="800" alt uk-img />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "NineCards",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: "Новые возможности и бонусы при работе с компанией ВЕВАНТА",
    },
    img: {
      type: String,
      default:"",
    },
    imgWidth: {
      type: String,
      default:"max-width: 700px;",
    },
    imgRight: {
      type: String,
      default:"https://lh3.googleusercontent.com/proxy/_dvliJatEgPfE8kr7TuzFw-3cTxHXsAbfli40uuE8zDktCsYYgbflsRMa6NE4R9mDtHPNda9jmK2EkcVw2Q3Jv-a",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
  },
};
</script>

<style lang="css" scoped>

.textCard {
  color: #009688;
}
.cardDiv {
  height: 100%;
}
.btnHow {
  height: 100%;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnHow:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
</style>
