<template>
  <div
    class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1"
    uk-grid
  >
    <div class="uk-flex uk-width-1-1 uk-flex-start uk-flex-wrap">
      <button
        class="uk-button uk-button-default uk-margin-small-right prop-type-btn"
        v-for="q in quantity" :key="q"
        :id="quantity.indexOf(q)"
        v-if="q"
        @click="chooseClass(quantity.indexOf(q))"
      >
        {{ classes[quantity.indexOf(q)] }}: {{ q }}
      </button>
    </div>

    <div
      v-for="(item, i) in showItems"
      :key="i"
      v-if="showOffers === item.object.class_id"
    >
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top uk-position-relative" tabindex="-1" uk-slideshow>
          <ul class="uk-slideshow-items">
            <li v-for="(ph, index) in item.photos" :key="index">
              <a :href="`https://vevanta.ru/item/${item.object.id}/`" target="_blank"
                ><img :src="`${cdn}${ph.photo360}`" alt="" uk-cover
              /></a>
            </li>
          </ul>
          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slideshow-item="previous"
            style="color: #fff"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slideshow-item="next"
            style="color: #fff"
          ></a>
        </div>
        <a
          class="uk-display-block uk-card-body uk-link-toggle"
          :href="`https://vevanta.ru/item/${item.object.id}/`"
          target="_blank"
        >
          <div>
            <span v-if="item.object.object_type_flat_name">{{
              item.object.object_type_flat_name
            }}</span>
            <span v-else-if="item.object.object_type_room_name">{{
              item.object.object_type_room_name
            }}</span>
            <span v-else-if="item.object.object_type_area_name">{{
              item.object.object_type_area_name
            }}</span>
            <span v-else-if="item.object.object_type_house_name">{{
              item.object.object_type_house_name
            }}</span>
            <span v-else-if="item.object.object_type_garage_name">{{
              item.object.object_type_garage_name
            }}</span>
            <span v-else-if="item.object.object_type_commerce_name">{{
              item.object.object_type_commerce_name
            }}</span
            >,
            <span v-if="item.object.square">{{ item.object.square }} м<sup>2</sup></span>
            <span v-else>{{ item.object.land_area }} сот.</span>
          </div>
          <div class="uk-text-large uk-text-bold">
            <span>₽ {{ item.object.price | price }}</span>
          </div>
          <div>
            <span v-if="item.object.address_city_name">{{
              item.object.address_city_name
            }}</span>
            <span v-else>{{ item.object.address_settlement_name }}</span>
          </div>
          <div class="uk-text-truncate">
            <span v-if="item.object.address_street_name && item.object.class_id != 3 && item.object.class_id != 6"
              >{{ item.object.address_street_name }},
            </span>
            <span v-else>{{ item.object.address_tract_name }} тракт</span>

            <span v-if="item.object.with_house_number && (item.object.class_id === 1 || item.object.class_id === 2)">{{ item.object.address_house_name }} {{ item.object.address_house_block }}</span>
          </div>
        </a>
      </div>
    </div>

    <div class="uk-flex uk-width-1-1 uk-flex-center">
      <ul class="uk-pagination" uk-margin>
        <li v-for="page in pages" :key="page">
          <button
            @click="setPage(page)"
            class="uk-button uk-button-default uk-button-small"
          >
            {{ page }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import input from "@/filters/Input.js";
export default {
  mixins: [input],
  props: {
    agentId: {
      type: Number,
      default: 178,
    },
  },
  data() {
    return {
      filter: {
        agent_id: this.agentId,
      },
      items: [],
      quantity: [0, 0, 0, 0, 0, 0],
      classes: ["Квартира", "Комната", "Дом", "Гараж", "Коммерция", "Участок"],
      firstClass: 0,
      showOffers: 0,
      currPage: 1,
      classItems: [],
      showItems: [],
      itemsPerPage: 8,
      pages: 1,
    };
  },
  computed: {
    cdn() {
      return this.$store.state.cdn;
    },
  },
  methods: {
    getData: function () {
      this.$axios
        .post("/objects/get_by_agent", {
          filter: this.filter,
        })
        .then((res) => {
          this.items = res.data.items;
              console.log(this.items)
          this.items.forEach((item) => {
            //type counter
            this.quantity[item.object.class_id - 1]++;
          });
          for (let i = 0; i < this.quantity.length; i++) {
            //setting showOffers
            if (this.quantity[i]) {
              this.showOffers = i + 1;
              break;
            }
          }
          this.chooseClass(this.showOffers - 1);
        });
    },

    chooseClass(class_id) {
      this.showOffers = class_id + 1;

      //return number of pages
      this.pages = Math.ceil(this.quantity[class_id] / this.itemsPerPage);

      //set the array of objects of class
      this.classItems = [];

      this.items.forEach((item) => {
        if (item.object.class_id === this.showOffers) {
          this.classItems.push(item);
        }
      });

      this.setPage(1);
    },

    setPage(num) {
      this.currPage = num;

      let to = num * this.itemsPerPage;
      let from = to - this.itemsPerPage;

      this.showItems = this.classItems.slice(from, to);
    },
  },

  mounted: function () {
    this.getData();
  },
};
</script>

<style scoped>
.uk-button-default:focus {
  background-color: #00bab6;
  color: #fff;
}
</style>
