<template>
  <div
    class="uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1"
    :class="child_class"
    uk-grid
  >
    <div v-for="(item, i) in items" :key="i">
      <div class="uk-card uk-card-hover uk-card-default">
        <div
          class="uk-card-media-top uk-position-relative"
          tabindex="-1"
          uk-slideshow
        >
          <ul class="uk-slideshow-items">
            <li v-for="(ph, index) in item.photos" :key="index">
              <a
                :href="`https://vevanta.ru/item/${item.object.id}/`"
                target="_blank"
                ><img :src="`${cdn}${ph.photo360}`" alt="" uk-cover
              /></a>
            </li>
          </ul>
          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slideshow-item="previous"
            style="color:#fff;"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slideshow-item="next"
            style="color:#fff;"
          ></a>
        </div>
        <a
          class="uk-display-block uk-card-body uk-link-toggle"
          :href="`https://vevanta.ru/item/${item.object.id}/`"
          target="_blank"
        >
          <div>{{ title(item) }}, {{ item.object.square }} м<sup>2</sup></div>
          <div class="uk-text-large uk-text-bold">
            <span>₽ {{ item.object.price | price }}</span>
          </div>
          <div class="uk-text-truncate">
            {{getAddress(item)}}
          </div>
        </a>
      </div>
    </div>
    <div v-if="isShowMap" class="uk-width-expand uk-flex uk-flex-stretch">
      <a
        href="https://vevanta.ru/map/"
        target="_blank"
        class="uk-height-1-1 uk-width-1-1"
      >
        <div
          class="map-content uk-flex uk-flex-center uk-flex-middle uk-width-1-1 uk-height-1-1"
        >
          <div
            class="map-content__content uk-flex uk-flex-column uk-flex-middle uk-width-3-5 uk-padding-small"
          >
            <p class="uk-margin-remove fs24 uk-text-bold map-content__title">
              Поиск на карте
            </p>
            <p
              class="uk-margin-small uk-text-center fs18 map-content__subtitle"
            >
              Ищите квартиры рядом с работой, парком или родственниками
            </p>
            <p class="uk-margin-small">
              <button class="btn-map btn__tpl1 uk-margin-remove">
                Найти на карте
              </button>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="uk-width-1-1 uk-text-center uk-margin">
      <a href="/kupit/" class="uk-button uk-button-default">Посмотреть все</a>
    </div>
  </div>
</template>

<script>
import input from "@/filters/Input.js";
import ObjectItem from "../mixins/Object/ObjectItem.js";

export default {
  mixins: [input, ObjectItem],
  props: {
    classId: {
      type: Number,
      default: 1
    },
    filter_prop: {
      type: String,
      default: null
    },
    child_class: {
      type: String,
      default: "uk-child-width-1-4@l"
    },
    isShowMap: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      filter: {
        class_id: this.classId
      },
      items: []
    };
  },
  computed: {
    cdn() {
      return this.$store.state.cdn;
    },
    getJSONFilter() {
      return JSON.parse(this.filter_prop);
    }
  },
  methods: {
    getData: function() {
      this.filter = { ...this.filter, ...this.getJSONFilter};

      if (!this.filter.count_items) {
        this.filter.count_items = this.isShowMap ? 6 : 8;
      }

      this.$axios
        .post("/objects/get_by_params", {
          filter: this.filter
        })
        .then(res => {
          this.items = res.data.items;
        });
    },
  },
  mounted: function() {
    this.getData();
  }
};
</script>

<style scoped>
.map-content {
  background-image: url("https://vevanta.ru/wp-content/uploads/2020/12/map-background.png");
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  color: #333;
}
.map-content:hover {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}

.map-content:hover .btn-map {
  background-color: #00bab6;
  color: #fff;
  border: 1px solid #00bab6;
  cursor: pointer;
}
.map-content:hover .map-content__content {
  transform: scale(1.02);
}

.map-content::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.4) 15%,
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0.4) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.map-content__content {
  z-index: 10;
  transition: 0.3s;
}

.btn-map {
  border: 1px solid #00bab6 !important;
  transition: background-color 0.5s;
  box-sizing: border-box;
  background: none;
  color: #009693;
}

@media screen and (max-width: 640px) {
  .map-content__title {
    font-size: 18px;
  }

  .map-content__subtitle {
    font-size: 14px;
  }
}
</style>
