<template>
  <div class="quiz-container">
    <div
      class="uk-card uk-card-default uk-flex uk-flex-column uk-margin-medium-top"
    >
      <div class="uk-card-body uk-padding-small">
        <template v-if="step == 1">
          <p class="uk-text-bold fs20">Объявление</p>
          <hr />

          <p class="uk-width-1-1 uk-margin-remove">Тип сделки</p>
          <div class="uk-width-1-1 uk-flex uk-flex-wrap">
            <div
              v-for="action in actions_id"
              :key="action.id"
              class="uk-margin-small-top uk-padding-remove"
            >
              <button
                class="uk-button toggle-button"
                :class="{ btn__green: action.id == inputs.action_id }"
                @click="inputs.action_id = action.id"
              >
                {{ action.text }}
              </button>
            </div>
          </div>

          <template v-if="!!inputs.action_id">
            <p class="uk-width-1-1 uk-margin-remove-bottom">Вид недвижимости</p>
            <div class="uk-width-1-1 uk-flex uk-flex-wrap">
              <div
                v-for="_class in classes_id"
                :key="_class.id"
                class="uk-margin-small-top uk-padding-remove"
              >
                <button
                  class="uk-button toggle-button"
                  :class="{ btn__green: _class.id == inputs.class_id }"
                  @click="inputs.class_id = _class.id"
                >
                  {{ _class.text }}
                </button>
              </div>
            </div>
          </template>

          <template v-if="inputs.class_id == 1">
            <p class="uk-width-1-1 uk-margin-remove-bottom">Тип недвижимости</p>
            <div class="uk-width-1-1 uk-flex uk-flex-wrap">
              <div
                v-for="type in types_id"
                :key="type.id"
                class="uk-margin-small-top uk-padding-remove"
              >
                <button
                  class="uk-button toggle-button"
                  :class="{ btn__green: type.id == inputs.type_building_id }"
                  @click="inputs.type_building_id = type.id"
                >
                  {{ type.text }}
                </button>
              </div>
            </div>
          </template>

          <template
            v-if="inputs.class_id == 1 && inputs.type_building_id != null"
          >
            <p class="uk-width-1-1 uk-margin-remove-bottom">
              Количество комнат
            </p>
            <div class="uk-width-1-1 uk-flex uk-flex-wrap">
              <div
                v-for="type_id in types_flat_id"
                :key="type_id.id"
                class="uk-margin-small-top uk-padding-remove"
              >
                <button
                  class="uk-button toggle-button"
                  :class="{
                    btn__green: inputs.type_flat_id.includes(type_id.id)
                  }"
                  @click="selectButton('type_flat_id', type_id.id)"
                >
                  {{ type_id.text }}
                </button>
              </div>
            </div>
          </template>
          <template v-if="inputs.class_id == 3">
            <p class="uk-width-1-1 uk-margin-remove-bottom">Тип дома</p>
            <div class="uk-width-1-1 uk-flex uk-flex-wrap">
              <div
                v-for="type_id in types_house_id"
                :key="type_id.id"
                class="uk-margin-small-top uk-padding-remove"
              >
                <button
                  class="uk-button toggle-button"
                  :class="{
                    btn__green: inputs.type_house_id.includes(type_id.id)
                  }"
                  @click="selectButton('type_house_id', type_id.id)"
                >
                  {{ type_id.text }}
                </button>
              </div>
            </div>
          </template>
        </template>

        <template v-if="step == 2">
          <p class="uk-text-bold fs20">Адрес</p>
          <hr />
          <div class="uk-grid uk-grid-small">
            <div
              class="uk-margin-small-bottom"
              :class="
                (inputs.action_id == 1 || inputs.action_id == 2) &&
                inputs.class_id != 6
                  ? 'uk-width-3-4'
                  : 'uk-width-1-1'
              "
            >
              <div class="uk-inline uk-width-1-1">
                <address-input :filter="inputs"></address-input>
              </div>
            </div>
            <div
              class="uk-margin-small-bottom uk-width-1-4"
              v-if="
                inputs.class_id == 1 &&
                  (inputs.action_id == 1 || inputs.action_id == 2)
              "
            >
              <input
                class="uk-input"
                type="text"
                placeholder="№ квартиры"
                v-model="inputs.flat_number"
              />
            </div>

            <div
              class="uk-margin-small-bottom uk-width-1-4"
              v-if="
                inputs.class_id == 3 &&
                  (inputs.action_id == 1 || inputs.action_id == 2)
              "
            >
              <input
                class="uk-input"
                type="text"
                placeholder="№ дома"
                v-model="inputs.house_number"
              />
            </div>
          </div>
        </template>

        <template v-if="step == 3">
          <p class="uk-padding-remove uk-text-bold uk-width-1-1 fs20">
            Об объекте
          </p>
          <hr />

          <template v-if="inputs.class_id == 1 || inputs.class_id == 3">
            <div
              class="uk-margin-small-bottom"
              v-if="inputs.action_id == 1 || inputs.action_id == 2"
            >
              <input
                class="uk-input"
                type="text"
                placeholder="Площадь, м²"
                v-model="inputs.area"
              />
            </div>
            <div
              class="uk-grid uk-grid-small uk-margin-small-bottom"
              uk-grid
              v-if="inputs.action_id == 3 || inputs.action_id == 4"
            >
              <div class="uk-width-1-2 uk-position-relative">
                <div class="uk-form-controls">
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Площадь от, м²"
                    v-model="inputs.min_area"
                  />
                </div>
              </div>
              <div class="uk-width-1-2 uk-position-relative">
                <div class="uk-form-controls">
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Площадь до, м²"
                    v-model="inputs.max_area"
                  />
                </div>
              </div>
            </div>
          </template>

          <template v-if="inputs.class_id == 3 || inputs.class_id == 6">
            <div
              class=" uk-margin-small-bottom"
              v-if="inputs.action_id == 1 || inputs.action_id == 2"
            >
              <input
                class="uk-input"
                type="text"
                placeholder="Площадь участка, сот"
                v-model="inputs.land_area"
              />
            </div>

            <div
              class="uk-grid uk-grid-small uk-margin-small-bottom"
              uk-grid
              v-if="inputs.action_id == 3 || inputs.action_id == 4"
            >
              <div class="uk-width-1-2 uk-position-relative">
                <div class="uk-form-controls">
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Площадь участка от, сот"
                    v-model="inputs.min_land_area"
                  />
                </div>
              </div>
              <div class="uk-width-1-2 uk-position-relative">
                <div class="uk-form-controls">
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Площадь участка до, сот"
                    v-model="inputs.max_land_area"
                  />
                </div>
              </div>
            </div>
          </template>

          <div
            class=" uk-margin-small-bottom"
            v-if="
              (inputs.class_id == 3 || inputs.class_id == 6) &&
                inputs.action_id == 1
            "
          >
            <input
              class="uk-input"
              type="text"
              placeholder="Кадастровый номер"
              v-model="inputs.cadastral_number"
            />
          </div>

          <div
            class="uk-margin-small-bottom"
            v-if="inputs.action_id == 1 || inputs.action_id == 2"
          >
            <input
              class="uk-input"
              type="text"
              placeholder="Цена, ₽"
              v-model="inputs.price"
            />
          </div>

          <div
            class="uk-grid uk-grid-small"
            uk-grid
            v-if="inputs.action_id == 3 || inputs.action_id == 4"
          >
            <div class="uk-width-1-2 uk-position-relative">
              <div class="uk-form-controls">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="Цена от, ₽"
                  v-model="inputs.min_price"
                />
              </div>
            </div>
            <div class="uk-width-1-2 uk-position-relative">
              <div class="uk-form-controls">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="Цена до, ₽"
                  v-model="inputs.max_price"
                />
              </div>
            </div>
          </div>

          <div
            class="uk-width-1-1 uk-margin-small-bottom"
            v-if="inputs.action_id == 1 || inputs.action_id == 2"
          >
            <label>
              <textarea
                class="uk-textarea"
                rows="5"
                :placeholder="`Описание ${getObjectTitle}`"
                v-model="inputs.description"
              ></textarea>
            </label>
          </div>

          <div
            class="uk-grid uk-grid-small uk-margin-small-bottom uk-margin-small-top"
            uk-grid
            v-if="inputs.class_id == 1"
          >
            <div class="uk-width-1-2@m uk-width-1-1@s uk-position-relative">
              <div class="uk-form-controls">
                <m-select
                  :data="wall_types"
                  _key="id"
                  :label="
                    `Материал стен${getTitle('type_wall_id', 'wall_types')}`
                  "
                  value="text"
                  v-model="inputs.type_wall_id"
                  :isInput="false"
                  :multiSelect="
                    inputs.action_id == 1 || inputs.action_id == 2
                      ? false
                      : true
                  "
                ></m-select>
              </div>
            </div>
            <div class="uk-width-1-2@m uk-width-1-1@s uk-position-relative">
              <div class="uk-form-controls">
                <m-select
                  :data="repairs"
                  _key="id"
                  :label="`Ремонт${getTitle('type_repair_id', 'repairs')}`"
                  value="text"
                  v-model="inputs.type_repair_id"
                  :isInput="false"
                  :multiSelect="
                    inputs.action_id == 1 || inputs.action_id == 2
                      ? false
                      : true
                  "
                ></m-select>
              </div>
            </div>
          </div>

          <div
            class=" uk-margin-small-bottom uk-width-1-1"
            v-if="inputs.action_id == 1 || inputs.action_id == 2"
          >
            <div class="js-upload uk-placeholder uk-text-center uk-width-1-1">
              <span
                uk-icon="icon: cloud-upload"
                class="uk-margin-small-right"
              ></span>
              <div uk-form-custom>
                <input
                  type="file"
                  multiple
                  accept="image/*"
                  ref="files"
                  @change="uploadFile()"
                />
                <span class="uk-link"
                  >Загрузите фотографии объекта <br />
                  (максимальный размер фотографии 10 Мб)</span
                >
              </div>
            </div>
            <div class="uk-flex uk-flex-wrap">
              <div
                v-for="(image, i) in images"
                class="uk-card uk-card-default uk-margin-small-right"
                :key="i"
              >
                <div
                  class="uk-position-top-right uk-background-muted remove-button"
                  @click="removeFile(i)"
                >
                  <span uk-icon="icon: close; ratio: 1"></span>
                </div>
                <img height="100px" width="100px" :src="image.img" />
              </div>
            </div>
          </div>
        </template>

        <template v-if="step == 4">
          <p class="uk-text-bold fs20">Клиент</p>
          <hr />
          <div class="uk-margin-small-bottom">
            <input
              class="uk-input"
              type="text"
              placeholder="Имя"
              v-model="inputs.name"
            />
          </div>
          <div class="uk-margin-small-bottom">
            <input
              class="uk-input"
              type="text"
              placeholder="Ваш телефон"
              v-model="inputs.phone"
            />
          </div>
        </template>
        <template v-if="step == 5">
          <div class="uk-padding-medium">
            <p class="uk-text-bold fs20 uk-text-center">
              Ваша заявка отправлена! <br />
              В ближайшее время с вами свяжется наш менеджер
            </p>
            <div class="uk-text-center uk-width-1-1 check-icon-block">
              <span
                class="uk-margin-small-right"
                uk-icon="icon: check; ratio: 2"
              ></span>
            </div>
          </div>
        </template>
      </div>
      <div
        class="uk-card-footer uk-flex uk-flex-between uk-margin-small-top uk-padding-small"
        v-if="step != 5"
      >
        <button
          class="uk-button btn__tpl1"
          @click="changePage(-1)"
          :disabled="step == 1"
        >
          Предыдущий шаг
        </button>

        <button
          v-if="step != 4"
          class="uk-button btn__tpl1"
          :class="{ btn__green: !lockNextButton }"
          :disabled="lockNextButton"
          @click="changePage(1)"
        >
          Следующий шаг
        </button>

        <button
          class="uk-button btn__tpl1"
          :class="{ btn__green: !lockNextButton }"
          @click="sendForm"
          v-if="step == 4"
          :disabled="lockNextButton"
        >
          Отправить
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import mSelect from "./multiSelect";
import inputMask from "../mixins/inputMask";
import addressInput from './AddressInput';

export default {
  mixins: [inputMask],
  data() {
    return {
      step: 1,
      classes_id: [
        { id: 1, text: "Квартира" },
        { id: 3, text: "Загородная недвижимость" },
        { id: 6, text: "Участок" }
      ],
      actions_id: [
        { id: 1, text: "Продам" },
        { id: 2, text: "Сдам" }
        // { id: 3, text: "Куплю" },
        // { id: 4, text: "Сниму" }
      ],
      types_id: [
        { id: 0, text: "Вторичка" },
        { id: 1, text: "Новостройка" }
      ],
      types_flat_id: [
        { id: 1, text: "Студия" },
        { id: 2, text: "1-комнатная" },
        { id: 3, text: "2-комнатная" },
        { id: 4, text: "3-комнатная" },
        { id: 5, text: "4-комнатная" },
        { id: 6, text: "5-комнатная и более" }
      ],
      types_house_id: [
        { id: 1, text: "Отдельный дом" },
        { id: 2, text: "Часть дома" },
        { id: 3, text: "Таунхаус" },
        { id: 4, text: "Дуплекс" }
      ],
      wall_types: [
        { id: 1, text: "Кирпич" },
        { id: 2, text: "Монолит" },
        { id: 3, text: "Панель" },
        { id: 4, text: "Крипич-монолит" },
        { id: 5, text: "Блок" },
        { id: 6, text: "Дерево" },
        { id: 7, text: "Брус" }
      ],
      repairs: [
        { id: 1, text: "Косметический" },
        { id: 2, text: "Дизайнерский" },
        { id: 3, text: "Евро" },
        { id: 4, text: "Требуется" },
        { id: 5, text: "Улучшенный черновой" },
        { id: 6, text: "Черновой" },
        { id: 7, text: "Хороший" },
        { id: 8, text: "От застройщика" }
      ],

      addressOptions: [],
      insertedAddress: null,

      inputs: {
        class_id: null,
        action_id: null,
        type_building_id: null,
        type_flat_id: [],
        type_house_id: [],
        type_wall_id: [],
        type_repair_id: [],
        address: {
          address_string: null
        },
        cadastral_number: null,
        area: null,
        min_area: null,
        max_area: null,
        land_area: null,
        min_land_area: null,
        max_land_area: null,
        price: null,
        min_price: null,
        max_price: null,
        house_number: null,
        flat_number: null,
        description: null,
        name: null,
        phone: null
      },
      files: [],
      images: []
    };
  },
  watch: {
    inputs: {
      deep: true,
      handler(val) {
        if (val.action_id == 1 || val.action_id == 2) {
          if (this.inputs.type_flat_id.length > 1)
            this.inputs.type_flat_id = this.inputs.type_flat_id.splice(0, 1);
          if (this.inputs.type_house_id.length > 1)
            this.inputs.type_house_id = this.inputs.type_house_id.splice(0, 1);
          if (this.inputs.type_wall_id.length > 1)
            this.inputs.type_wall_id = this.inputs.type_wall_id.splice(0, 1);
          if (this.inputs.type_repair_id.length > 1)
            this.inputs.type_repair_id = this.inputs.type_repair_id.splice(
              0,
              1
            );
        }
        if (
          val.class_id != 1 &&
          (!!val.type_flat_id.length || !!val.type_building_id)
        ) {
          this.inputs.type_flat_id = [];
          this.inputs.type_building_id = null;
        }
        if (val.class_id != 3 && !!val.type_house_id.length) {
          this.inputs.type_house_id = [];
        }
      }
    },
  },
  computed: {
    getObjectTitle() {
      switch (this.inputs.class_id) {
        case 1:
          return "квартиры";
        case 3:
          return "дома";
        case 6:
          return "участка";
        default:
          return "объекта";
      }
    },

    lockNextButton() {
      if (this.step == 1) {
        if (
          !!!this.inputs.class_id ||
          (this.inputs.class_id == 1 &&
            (this.inputs.type_building_id == null ||
              !!!this.inputs.type_flat_id.length))
        )
          return true;
        if (this.inputs.class_id == 3 && !!!this.inputs.type_house_id.length)
          return true;
      }
      if (this.step == 2) {
        if (!this.inputs.address.address_string) return true;
      }
      if (this.step == 3) {
        if (this.inputs.action_id == 1 || this.inputs.action_id == 2) {
          if (
            this.inputs.class_id == 1 &&
            (!this.inputs.area ||
              !this.inputs.price ||
              !this.inputs.description ||
              this.inputs.description.length < 10)
          ) {
            return true;
          }
          if (
            this.inputs.class_id == 3 &&
            (!this.inputs.area ||
              !this.inputs.land_area ||
              !this.inputs.price ||
              !this.inputs.description ||
              this.inputs.description.length < 10)
          ) {
            return true;
          }
          if (
            this.inputs.class_id == 6 &&
            (!this.inputs.land_area ||
              !this.inputs.price ||
              !this.inputs.description ||
              this.inputs.description.length < 10)
          ) {
            return true;
          }
        }
      }
      if (this.step == 4) {
        if (
          !this.inputs.name ||
          !this.formatPhone ||
          this.formatPhone.length < 10
        )
          return true;
      }
    }
  },
  methods: {
    sendForm() {
      let formData = new FormData();
      if (!!this.files) {
        this.files.forEach((file, i) => {
          formData.append(`file[]`, file, file.name);
        });
      }

      for (let key in this.inputs) {
        if (key == "phone") {
          formData.append(key, this.formatPhone);
        } else if (key == 'address') {
          formData.append(key, this.inputs.address.address_string);
        } else if (!!this.inputs[key] && typeof this.inputs[key] == "object") {
          let value =
            this.inputs[key].length > 0 ? this.inputs[key].join(",") : null;
          formData.append(key, value);
        } else formData.append(key, this.inputs[key]);
      }

      this.$axios.post("orders/addOrder", formData)
        .then(res => {
          this.step++;
        })
        .catch(err => {
          console.log(err);
        });
    },
    uploadFile() {
      [...this.$refs.files.files].forEach(file => {
        if (file.size / 1024 / 1024 > 10) {
          return;
        }
        this.files.push(file);
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
          this.images.push({ title: file.name, img: reader.result });
        };
      });
    },
    removeFile(index) {
      this.images.splice(index, 1);
      this.files.splice(index, 1);
    },
    selectButton(field, id) {
      if (this.inputs[field].includes(id)) {
        let index = this.inputs[field].indexOf(id);
        if (index != -1) this.inputs[field].splice(index, 1);
      } else {
        if (this.inputs.action_id == 1 || this.inputs.action_id == 2) {
          if (this.inputs[field].length > 0) {
            this.inputs[field] = [];
            this.inputs[field].push(id);
            return;
          }
        }
        this.inputs[field].push(id);
      }
    },
    getTitle(field, dataField) {
      return `: ${this[dataField]
        .filter(df => this.inputs[field].includes(df.id))
        .map(df => df.text)
        .join(", ")}`;
    },
    changePage(value) {
      if (this.step == 1 && value == -1) return;
      if (this.step == 4 && value == 1) return;
      this.step += value;
    }
  },
  components: {
    mSelect,
    addressInput
  }
};
</script>

<style>
.remove-button {
  opacity: 0.5;
}
.remove-button:hover {
  opacity: 1;
  cursor: pointer;
}
.quiz-container .uk-button {
  font-size: 13px;
  padding: 0px 15px;
  text-transform: none;
}
.quiz-container .toggle-button {
  border-radius: 60px;
  margin-right: 10px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.dropdown-items li {
  padding: 5px;
  white-space: normal;
  cursor: pointer;
}
.check-icon-block span {
  background-color: #58bd58;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}
</style>
