<template>
  <div>
    <div class="uk-grid uk-grid-large" uk-grid>
      <div class="uk-width-1-1 uk-width-1-4@l uk-width-1-4@m uk-width-1-3@s" v-for="(user, index) in users" :key="index">
        <div class="uk-card uk-card-small uk-card-default uk-card-hover uk-animation-fade">
          <div class="uk-card-media-top uk-text-center">
            <img loading="lazy" :src="getAvatar(user.photo)" alt="" uk-img="" />
          </div>
          <div class="uk-card-body uk-text-center">
            <div class="uk-text-meta">{{ user.role_name }}</div>
            <div class="uk-text-center uk-text-light">{{ user.name }} {{ user.lastname }}</div>
            {{ user.phone | phoneType}}            
          </div>
          <a :href="`https://vevanta.ru/agent/?id=${user.id}`" target="_blank" class="uk-position-cover"></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import input from "../filters/Input";

export default {
  mixins: [input],
  data() {
    return {
      users: [],
    };
  },

  created() {
    this._getPersonal();
  },

  methods: {
    _getPersonal() {
      this.$axios("users").then((rs) => (this.users = rs.data));
    },

    getAvatar(url) {
      let avatar =
        "https://vevanta.ru/wp-content/themes/agentstvo/assets/images/components/avatar300x300.jpg";

      if (url) {
        avatar = `https://cloud.vevanta.ru/${url}`;
      }

      return avatar;
    },
  },
};
</script>
