<template>
  <input
    type="text"
    v-model="model"
    :placeholder="placeholder"
    :autocomplete="autocomplete"
    :name="name"
  />
</template>

<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: ""
    },
    value: {
      type: String,
      default: ""
    },
    autocomplete: {
      type: String,
      default: "off"
    },
    name: {
      tpye: String,
      default: ""
    }
  },
  data() {
    return {
      val: ""
    };
  },
  computed: {
    model: {
      get() {
        this.val = this.value || "";
        return this.mask(this.val);
      },
      set(val) {
        this.val = val;
        this.$emit("input", val.replace(/[\D]/gi, ""));
      }
    }
  },
  methods: {
    mask(val) {
      val = val.toString().replace(/[\D]/gi, "");
      return val.length > 3
        ? val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        : val;
    }
  }
};
</script>

<style></style>
