<template lang="html">
  <div>
    <div class="search-filter__wrapper">
      <form class="uk-flex uk-height-1-1" @submit.prevent="$store.dispatch('GET_PROJECTS', filterTools)">
        <div class="uk-background-default input__block uk-height-1-1 uk-width-1-2 uk-visible@m">
          <label for="" class="search-filter__label_size-small uk-margin-small-left fs14">Введите название проекта</label>
          <input
            class="border-none uk-input search-filter__input_30 search-filter__input_border-none"
            type="text"
            placeholder="Елена с гаражом"
            name="word"
            v-model="filterTools.word"
          >
        </div>

        <div class="uk-margin-small-left uk-background-default input__block uk-width-1-5@m uk-width-1-2 uk-visible@s">
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <span class="uk-margin-auto-vertical uk-margin-small-left fs14 fs16@s">Кол-во спален</span>
            <i class="uk-margin-auto-vertical uk-margin-small-right icon-down-arrow"></i>
          </div>
          <div uk-dropdown="mode: click" pos="bottom-right" class="uk-border-rounded uk-margin-right">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-1">
                <input class="uk-input" type="text" placeholder="3" v-model="filterTools.rooms">
              </div>
            </div>
          </div>
        </div>

        <div class="uk-margin-small-left uk-background-default input__block uk-width-1-5@m uk-width-1-2 uk-visible@s">
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <span class="uk-margin-auto-vertical uk-margin-small-left">Материал</span>
            <i class="uk-margin-auto-vertical uk-margin-small-right icon-down-arrow"></i>
          </div>
          <div uk-dropdown="mode: click" class="uk-border-rounded">
            <div class="label_wrapper">
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input class="uk-checkbox" type="checkbox" :value="1" name="materials" v-model="filterTools.materials">
                  <span class="uk-margin-small-left">Кирпич</span>
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input class="uk-checkbox" type="checkbox" :value="2" name="materials" v-model="filterTools.materials">
                  <span class="uk-margin-small-left">Газоблок</span>
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input class="uk-checkbox" type="checkbox" :value="3" name="materials" v-model="filterTools.materials">
                  <span class="uk-margin-small-left">Керамический блок</span>
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input class="uk-checkbox" type="checkbox" :value="4" name="materials" v-model="filterTools.materials">
                  <span class="uk-margin-small-left">Керамзитоблок</span>
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input class="uk-checkbox" type="checkbox" :value="5" name="materials" v-model="filterTools.materials">
                  <span class="uk-margin-small-left">Пеноблок</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-margin-small-left uk-background-default input__block uk-width-1-5@m uk-width-1-2">
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <span class="uk-margin-auto-vertical uk-margin-small-left fs14 fs16@s">Этажность</span>
            <i class="uk-margin-auto-vertical uk-margin-small-right icon-down-arrow"></i>
          </div>
          <div uk-dropdown="mode: click" class="uk-border-rounded uk-margin-right">

            <div class="label_wrapper uk-grid uk-grid-small">
              <div class="label label__item">
                <label>
                  <input class="uk-radio" type="radio" :value="0" name="floors" v-model="filterTools.floors">
                  <span class="uk-margin-small-left">Все</span>
                </label>
              </div>
              <div class="label label__item">
                <label>
                  <input class="uk-radio" type="radio" :value="1" name="floors" v-model="filterTools.floors">
                  <span class="uk-margin-small-left">1</span>
                </label>
              </div>
              <div class="label label__item">
                <label>
                  <input class="uk-radio" type="radio" :value="2" name="floors" v-model="filterTools.floors">
                  <span class="uk-margin-small-left">2</span>
                </label>
              </div>
              <div class="label label__item">
                <label>
                  <input class="uk-radio" type="radio" :value="3" name="floors" v-model="filterTools.floors">
                  <span class="uk-margin-small-left">3</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="uk-margin-small-left uk-background-default input__block uk-width-1-5@m uk-width-1-2">
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <div class="uk-margin-auto-vertical uk-margin-small-left fs14 fs16@s">
              <span v-show="!filterTools.square[0] || !filterTools.square[1]">Площадь</span>
              <div v-show="filterTools.square[0] && filterTools.square[1]">
                {{ filterTools.square[0] }} - {{ filterTools.square[1] }} м<sup>2</sup>
              </div>
            </div>
          </div>

          <div uk-dropdown="mode: click" pos="bottom-right" class="uk-border-rounded uk-margin-right">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-small@l uk-width-1-2">
                <input class="uk-input" type="text" placeholder="От" v-model="filterTools.square[0]">
              </div>
              <div class="uk-width-small@l uk-width-1-2">
                <input class="uk-input" type="text" placeholder="До" v-model="filterTools.square[1]">
              </div>
            </div>
          </div>
        </div>


        <div class="uk-text-center uk-width-small uk-margin-small-left input__block uk-visible@s">
          <button class="btn btn__tpl3 fnt-semi btn__green uk-height-1-1 uk-width-1-1 fs18">Найти</button>
        </div>
      </form>
    </div>

    <form @submit.prevent="$store.dispatch('GET_PROJECTS', filterTools)" class="uk-grid uk-grid-small uk-margin-top">
      <div class="">
        <div class="cl-wh uk-flex cr-pointer">
          <div class="uk-flex fnt-bld cl__btn fs20 uk-border-rounded wh45 input__block uk-background-default">
            <i class="icon-filter uk-margin-auto uk-margin-auto-vertical"></i>
          </div>
        </div>
        <div uk-dropdown="mode: click" class="uk-border-rounded spot uk-overflow-hidden">
          <div class="label_wrapper uk-grid">
            <div class="">
              <div class="fs18 fnt-bld uk-margin-bottom cl-dark">
                Тип этажа
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="checkbox"
                    value="1"
                    v-model="filterTools.mansard"
                  >
                  <span class="uk-margin-small-left">Мансарда</span>
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="checkbox"
                    value="1"
                    v-model="filterTools.basement"
                  >
                  <span class="uk-margin-small-left">Цокольный этаж</span>
                </label>
              </div>
            </div>


            <div>
              <div class="fs18 fnt-bld uk-margin-bottom cl-dark">
                Тип гаража
              </div>
              <div class="uk-margin">
                <select class="uk-select" v-model="filterTools.garage_type">
                    <option value="">Любой</option>
                    <option :value="2">Гараж в доме</option>
                    <option value="not">Без гаража</option>
                    <option :value="5">Отдельный гараж</option>
                </select>
              </div>
            </div>

            <div>
              <div class="fs18 fnt-bld uk-margin-bottom cl-dark">
                Размерность
              </div>
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-small@l uk-width-1-2">
                  <input class="uk-input" type="text" placeholder="X" v-model="filterTools.dimension[0]">
                </div>
                <div class="uk-width-small@l uk-width-1-2">
                  <input class="uk-input" type="text" placeholder="Y" v-model="filterTools.dimension[1]">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="uk-text-center uk-width-expand uk-margin-small-left uk-hidden@s">
        <button class="btn btn__tpl3 fnt-semi btn__green uk-height-1-1 uk-width-1-1 fs18">Найти</button>
      </div>
    </form>
  </div>

</template>
<script>
export default {
  name: "ProjectListFilter",
  props: {
    filter: {
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      projects: [],
      filterTools: {},
    }
  },

  created() {
    this.filterTools = this.$_filter_merge()

    this.$store.dispatch('GET_PROJECTS', this.filterTools)

    this.$watch('filterTools.materials', (v) => {
      this.$store.dispatch('GET_PROJECTS', this.filterTools)
    })

    this.$watch('filterTools.mansard', () => {
      this.$store.dispatch('GET_PROJECTS', this.filterTools)
    })

    this.$watch('filterTools.floors', () => {
      this.$store.dispatch('GET_PROJECTS', this.filterTools)
    })

    this.$watch('filterTools.rooms', () => {
      this.$store.dispatch('GET_PROJECTS', this.filterTools)
    })

    this.$watch('filterTools.garage_type', () => {
      console.log(this.filterTools)
      this.$store.dispatch('GET_PROJECTS', this.filterTools)
    })

    this.$watch('filterTools.basement', () => {
      this.$store.dispatch('GET_PROJECTS', this.filterTools)
    })

    this.$watch('$store.state.filterTools.sort', (v) => {
      this.filterTools.sort = v
    })
  },

  methods: {
    $_filter_merge() {
      let filter = {
        bathrooms: 0,
        floors: 0,
        garage_type: '',
        basement: 0,
        rooms: '',
        roof_type: 0,
        square: [],
        mansard: 0,
        materials: [1, 2, 3, 4, 5, 8],
        dimension: [[10.1, 10.9], [10.1, 10.9]],
        sort: 'popular',
        word: '',
      }

      for (let key in filter) {
        if (this.filter[key] !== undefined) {
          filter[key] = this.filter[key]
        }
      }

      return filter;
    }
  }
}
</script>


<style media="screen" scoped>


.cl__btn {
  color: #7c7c7c;
}

.search-filter__wrapper {
  background-color: #0424394f;
  padding: 10px;
}

.input__block {
  height: 60px;
}

.btn__tpl_bord {
  border: 1px solid #e0e0e0;
}

.btn__tpl_bord2 {
  border: 1px solid #858585;
}

.btn__tpl__bg-grey {
  transition: 0.4s;
  background-color: #858585;
}

.w60 {
  width: 60px;
}

.rm__bord_left {
  padding-left: 0;
}

.rm__bord_right{
  border-right: none;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 0.8s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.wh45 {
  width: 45px;
  height: 45px;
}

.ts::after {
  content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -9px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 11px solid #ffbf00;
}
</style>
