<template>
  <div class="project__item uk-position-relative" :id="`project-${index}`">
    <a class="uk-position-top-left uk-width-1-1 uk-height-1-1 z-index-10" :href="`/proekt/${item.id}/`" target="_blank"></a>
    <div class="uk-flex uk-flex-wrap left-radius right-radius uk-background-default uk-box-shadow-small shadow-v uk-height-1-1">

      <div class="uk-padding-remove uk-width-1-1 uk-position-relative">

        <div class="uk-position-relative">
          <div class="uk-position-z-index uk-position-bottom-right uk-margin-right uk-text-center bg-btn uk-hidden@l">
            <div class="uk-margin-auto bg-wblue-2 cl-wh uk-margin-small-bottom">смотреть</div>
          </div>
          <div class="project__item_bg left-radius_top right-radius_top uk-height-small uk-height-xmedium@m uk-background-center-center uk-background-cover"
          :data-src="`https://cdn.vevanta.ru/${item.images[0].url_400}`"
          uk-img
          >
          </div>
          <ul class="uk-margin-left uk-position-bottom uk-slider-nav uk-dotnav uk-margin-small-bottom"></ul>
        </div>
      </div>

      <div class="uk-width-1-1@l uk-width-expand uk-padding-small uk-padding-medium@m uk-position-relative">
        <div class="fs14 fs18@m fs20@l fnt-med project__item-title">{{ item.name}}</div>
        <div class="uk-grid uk-grid-small uk-child-width-1-1@s uk-child-width-1-2">
          <div class="fnt-med fs14 fs16@s fs20@m fs24@l uk-margin-small-top uk-margin-top@m">
            <i class="demo-icon icon-square uk-margin-small-right"></i>{{ item.square }} м<sup>2</sup>
          </div>
          <div v-if="item.width && item.length" class="fs14 fs16@s uk-margin-small-top uk-margin-top@m">
            <span class="uk-visible@s">Размерность</span> x: {{ item.width }}, y: {{ item.length }}
          </div>
        </div>


        <div class="btn btn__tpl1 btn__green fr uk-margin-top uk-visible@l">
          Смотреть проект
        </div>
      </div>
  </div>
</div>
</template>

<script>
import Uikit from 'uikit'
  export default {
    name: 'ProjectItem',
    props: ['item', 'index'],
    created() {
      Uikit.slider(`project-${this.index}`)
    }
  }
</script>


<style scoped>
.bg-btn > div {
  border-radius: 36px;
  width: 105px;
}
</style>
