<template lang="html">
  <div>
    <div class="uk-text-center uk-padding" v-show="!$store.state.projects.length">
      <preloader></preloader>
    </div>
    <transition-group name="list" :class="classListing">
      <project-item v-for="(item, key, i) in $store.state.projects" :key="key" :item="item" :index="key">
      </project-item>
    </transition-group>

    <ul class="uk-pagination uk-flex-center" uk-margin v-show="($store.state.pages > 1) && $store.state.projects.length && $store.state.statusSearchProjects === 1">
        <li><a href="#" @click.prevent="nextPage($store.state.settings.page - 1)"><span uk-pagination-previous></span></a></li>
        <template v-if="$store.state.settings.page !== 1">
          <li><a href="#">1</a></li>
          <li class="uk-disabled"><span>...</span></li>
        </template>
        <template v-if="$store.state.settings.page === 1">
          <li class="uk-active"><span>1</span></li>
        </template>
        <template v-if="($store.state.settings.page - 3) > 1">
          <li><a href="#projects-list" @click="nextPage($store.state.settings.page - 3)" uk-scroll>{{ $store.state.settings.page - 3 }}</a></li>
        </template>
        <template v-if="($store.state.settings.page - 2) > 1">
          <li><a href="#projects-list" @click="nextPage($store.state.settings.page - 2)" uk-scroll>{{ $store.state.settings.page - 2 }}</a></li>
        </template>
        <template v-if="($store.state.settings.page - 1) > 1">
          <li><a href="#projects-list" @click="nextPage($store.state.settings.page - 1)" uk-scroll>{{ $store.state.settings.page - 1 }}</a></li>
        </template>
        <template v-if="$store.state.settings.page !== 1">
          <li class="uk-active"><a href="#">{{ $store.state.settings.page }}</a></li>
        </template>
        <template v-if="($store.state.settings.page + 1) <= $store.state.pages">
          <li><a href="#projects-list" @click="nextPage($store.state.settings.page + 1)" uk-scroll>{{ $store.state.settings.page + 1 }}</a></li>
        </template>
        <template v-if="($store.state.settings.page + 2) <= $store.state.pages">
          <li><a href="#projects-list" @click="nextPage($store.state.settings.page + 2)" uk-scroll>{{ $store.state.settings.page + 2 }}</a></li>
        </template>
        <template v-if="($store.state.settings.page + 3) <= $store.state.pages">
          <li><a href="#projects-list" @click="nextPage($store.state.settings.page + 3)" uk-scroll>{{ $store.state.settings.page + 3 }}</a></li>
        </template>


        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">{{ $store.state.pages }}</a></li>
        <li><a href="#"><span uk-pagination-next></span></a></li>
    </ul>
  </div>
</template>
<script>
import Preloader from '../Preloader'
import ProjectItem from './ProjectItem'

export default {
  name: 'ProjectList',
  props: {
    startLoad: {
      type: Boolean,
      default: true,
    }
  },
  components: {
    Preloader, ProjectItem
  },
  data() {
    return {
      settings: {
        listing: 1,
      },
    }
  },

  created() {
    if (this.startLoad) {
      this.$store.dispatch('GET_PROJECTS')
    }
  },

  methods: {
    nextPage(page) {
      this.$store.commit('SET_PAGED', page)
      this.$store.dispatch('GET_PROJECTS')
    },
  },


  computed: {
    classListing() {
      return {
        'uk-grid': true,
        'uk-child-width-1-2@s': true,
        'uk-child-width-1-3@l': this.settings.listing,
        'uk-child-width-1-1@l': !this.settings.listing,
        'uk-margin-medium-bottom': true,
        'uk-margin-medium-top': true
      }
    }
  },
}
</script>

<style media="screen">

.project__item {
  margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
  .input__block {
    height: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .project__item {
    margin-bottom: 20px;
  }
  .left-radius_bottom {
    border-bottom-left-radius: 12px;
  }
  .left-radius_top {
    border-top-left-radius: 12px;
  }

  .right-radius_top {
    border-top-right-radius: 12px;
  }

  .right-radius_bottom {
    border-bottom-right-radius: 12px;
  }
}
</style>
