<template>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div v-if="!sendForm" class="uk-text-lead uk-text-bold uk-text-center">
        Выберите параметры квартиры
      </div>
      <div v-if="!sendForm" class="uk-text-center">
        и получите подборку наиболее выгодных вариантов квартир в Тюмени, в соответствии с
        Вашими пожеланиями
      </div>
      <ul
        v-if="!sendForm"
        ref="quizTab"
        class="uk-subnav uk-subnav-pill uk-child-width-expand nav_tab_quiz"
        uk-switcher
      >
        <li>
          <a href="#" class="point">
            <span class="circle">
              <span uk-icon="icon: check"></span>
            </span>
            <span class="fs10 fs14@m">Важные критерии</span>
          </a>
        </li>
        <li>
          <a href="#" class="point">
            <span class="circle">
              <span uk-icon="icon: settings"></span>
            </span>
            <span class="fs10 fs14@m">Общие параметры</span></a
          >
        </li>
        <li>
          <a href="#" class="point">
            <span class="circle">
              <span uk-icon="icon: cart"></span>
            </span>
            <span class="fs10 fs14@m">Способы покупки</span></a
          >
        </li>
        <li>
          <a href="#" class="point">
            <span class="circle">
              <span uk-icon="icon: bell"></span>
            </span>
            <span class="fs10 fs14@m">Контактные данные</span></a
          >
        </li>
      </ul>
      <ul v-if="!sendForm" class="uk-switcher">
        <li>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m">
              Что для Вас важно при выборе квартиры
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-1"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Низкая цена"
                  v-model="lead.important"
                />
                <label for="check-important-1"> Низкая цена</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-2"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Хороший ремонт"
                  v-model="lead.important"
                />
                <label for="check-important-2">Хороший ремонт</label>
              </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-3"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Садик рядом"
                  v-model="lead.important"
                />
                <label for="check-important-3">Садик рядом</label>
              </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-4"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Школа рядом"
                  v-model="lead.important"
                />
                <label for="check-important-4">Школа рядом</label>
              </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-5"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Кирпичный дом"
                  v-model="lead.important"
                />
                <label for="check-important-5">Кирпичный дом</label>
              </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-6"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Просторная кухня"
                  v-model="lead.important"
                />
                <label for="check-important-6">Просторная кухня</label>
              </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-7"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Раздельный санузел"
                  v-model="lead.important"
                />
                <label for="check-important-7">Раздельный санузел</label>
              </div>
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-important-8"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Рядом с ТЦ"
                  v-model="lead.important"
                />
                <label for="check-important-8">Рядом с ТЦ</label>
              </div>
            </div>

            <div class="uk-width-1-1">
              <button
                class="uk-button btn_primary uk-align-right"
                @click="setIndexTab(1)"
              >
                Вперёд
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m">
              Укажите основные параметры квартиры
            </div>
            <div class="uk-width-1-2@m">
              <div class="uk-text-bold uk-margin">Какая квартира Вам нужна?</div>
              <div>
                <label for="check-typeFlat">
                  <input
                    id="check-typeFlat"
                    class="uk-checkbox"
                    type="checkbox"
                    value="Студия"
                    v-model="lead.params.typeFlat"
                  />
                  Студия</label
                >
              </div>
              <div>
                <label for="check-typeFlat-1">
                  <input
                    id="check-typeFlat-1"
                    class="uk-checkbox"
                    type="checkbox"
                    value="1-комнатная"
                    v-model="lead.params.typeFlat"
                  />
                  1-комнатная</label
                >
              </div>
              <div>
                <label for="check-typeFlat-2">
                  <input
                    id="check-typeFlat-2"
                    class="uk-checkbox"
                    type="checkbox"
                    value="2-комнатная"
                    v-model="lead.params.typeFlat"
                  />
                  2-комнатная</label
                >
              </div>
              <div>
                <label for="check-typeFlat-3">
                  <input
                    id="check-typeFlat-3"
                    class="uk-checkbox"
                    type="checkbox"
                    value="3-комнатная"
                    v-model="lead.params.typeFlat"
                  />
                  3-комнатная</label
                >
              </div>
              <div>
                <label for="check-typeFlat-4">
                  <input
                    id="check-typeFlat-4"
                    class="uk-checkbox"
                    type="checkbox"
                    value="4 и более комнат"
                    v-model="lead.params.typeFlat"
                  />
                  4 и более комнат</label
                >
              </div>
            </div>
            <div class="uk-width-1-2@m">
              <div class="uk-text-bold uk-margin">Какой район Вас интересует?</div>

              <label class="uk-form-label">Микрорайоны Тюмени</label>
              <m-select
                isInput
                :data="md_options"
                :label="
                  lead.params.microdistricts.length > 0
                    ? `${lead.params.microdistricts.join()}`
                    : `Выбрать ...`
                "
                _key="name"
                value="name"
                v-model="lead.params.microdistricts"
              ></m-select>
            </div>

            <div class="uk-width-1-2@m">
              <div class="uk-text-bold uk-margin">Цена за квартиру, руб.</div>
              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2">
                  <label class="uk-form-label" for="ptice-min">от</label>
                  <div class="uk-form-controls">
                    <input
                      v-model="lead.params.price.min"
                      class="uk-input"
                      id="ptice-min"
                      type="text"
                      placeholder="2 000 000"
                    />
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label" for="ptice-max">до</label>
                  <div class="uk-form-controls">
                    <input
                      v-model="lead.params.price.max"
                      class="uk-input"
                      id="ptice-max"
                      type="text"
                      placeholder="4 000 000"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="uk-width-1-2@m">
              <div class="uk-text-bold uk-margin">Площадь квартиры, м²</div>

              <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2">
                  <label class="uk-form-label" for="square-min">от</label>
                  <div class="uk-form-controls">
                    <input
                      v-model="lead.params.square.min"
                      class="uk-input"
                      id="square-max"
                      type="text"
                      placeholder="30"
                    />
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <label class="uk-form-label" for="form-stacked-text">до</label>
                  <div class="uk-form-controls">
                    <input
                      v-model="lead.params.square.max"
                      class="uk-input"
                      id="form-stacked-text"
                      type="text"
                      placeholder="60"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="uk-width-1-1">
              <button class="uk-button uk-button-default" @click="setIndexTab(0)">
                Назад
              </button>
              <button
                class="uk-button btn_primary uk-align-right"
                @click="setIndexTab(2)"
              >
                Вперёд
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m">
              Выберите один или несколько желаемых способов оплаты
            </div>
            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-1"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Ипотека"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-1">Ипотека</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-2"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Рассрочка платежа"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-2">Рассрочка платежа</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-3"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Материнский капитал"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-3">Материнский капитал</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-4"
                  class="uk-checkbox"
                  type="checkbox"
                  value="По сертификату переселения"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-4">По сертификату переселения</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-5"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Сертификат"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-5">Сертификат</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-6"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Военная ипотека"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-6">Военная ипотека</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-7"
                  class="uk-checkbox"
                  type="checkbox"
                  value="Наличный расчет"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-7">Наличный расчет</label>
              </div>
            </div>

            <div class="uk-width-1-2 uk-width-1-4@m">
              <div class="check-box">
                <input
                  id="check-paymentmethods-8"
                  class="uk-checkbox"
                  type="checkbox"
                  value="По бюджетному сертификату"
                  v-model="lead.paymentMethods"
                />
                <label for="check-paymentmethods-8">По бюджетному сертификату</label>
              </div>
            </div>

            <div class="uk-width-1-1">
              <button class="uk-button uk-button-default" @click="setIndexTab(1)">
                Назад
              </button>
              <button
                class="uk-button btn_primary uk-align-right"
                @click="setIndexTab(3)"
              >
                Вперёд
              </button>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m">
              Ваши дополнительные пожелания и контактные данные
            </div>
            <div class="uk-width-1-1">
              <textarea
                class="uk-textarea"
                v-model="lead.description"
                placeholder="Укажите здесь любые другие пожелания к району и квартире"
              ></textarea>
            </div>
            <div class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m">
              Укажите Ваше имя и номер телефона
            </div>

            <div class="uk-width-1-1 uk-width-1-2@m">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input
                  v-model="lead.userName"
                  class="uk-input"
                  type="text"
                  placeholder="Ваше имя"
                />
              </div>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@m">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: phone"></span>
                <input
                  v-model="inputs.phone"
                  class="uk-input"
                  type="text"
                  placeholder="Ваш номер телефона"
                />
              </div>
            </div>

            <div class="uk-width-1-1">
              <label
                ><input
                  class="uk-checkbox"
                  type="checkbox"
                  checked
                  v-model="checkPersoanalData"
                />
                Отправляя форму, вы соглашаетесь с обработкой
                <a :href="politika" target="_blank">персональных данных</a></label
              >
            </div>
            <div class="uk-width-1-1">
              <button
                class="uk-button btn_primary uk-align-right"
                @click="sendDataForm()"
              >
                Получить подборку
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div v-if="sendForm" class="uk-text-center">
        <span class="uk-text-lead uk-text-bold"></span> Запрос успешно отправлен!
        <br /><span class="uk-text-meta"
          >В ближайшее время с Вами свяжется наш менеджер.</span
        >
      </div>
    </div>
  </div>
</template>

<script>
import mSelect from "./multiSelect";
import inputMask from "../mixins/inputMask";
export default {
  mixins: [inputMask],
  props: {
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
  data() {
    return {
      checkPersoanalData: true,
      sendForm: false,
      mixins: [inputMask],
      md_options: [],
      inputs: {
        phone: "",
      },
      lead: {
        important: [],
        paymentMethods: [],
        description: null,
        userName: null,
        userPhone: null,
        params: {
          typeFlat: [],
          microdistricts: [],
          price: {
            min: null,
            max: null,
          },
          square: {
            min: null,
            max: null,
          },
        },
      },
    };
  },
  components: { mSelect },
  methods: {
    setIndexTab: function (ind) {
      UIkit.switcher(this.$refs.quizTab).show(ind);
    },
    sendDataForm: function () {
      this.lead.userPhone = this.formatPhone;
      if (this.lead.userPhone == null || this.lead.userPhone.length < 10) {
        alert("Номер телефона обязателен!");
        return;
      }

      this.$axios
        .post("mail/quiz_search_flat", this.lead)
        .then((res) => {
          this.sendForm = true;
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getMicrodistrics: function () {
      this.$axios.post("/catalog/get_microdistricts").then((res) => {
        this.md_options = res.data;
      });
    },
  },
  created: function () {
    this.getMicrodistrics();
  },
};
</script>

<style scoped>
.btn_primary {
  background-color: #009688;
  color: #fff;
}
.check-box input {
  position: absolute;
  opacity: 0;
}
.check-box label {
  height: 90px;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 21px 21px;
  background-color: #f3f2ee;
  border-radius: 4px;
  color: #777777;
  border: 2px #fff solid;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.3s;
  transition: top 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: top 0.3s, box-shadow 0.3s;
  transition: top 0.3s, box-shadow 0.3s;
  transition: top 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
  top: 0px;
  box-shadow: none;
}
.check-box input + label:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
}
.check-box input:checked + label {
  color: #009688;
  border: 2px #009688 solid;
}
.block-tab {
  position: relative;
}
.line-grey {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 26px;
  background-color: #f3f2ee;
}
.point {
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
}
.point > .circle {
  border-radius: 50%;
  border: 2px #009688 solid;
  width: 40px;
  height: 40px;
  margin: 4px auto;
  padding: 8px;
  display: block;
  background-color: #fff;
}
.uk-subnav-pill > .uk-active > a {
  background-color: #009688;
}
.uk-subnav-pill > .uk-active > a > .circle {
  border: 2px #fff solid;
  background-color: #009688;
}
@media screen and (max-width: 769px) {
  .nav_tab_quiz > * {
    padding-left: 2px;
  }
}
</style>
