/*
Name: QuizCountryHouseParameters
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div
        v-if="!sendForm"
        class="uk-text-lead uk-text-bold uk-text-center"
      >Мы поможем Вам подобрать Частный дом или Земельный участок</div>

      <div v-if="!sendForm" class="uk-text-center uk-margin-bottom">
        <strong>Новые выгодные</strong>
        предложения которые мы подберем специально для Вас
        , в соответствии с Вашими пожеланиями
      </div>

      <div class="uk-container">
        <ul
          v-if="!sendForm"
          ref="quizTab"
          class="uk-subnav uk-subnav-pill uk-child-width-expand nav_tab_quiz"
        >
          <li :class="classActLand">
            <a class="point" @click="showForLand = !showForLand , showForHome = false">
              <span class="circle">
                <span uk-icon="icon: image"></span>
              </span>
              <span class="fs10 fs14@m">Земельный участок</span>
            </a>
          </li>

          <li :class="classActHome">
            <a class="point" @click="showForHome = !showForHome, showForLand = false">
              <span class="circle">
                <span uk-icon="icon: home"></span>
              </span>
              <span class="fs10 fs14@m">Частный дом</span>
            </a>
          </li>
        </ul>

        <div v-show="showForLand || showForHome">
          <ul
            v-if="!sendForm"
            ref="quizTab"
            class="uk-subnav uk-subnav-pill uk-child-width-expand nav_tab_quiz"
            uk-switcher
          >
            <li>
              <a class="point">
                <span class="circle">
                  <span uk-icon="icon: check"></span>
                </span>
                <span class="fs10 fs14@m">Важные критерии</span>
              </a>
            </li>

            <li>
              <a class="point">
                <span class="circle">
                  <span uk-icon="icon: settings"></span>
                </span>
                <span class="fs10 fs14@m">Общие параметры</span>
              </a>
            </li>

            <li>
              <a class="point">
                <span class="circle">
                  <span uk-icon="icon: cart"></span>
                </span>
                <span class="fs10 fs14@m">Способы покупки</span>
              </a>
            </li>

            <li>
              <a class="point">
                <span class="circle">
                  <span uk-icon="icon: bell"></span>
                </span>
                <span class="fs10 fs14@m">Контактные данные</span>
              </a>
            </li>
          </ul>

          <ul v-if="!sendForm" class="uk-switcher">
            <li>
              <div class="uk-grid-small" uk-grid>
                <div
                  class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m"
                  v-show="showForLand"
                >Что для Вас важно при выборе Земельного участка</div>

                <div
                  class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m"
                  v-show="showForHome"
                >Что для Вас важно при выборе Частного дома</div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-1"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Рядом дорога"
                      v-model="lead.important"
                    />
                    <label for="check-important-1">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'road.svg)'}"
                        ></span>
                      </div>Рядом
                      <strong>Дорога</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-2"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Электричество"
                      v-model="lead.important"
                    />
                    <label for="check-important-2">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'electro.svg)'}"
                        ></span>
                      </div>
                      <strong>Электричество</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-3"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Газ"
                      v-model="lead.important"
                    />
                    <label for="check-important-3">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'gas.svg)'}"
                        ></span>
                      </div>
                      <strong>Газ</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-4"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Центральное водоснабжение"
                      v-model="lead.important"
                    />
                    <label for="check-important-4">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'water.svg)'}"
                        ></span>
                      </div>
                      <strong>Водопровод</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-5"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Рядом со Школой"
                      v-model="lead.important"
                    />
                    <label for="check-important-5">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'school.svg)'}"
                        ></span>
                      </div>Рядом
                      <strong>Школа</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-6"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Рядом с Магазином"
                      v-model="lead.important"
                    />
                    <label for="check-important-6">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'shop.svg)'}"
                        ></span>
                      </div>Рядом
                      <strong>Магазин</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-7"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Рядом с Водоемом"
                      v-model="lead.important"
                    />
                    <label for="check-important-7">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'waterpool.svg)'}"
                        ></span>
                      </div>Рядом
                      <strong>Водоем</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top">
                  <div class="check-box">
                    <input
                      id="check-important-8"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Рядом с Лесом"
                      v-model="lead.important"
                    />
                    <label for="check-important-8">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'forest.svg)'}"
                        ></span>
                      </div>Рядом
                      <strong>Лес</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top" v-show="showForHome">
                  <div class="check-box">
                    <input
                      id="check-important-9"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Участок облагорожен"
                      v-model="lead.important"
                    />
                    <label for="check-important-9">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'flowers.svg)'}"
                        ></span>
                      </div>
                      <strong>Участок облагорожен</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top" v-show="showForHome">
                  <div class="check-box">
                    <input
                      id="check-important-10"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Колодец"
                      v-model="lead.important"
                    />
                    <label for="check-important-10">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'well.svg)'}"
                        ></span>
                      </div>
                      <strong>Колодец</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top" v-show="showForHome">
                  <div class="check-box">
                    <input
                      id="check-important-11"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Гараж"
                      v-model="lead.important"
                    />
                    <label for="check-important-11">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'garage.svg)'}"
                        ></span>
                      </div>
                      <strong>Гараж</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m uk-margin-top" v-show="showForHome">
                  <div class="check-box">
                    <input
                      id="check-important-12"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Баня"
                      v-model="lead.important"
                    />
                    <label for="check-important-12">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'bathHouse.svg)'}"
                        ></span>
                      </div>
                      <strong>Баня</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-1">
                  <button
                    class="uk-button btn_primary uk-align-right uk-margin-top"
                    @click="setIndexTab(1)"
                  >Вперёд</button>
                </div>
              </div>
            </li>

            <li>
              <div class="uk-grid-small" uk-grid>
                <div
                  class="uk-width-1-1 uk-margin-bottom uk-text-large uk-text-center fs16 fs20@m"
                  v-show="showForLand"
                >Укажите основные параметры Земельного участка</div>

                <div
                  class="uk-width-1-1 uk-margin-bottom uk-text-large uk-text-center fs16 fs20@m"
                  v-show="showForHome"
                >Укажите основные параметры Частного дома</div>
                <div class="uk-width-1-2@m" v-show="showForHome">
                  <div class="uk-text-center uk-text-bold uk-margin-small-bottom">Количество этажей</div>
                  <div class="uk-flex uk-flex-center">
                    <div class="uk-text-center" uk-grid>
                      <div class="uk-width-1-3@m check-box check-box-circle" for="check-floorHome">
                        <input
                          id="check-floorHome"
                          class="uk-checkbox"
                          type="checkbox"
                          value="1-этажный дом"
                          v-model="lead.params.floorHome"
                        />
                        <label for="check-floorHome">
                          <div>
                            <span
                              class="uk-icon uk-icon-image svg-btn-obj"
                              :style="{'background-image': urlLink + 'house-1.svg)'}"
                            ></span>
                          </div>
                          <strong>1-этаж</strong>
                        </label>
                      </div>
                      <div
                        class="uk-width-1-3@m check-box check-box-circle"
                        for="check-floorHome-1"
                      >
                        <input
                          id="check-floorHome-1"
                          class="uk-checkbox"
                          type="checkbox"
                          value="2-этажный дом"
                          v-model="lead.params.floorHome"
                        />
                        <label for="check-floorHome-1">
                          <div>
                            <span
                              class="uk-icon uk-icon-image svg-btn-obj"
                              :style="{'background-image': urlLink + 'house-2.svg)'}"
                            ></span>
                          </div>
                          <strong>2-этажа</strong>
                        </label>
                      </div>
                      <div
                        class="uk-width-1-3@m check-box check-box-circle"
                        for="check-floorHome-2"
                      >
                        <input
                          id="check-floorHome-2"
                          class="uk-checkbox"
                          type="checkbox"
                          value="3-этажный дом"
                          v-model="lead.params.floorHome"
                        />
                        <label for="check-floorHome-2">
                          <div>
                            <span
                              class="uk-icon uk-icon-image svg-btn-obj"
                              :style="{'background-image': urlLink + 'house-3.svg)'}"
                            ></span>
                          </div>
                          <strong>3-этажа</strong>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-2@m" v-show="showForHome">
                  <div
                    class="uk-text-center uk-text-bold uk-margin-small-bottom"
                  >Строительный материал</div>

                  <div class="uk-flex uk-flex-center">
                    <div class="uk-margin">
                      <div class="uk-text-center" uk-grid>
                        <div
                          class="uk-width-1-3@m check-box check-box-circle"
                          for="check-homeMaterials"
                        >
                          <input
                            id="check-homeMaterials"
                            class="uk-checkbox"
                            type="checkbox"
                            value="Кирпич"
                            v-model="lead.params.homeMaterials"
                          />
                          <label for="check-homeMaterials">
                            <div>
                              <span
                                class="uk-icon uk-icon-image svg-btn-obj"
                                :style="{'background-image': urlLink + 'brick.svg)'}"
                              ></span>
                            </div>
                            <strong>Кирпич</strong>
                          </label>
                        </div>

                        <div
                          class="uk-width-1-3@m check-box check-box-circle"
                          for="check-homeMaterials-1"
                        >
                          <input
                            id="check-homeMaterials-1"
                            class="uk-checkbox"
                            type="checkbox"
                            value="Блок"
                            v-model="lead.params.homeMaterials"
                          />
                          <label for="check-homeMaterials-1">
                            <div>
                              <span
                                class="uk-icon uk-icon-image svg-btn-obj"
                                :style="{'background-image': urlLink + 'block.svg)'}"
                              ></span>
                            </div>
                            <strong>Блок</strong>
                          </label>
                        </div>

                        <div
                          class="uk-width-1-3@m check-box check-box-circle"
                          for="check-homeMaterials-2"
                        >
                          <input
                            id="check-homeMaterials-2"
                            class="uk-checkbox"
                            type="checkbox"
                            value="Дерево"
                            v-model="lead.params.homeMaterials"
                          />
                          <label for="check-homeMaterials-2">
                            <div>
                              <span
                                class="uk-icon uk-icon-image svg-btn-obj"
                                :style="{'background-image': urlLink + 'wood.svg)'}"
                              ></span>
                            </div>
                            <strong>Дерево</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-2@m">
                  <div class="uk-text-center uk-text-bold uk-margin-top">Населенный пункт</div>
                  <div class="uk-margin-large-left uk-margin-large-right">
                    <label class="uk-form-label"></label>
                    <m-select
                      isInput
                      :data="st_options"
                      :label="
                          lead.params.settlements.length > 0
                            ? `${lead.params.settlements.join()}`
                            : `Выбрать ...`
                        "
                      _key="name"
                      value="name"
                      @input="getSettlements"
                      @click="getSettlements"
                      v-model="lead.params.settlements"
                    ></m-select>
                  </div>
                </div>

                <div class="uk-width-1-2@m">
                  <div class="uk-text-center uk-text-bold uk-margin-top">Тракт (направление)</div>
                  <div class="uk-margin-large-left uk-margin-large-right">
                    <label class="uk-form-label"></label>
                    <m-select
                      isInput
                      :data="options.tracts"
                      :label="
                        lead.params.tracts.length > 0
                          ? `${lead.params.tracts.join()}`
                          : `Выбрать ...`
                      "
                      _key="name"
                      value="name"
                      v-model="lead.params.tracts"
                    ></m-select>
                  </div>
                </div>

                <div class="uk-width-1-2@m" :class="classActHome3m">
                  <div class="uk-text-bold uk-text-center uk-margin-top">Цена, руб.</div>

                  <div class="uk-margin-left uk-margin-right uk-grid-small" uk-grid>
                    <div class="uk-width-1-2@m">
                      <label class="uk-form-label" for="price-min">от</label>
                      <div class="uk-form-controls">
                        <input
                          v-model="lead.params.price.min"
                          class="uk-input"
                          id="price-min"
                          type="text"
                          :placeholder="priceMin"
                        />
                      </div>
                    </div>

                    <div class="uk-width-1-2@m">
                      <label class="uk-form-label" for="price-max">до</label>
                      <div class="uk-form-controls">
                        <input
                          v-model="lead.params.price.max"
                          class="uk-input"
                          id="price-max"
                          type="text"
                          :placeholder="priceMax"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-2@m" :class="classActHome3m">
                  <div class="uk-text-bold uk-text-center uk-margin-top">Площадь участка, сот</div>

                  <div class="uk-margin-left uk-margin-right uk-grid-small" uk-grid>
                    <div class="uk-width-1-2">
                      <label class="uk-form-label" for="hundreds-min">от</label>
                      <div class="uk-form-controls">
                        <input
                          v-model="lead.params.hundreds.min"
                          class="uk-input"
                          id="hundreds-min"
                          type="text"
                          placeholder="5"
                        />
                      </div>
                    </div>

                    <div class="uk-width-1-2">
                      <label class="uk-form-label" for="hundreds-max">до</label>
                      <div class="uk-form-controls">
                        <input
                          v-model="lead.params.hundreds.max"
                          class="uk-input"
                          id="hundreds-max"
                          type="text"
                          placeholder="10"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-2@m" :class="classActHome3m" v-show="showForHome">
                  <div class="uk-text-bold uk-text-center uk-margin-top">Площадь дома, м²</div>
                  <div class="uk-margin-left uk-margin-right uk-grid-small" uk-grid>
                    <div class="uk-width-1-2">
                      <label class="uk-form-label" for="square-min">от</label>
                      <div class="uk-form-controls">
                        <input
                          v-model="lead.params.square.min"
                          class="uk-input"
                          id="square-min"
                          type="text"
                          placeholder="60"
                        />
                      </div>
                    </div>

                    <div class="uk-width-1-2">
                      <label class="uk-form-label" for="square-max">до</label>
                      <div class="uk-form-controls">
                        <input
                          v-model="lead.params.square.max"
                          class="uk-input"
                          id="square-max"
                          type="text"
                          placeholder="200"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-1">
                  <button
                    class="uk-button uk-button-default uk-margin-top"
                    @click="setIndexTab(0)"
                  >Назад</button>
                  <button
                    class="uk-button btn_primary uk-align-right uk-margin-top"
                    @click="setIndexTab(2)"
                  >Вперёд</button>
                </div>
              </div>
            </li>
            <li>
              <div class="uk-grid-small" uk-grid>
                <div
                  class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m"
                >Выберите один или несколько желаемых способов оплаты</div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-1"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Ипотека"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-1">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'mortgage.svg)'}"
                        ></span>
                      </div>
                      <strong>Ипотека</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-2"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Рассрочка платежа"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-2">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'installmentPlan.svg)'}"
                        ></span>
                      </div>
                      <strong>Рассрочка платежа</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-3"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Материнский капитал"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-3">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'maternalCapital.svg)'}"
                        ></span>
                      </div>
                      <strong>Материнский капитал</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-4"
                      class="uk-checkbox"
                      type="checkbox"
                      value="По сертификату переселения"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-4">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'resettlementCertificate.svg)'}"
                        ></span>
                      </div>
                      <strong>Cертификат переселения</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-5"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Сертификат"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-5">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'certificate.svg)'}"
                        ></span>
                      </div>
                      <strong>Cертификат</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-6"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Военная ипотека"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-6">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'militaryMortgage.svg)'}"
                        ></span>
                      </div>
                      <strong>Военная ипотека</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-7"
                      class="uk-checkbox"
                      type="checkbox"
                      value="Наличный расчет"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-7">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'money.svg)'}"
                        ></span>
                      </div>
                      <strong>Наличный расчет</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-2 uk-width-1-4@m">
                  <div class="check-box check-box-contract">
                    <input
                      id="check-paymentmethods-8"
                      class="uk-checkbox"
                      type="checkbox"
                      value="По бюджетному сертификату"
                      v-model="lead.paymentMethods"
                    />
                    <label for="check-paymentmethods-8">
                      <div>
                        <span
                          class="uk-icon uk-icon-image svg-btn-obj"
                          :style="{'background-image': urlLink + 'budgetCertificate.svg)'}"
                        ></span>
                      </div>
                      <strong>Бюджетный сертификат</strong>
                    </label>
                  </div>
                </div>

                <div class="uk-width-1-1">
                  <button
                    class="uk-button uk-button-default uk-margin-top"
                    @click="setIndexTab(1)"
                  >Назад</button>
                  <button
                    class="uk-button btn_primary uk-align-right uk-margin-top"
                    @click="setIndexTab(3)"
                  >Вперёд</button>
                </div>
              </div>
            </li>
            <li>
              <div class="uk-grid uk-flex-center" uk-grid>
                <div
                  class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m"
                >Ваши дополнительные пожелания и контактные данные</div>
                <div class="uk-width-xlarge uk-margin-small-top">
                  <textarea
                    class="uk-textarea"
                    v-model="lead.description"
                    placeholder="Укажите здесь Ваши дополнительные пожелания к частному дому или земельному участку"
                  ></textarea>
                </div>
                <div
                  class="uk-width-1-1 uk-text-large uk-text-center fs16 fs20@m"
                >Укажите Ваше имя и номер телефона</div>
                <div class="uk-flex uk-flex-center uk-margin-small-top">
                  <div class="uk-width-1-1 uk-width-1-2@m">
                    <div class="uk-width-1-1">
                      <div class="uk-inline uk-margin-small-left uk-margin-small-right">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input
                          v-model="lead.userName"
                          class="uk-input"
                          type="text"
                          placeholder="Ваше имя"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="uk-width-1-1 uk-width-1-2@m">
                    <div class="uk-width-1-1">
                      <div class="uk-inline uk-margin-small-left uk-margin-small-right">
                        <span class="uk-form-icon" uk-icon="icon: phone"></span>
                        <input
                          v-model="inputs.phone"
                          class="uk-input"
                          type="text"
                          placeholder="Ваш номер телефона"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="checkboxCallBack uk-width-1-1 uk-margin-large-top uk-margin-large-left">
                  <label>
                    <input class="uk-checkbox" type="checkbox" checked v-model="checkPersoanalData" />
                    Отправляя форму, вы соглашаетесь с обработкой
                    <a
                      :href="politika"
                      target="_blank"
                    >персональных данных</a>
                  </label>
                </div>

                <div class="uk-width-1-1">
                  <button
                    class="uk-button btn_primary uk-align-right"
                    @click="sendDataForm()"
                  >Получить подборку</button>
                </div>
              </div>
            </li>
          </ul>

          <div v-if="sendForm" class="uk-text-center">
            <span class="uk-text-lead uk-text-bold"></span> Запрос успешно отправлен!
            <br />
            <span class="uk-text-meta">В ближайшее время с Вами свяжется наш менеджер.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mSelect from "./multiSelect";
import inputMask from "../mixins/inputMask";
import options from "../mixins/Object/Options";

export default {
  name: "QuizCountryHouseParameters",
  mixins: [inputMask, options],
  props: {
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
  data() {
    return {
      checkPersoanalData: true,
      sendForm: false,
      showForLand:false,
      showForHome:false,
      urlLink: "url(https://vevanta.ru/img/icon_quiz/",
      mixins: [inputMask],
      st_options: [],
      inputs: {
        phone: "",
      },
      lead: {
        important: [],
        paymentMethods: [],
        description: null,
        typeObjects:[],
        userName: null,
        userPhone: null,
        params: {
          floorHome: ['1-этажный дом'],
          homeMaterials: ['Кирпич'],
          tracts: [],
          settlements:[],
          price: {
            min: null,
            max: null,
          },
          hundreds: {
            min: null,
            max: null,
          },
          square: {
            min: null,
            max: null,
          }
        },
      },
    };
  },
  components: { mSelect },
  computed:{
    classActLand(){
      return {'uk-active': this.showForLand}
    },
    classActHome(){
      return {'uk-active': this.showForHome}
    },
    classActHome3m(){
      return {'uk-width-1-3@m': this.showForHome}
    },
    typeObjectsAction(){
      if((this.showForHome == false) && (this.showForLand == false)) {
        this.lead.typeObjects = [];
      } else if (this.showForLand) {
        this.lead.typeObjects = "Земельный участок"
      } else {
        this.lead.typeObjects = "Частный дом"
      }
    },
    priceMin(){
      return (this.showForLand ? '200 000' : '2 000 000')
    },
    priceMax(){
      return (this.showForLand ? '1 000 000' : '10 000 000')
    }
  },
  methods: {
    setIndexTab: function (ind) {
      UIkit.switcher(this.$refs.quizTab).show(ind);
    },
    getSettlements(val = '') {
     this.$axios
       .post("/catalog/get_settlements", { 'settlement_name': val })
       .then(res => {
         this.st_options = res.data;
       });
   },
    sendDataForm: function () {
      this.lead.userPhone = this.formatPhone;
      if (this.lead.userPhone == null || this.lead.userPhone.length < 10) {
        alert("Номер телефона обязателен!");
        return;
      }
      this.$axios
        .post("mail/quiz_search_flat", this.lead)
        .then((res) => {
          this.sendForm = true;
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style scoped>
.btn_primary {
  background-color: #009688;
  color: #fff;
}
.svg-btn-obj {
  width: 30px;
  height: 30px;
}
.check-box-contract {
  font-size: 16px;
}
.check-box-circle {
  width: 135px;
}
.check-box input {
  position: absolute;
  opacity: 0;
}
.checkboxCallBack input {
  background-color: #009688;
  border: none;
}
.checkboxCallBack input:checked {
  background-color: #009688;
  border: none;
}
.checkboxCallBack a {
  color: #009688;
  font-family: Gilroy-Semibold;
  text-decoration: none;
  cursor: pointer;
}
.check-box label {
  height: 100px;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 21px 21px;
  background-color: #f3f2ee;
  border-radius: 200px;
  color: #009688;
  border: 2px #fff solid;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.3s;
  transition: top 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: top 0.3s, box-shadow 0.3s;
  transition: top 0.3s, box-shadow 0.3s;
  transition: top 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
  top: 0px;
  box-shadow: none;
}
.check-box input + label:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  border: 2px #fff solid;
  background-color: #009688;
}
.check-box input:checked + label {
  color: #fff;
  border: 2px #fff solid;
  background-color: #009688;
}
.check-box input:checked + label:hover {
  color: #fff;
  border: 2px #fff solid;
}
.block-tab {
  position: relative;
}
.line-grey {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 26px;
  background-color: #f3f2ee;
}
.point {
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
}
.point > .circle {
  border-radius: 50%;
  border: 2px #009688 solid;
  width: 40px;
  height: 40px;
  margin: 4px auto;
  padding: 8px;
  display: block;
  background-color: #fff;
}
.uk-subnav-pill > .uk-active > a {
  background-color: #009688;
}
.uk-subnav-pill > .uk-active > a > .circle {
  border: 2px #fff solid;
  background-color: #009688;
}

@media screen and (max-width: 2600px) {
  .check-box-circle {
    font-size: 13px;
    width: 145px;
  }
}
@media screen and (max-width: 1600px) {
  .check-box-circle {
    font-size: 13px;
    width: 145px;
  }
}
@media screen and (max-width: 1199px) {
  .check-box-circle {
    width: 135px;
  }
  .check-box-contract {
    font-size: 14px;
  }
}
@media screen and (max-width: 1051px) {
  .check-box-contract {
    font-size: 12px;
  }
}
@media screen and (max-width: 769px) {
  .nav_tab_quiz > * {
    padding-left: 2px;
  }
  .check-box-circle {
    width: 135px;
  }
}
@media screen and (max-width: 509px) {
  .check-box-circle {
    font-size: 13px;
    width: 100%;
  }
  .check-box label {
    font-size: 10px;
  }
}
</style>
