<template>
  <div class="uk-visible@l search-filter__wrapper uk-flex uk-flex-center">
    <form
      class="uk-flex uk-flex-column uk-width-1-1"
      method="GET"
      action="https://vevanta.ru/search/"
    >
      <div class="uk-width-1-1 uk-flex uk-flex-wrap">
        <div class="uk-width-small uk-background-default br5">
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.action_id === 1"
              >Купить</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-else-if="filter.action_id === 2"
              >Снять</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-right"
              uk-icon="icon: chevron-down; ratio: 1"
            ></span>
          </div>
          <div uk-dropdown="mode: click">
            <div class="label_wrapper">
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="1"
                    name="action"
                    v-model="filter.action_id"
                  />
                  Купить
                </label>
              </div>
              <div class="label label__item">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="2"
                    name="action"
                    v-model="filter.action_id"
                  />
                  Снять
                </label>
              </div>
            </div>
          </div>
        </div>

        <div
          class="uk-width-small uk-margin-small-left uk-background-default br5"
        >
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class === 1"
              >Квартира</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class === 2"
              >Комната</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class === 3"
              >Дома</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class === 4"
              >Гараж</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class === 5"
              >Коммерческая</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class === 6"
              >Участок</span
            >
            <span
              class="uk-margin-auto-vertical uk-margin-small-right"
              uk-icon="icon: chevron-down; ratio: 1"
            ></span>
          </div>
          <div uk-dropdown="mode: click">
            <div class="label_wrapper">
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="1"
                    name="class"
                    v-model="filter.class"
                  />
                  Квартира
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="2"
                    name="class"
                    v-model="filter.class"
                  />
                  Комната
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="3"
                    name="class"
                    v-model="filter.class"
                  />
                  Дома, дачи, коттеджи
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="4"
                    name="class"
                    v-model="filter.class"
                  />
                  Гараж
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="5"
                    name="class"
                    v-model="filter.class"
                  />
                  Коммерческая
                </label>
              </div>
              <div class="label label__item uk-margin-small-bottom">
                <label>
                  <input
                    class="uk-checkbox"
                    type="radio"
                    :value="6"
                    name="class"
                    v-model="filter.class"
                  />
                  Участок
                </label>
              </div>
            </div>
          </div>
        </div>

        <div
          class="uk-width-small uk-margin-small-left uk-background-default br5"
        >
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <div
              class="uk-margin-auto-vertical uk-margin-small-left"
              v-if="filter.class !== 6"
            >
              <span v-show="!filter.square[0] || !filter.square[1]"
                >Площадь</span
              >
              <div v-show="filter.square[0] && filter.square[1]">
                {{ filter.square[0] }} - {{ filter.square[1] }} м<sup
                  >2</sup
                >
              </div>
            </div>
            <div class="uk-margin-auto-vertical uk-margin-small-left" v-else>
              <span v-show="!filter.area[0] || !filter.area[1]">сот</span>
              <div v-show="filter.area[0] && filter.area[1]">
                {{ filter.area[0] }} - {{ filter.area[1] }} сот.
              </div>
            </div>
            <span
              class="uk-margin-auto-vertical uk-margin-small-right"
              uk-icon="icon: chevron-down; ratio: 1"
            ></span>
          </div>

          <div uk-dropdown="mode: click">
            <div class="uk-grid-small" uk-grid v-if="filter.class !== 6">
              <div class="uk-width-small">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="От"
                  name="square_min"
                  v-model="filter.square[0]"
                />
              </div>
              <div class="uk-width-small">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="До"
                  name="square_max"
                  v-model="filter.square[1]"
                />
              </div>
            </div>
            <div class="uk-grid-small" uk-grid v-else>
              <div class="uk-width-small">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="От"
                  name="area_min"
                  v-model="filter.area[0]"
                />
              </div>
              <div class="uk-width-small">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="До"
                  name="area_max"
                  v-model="filter.area[1]"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="uk-width-small uk-margin-small-left uk-background-default br5"
        >
          <div class="uk-flex-between uk-flex uk-height-1-1 cr-pointer">
            <span class="uk-margin-auto-vertical uk-margin-small-left"
              >Цена</span
            >
          </div>
          <div uk-dropdown="mode: click" pos="bottom">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-small">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="От"
                  name="price_min"
                  v-model="filter.price[0]"
                />
              </div>
              <div class="uk-width-small">
                <input
                  class="uk-input"
                  type="text"
                  placeholder="До"
                  name="price_max"
                  v-model="filter.price[1]"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="uk-background-default uk-height-1-1 uk-width-expand uk-margin-small-left uk-position-relative br5"
        >
        <label for="" class="search-filter__label_size-small uk-margin-small-left fs14">Введите адрес</label>
          <address-input
            :filter="filter"
            :address="insertedAddress"
            @select="selectAddressFunc"
            inputClass="br5 uk-overflow-hidden border-none"
            placeholder=""
          ></address-input>
        </div>
      </div>
      <div class="uk-width-1-1 uk-margin-small-top uk-flex uk-flex-right">
        <div class="uk-text-center uk-width-small uk-margin-small-left">
          <button
            class="btn btn__tpl3 fnt-semi uk-height-1-1 uk-width-1-1 fs18 br5"
            @click.prevent="openMap"
          >
            Поиск на карте
          </button>
        </div>
        <div class="uk-text-center uk-width-small uk-margin-small-left">
          <button
            class="btn btn__tpl3 fnt-semi btn__green uk-height-1-1 uk-width-1-1 fs18 br5"
          >
            Найти
          </button>
        </div>
      </div>
      <input type="hidden" name="city" v-model="filter.address.city" />
      <input type="hidden" name="settlement" v-model="filter.address.settlement" />
      <input type="hidden" name="street" v-model="filter.address.street" />
      <input type="hidden" name="tract" v-model="filter.address.tract" />
      <input type="hidden" name="house" v-model="filter.address.house" />
      <input type="hidden" name="block_type" v-model="filter.address.block_type" />
      <input type="hidden" name="block" v-model="filter.address.block" />
    </form>
  </div>
</template>

<script>
import addressInput from "./AddressInput";
export default {
  name: "SearchFilterHome",
  data() {
    return {
      filter: {
        action_id: 1,
        class: 1,
        price: ["", ""],
        square: [0, 0],
        area: [0, 0],
        address: {
          city: null,
          settlement: null,
          street: null,
          tract: null,
          house: null,
          block_type: null,
          block: null
        }
      },
      insertedAddress: null
    };
  },
  methods: {
    openMap() {
      window.open("https://vevanta.ru/map/", "_blank");
      return;
    },
    clearFilter() {
      this.filter.address = {
        city: null,
        settlement: null,
        street: null,
        tract: null,
        house: null,
        block_type: null,
        block: null
      };
      this.insertedAddress = "";
    },
    selectAddressFunc(option) {
      this.insertedAddress = option.value;
    },
  },
  components: {
    addressInput
  }
};
</script>

<style lang="css" scoped>
.search-filter__wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0424394f;
  height: 130px;
  padding: 10px;
}
.mobile-filter {
  position: absolute;
  bottom: -38px;
  width: 92%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}
</style>
