<template>
  <div id="search-filter-mobile" class="mobile-filter">
    <div
      @click.stop="showFilter"
      class="uk-background-default uk-border-rounded uk-box-shadow-medium uk-flex"
    >
      <div class="uk-margin-small-top">
        <label for="" class="fs14 uk-margin-small-left">Введите адрес</label>
        <input
          class="uk-input uk-form-small border-none bg-transparent"
          type="text"
          placeholder="Тюмень"
          disabled
          v-model="insertedAddress"
        />
      </div>
    </div>

    <div
      class="uk-modal uk-background-default uk-animation-slide-bottom"
      ref="modal"
    >
      <form
        class="uk-grid uk-margin-xlarge-bottom"
        method="GET"
        action="https://vevanta.ru/search/"
      >
        <div class="uk-grid-column-medium uk-grid-row-small" uk-grid>
          <div class="uk-width-1-1 uk-width-1-3@s">
            <select class="uk-select" name="action">
              <option :value="1">Продажа</option>
              <option :value="2">Аренда</option>
            </select>
          </div>
          <div class="uk-width-1-1 uk-width-1-3@s">
            <select class="uk-select" v-model="filter.class_id" name="class">
              <option value="" selected>Вся недвижимость</option>
              <option :value="1">Квартиры</option>
              <option :value="2">Комнаты</option>
              <option :value="3">Дома, дачи, коттеджи</option>
              <option :value="4">Гаражи</option>
              <option :value="5">Коммерческая недвижимость</option>
              <option :value="6">Земельные участки</option>
            </select>
          </div>
          <div class="uk-width-1-1 uk-width-1-3@s">
            <select class="uk-select" v-if="!filter.class_id">
              <option value="" selected>Все варианты</option>
            </select>
            <select class="uk-select" v-if="filter.class_id === 1" name="flat">
              <option value="" selected>Все квартиры</option>
              <option value="1">Студия</option>
              <option value="2">1к - квартира</option>
              <option value="3">2к - квартира</option>
              <option value="4">3к - квартира</option>
              <option value="5">4к - квартира</option>
              <option value="6">5к и более квартира</option>
            </select>
            <select class="uk-select" v-if="filter.class_id === 2" name="room">
              <option value="" selected>Все комнаты</option>
              <option value="1">1 - комната</option>
              <option value="2">2 - комнаты</option>
              <option value="3">3 - комнаты</option>
            </select>
            <select
              class="uk-select"
              v-show="filter.class_id === 3"
              name="house"
            >
              <option value="" selected>Все варианты</option>
              <option value="1">Отдельный дом</option>
              <option value="2">Часть дома</option>
              <option value="3">Таунхаус</option>
              <option value="4">Дуплекс</option>
            </select>
            <select
              class="uk-select"
              v-show="filter.class_id === 4"
              name="garage"
            >
              <option value="" selected>Любой гараж</option>
              <option value="1">Гараж</option>
              <option value="2">Машиноместо</option>
              <option value="3">Бокс</option>
            </select>
            <select
              class="uk-select"
              v-if="filter.class_id === 5"
              name="commerce"
            >
              <option value="" selected>Все варианты</option>
              <option value="1">Для офиса</option>
              <option value="2">Торговое помещение</option>
              <option value="3">Свободное назначение</option>
              <option value="4">Общепит</option>
              <option value="5">Автосервис</option>
              <option value="6">Готовый бизнес</option>
              <option value="7">Склад</option>
              <option value="8">Земля комм. назначения</option>
              <option value="9">Гостиница</option>
              <option value="10">Производство</option>
            </select>
            <select class="uk-select" v-if="filter.class_id === 6" name="area">
              <option value="" selected>Любые участки</option>
              <option value="1">Участки ИЖС</option>
              <option value="2">Участки СНТ</option>
              <option value="3">Участки ДНП</option>
            </select>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@l">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Цена от"
                  name="price_min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Цена до"
                  name="price_max"
                />
              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-1-2@s">
            <div class="uk-grid-small uk-grid" v-if="filter.class_id !== 6">
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Площадь от"
                  name="square_min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Площадь до"
                  name="square_max"
                />
              </div>
            </div>
            <div class="uk-grid-small uk-grid" v-else>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Соток от"
                  name="area_min"
                />
              </div>
              <div class="uk-width-1-2">
                <input
                  class="uk-input"
                  type="number"
                  placeholder="Соток до"
                  name="area_max"
                />
              </div>
            </div>
          </div>

          <div class="uk-width-1-1">
            <address-input
              :filter="filter"
              :address="insertedAddress"
              @select="selectAddressFunc"
            ></address-input>
          </div>
        </div>

        <div
          class="uk-position-bottom uk-position-fixed uk-position-small uk-padding-remove-left"
        >
          <div class="uk-grid uk-child-width-1-2 uk-grid-small">
            <div>
              <div
                class="btn btn__tpl3 btn__grey uk-width-1-1 uk-text-center"
                @click="closeFilter"
              >
                Закрыть
              </div>
            </div>
            <div>
              <button
                class="btn btn__tpl3 btn__green uk-width-1-1 uk-text-center uk-margin-remove"
              >
                Найти
              </button>
            </div>
          </div>
        </div>
        <input type="hidden" name="city" v-model="filter.address.city" />
        <input
          type="hidden"
          name="settlement"
          v-model="filter.address.settlement"
        />
        <input type="hidden" name="street" v-model="filter.address.street" />
        <input type="hidden" name="tract" v-model="filter.address.tract" />
        <input type="hidden" name="house" v-model="filter.address.house" />
        <input
          type="hidden"
          name="block_type"
          v-model="filter.address.block_type"
        />
        <input type="hidden" name="block" v-model="filter.address.block" />
      </form>
    </div>
  </div>
</template>

<script>
import addressInput from "./AddressInput";
export default {
  name: "SearchFilterMobile",
  data() {
    return {
      filter: {
        class_id: 1,
        address: {
          city: null,
          settlement: null,
          street: null,
          tract: null,
          house: null,
          block_type: null,
          block: null
        }
      },
      insertedAddress: null
    };
  },

  methods: {
    closeFilter() {
      UIkit.modal(this.$refs.modal).hide();
    },

    showFilter() {
      UIkit.modal(this.$refs.modal).show(300);
    },

    selectAddressFunc(option) {
      this.insertedAddress = option.value;
    }
  },

  components: {
    addressInput
  }
};
</script>
