/*
Name: Testimonials
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-top uk-margin-bottom">
      <div>
        <div
          class="uk-width-1-1 uk-margin-bottom uk-card-title fs24 fs24@s fs20@m fs30@l fnt-bld"
        >{{ title }}</div>
        <div uk-grid>
          <div class="uk-width-1-1@s uk-width-3-4@m uk-margin-auto-right">
            <div class="fs18 fs18@s fs16@m fs24@l fnt-med">{{ subtitle }}</div>
          </div>
          <div class="uk-width-1-1@s uk-width-1-4@m uk-flex uk-flex-middle">
            <a class="uk-align-center uk-text-center uk-width-1-1" :href="urlButton">
              <button
                class="btnTes uk-padding-remove uk-width-1-1 uk-button uk-button-default fs16 fs20@l"
              >{{ buttonText }}</button>
            </a>
          </div>
        </div>
      </div>
      <div class="uk-margin-top">
        <div uk-grid>
          <div class="uk-child-width-1-1 uk-child-2-3@m uk-width-3-4@l">
            <div uk-slider>
              <div class="uk-position-relative">
                <div class="uk-slider-container uk-light">
                  <div
                    class="uk-slider-items uk-padding-small uk-child-width-1-1 uk-child-width-1-2@m uk-child-width-1-3@l"
                    uk-grid
                  >
                    <div v-for="(cards, i) in cardJSON" :key="i">
                      <div
                        class="uk-card uk-card-default uk-margin-small-left uk-card-body uk-padding-small"
                      >
                        <div class="uk-card-header uk-padding-small">
                          <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                              <div
                                class="uk-card-title textCard fs24 fs24@s fs20@m fs24@l fnt-bld uk-margin-remove-bottom"
                              >{{ cards.titleFirstCard }}</div>
                              <p class="textColor uk-text-meta uk-margin-remove-top">
                                <time datetime="2016-04-01T19:00">{{cards.dateFirstCard}}</time>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div
                          class="uk-overflow-auto uk-card-body fs18 fs18@s fs16@m fs18@l uk-height-medium@m uk-padding-small"
                        >
                          <p>{{cards.textFirstCard}}</p>
                        </div>
                        <div class="uk-card-footer uk-padding-small">
                          <a
                            :href="cards.urlFirstCard"
                            class="uk-flex uk-flex-center uk-grid-small"
                            uk-grid
                          >
                            <div class="uk-width-auto">
                              <img
                                class="uk-border-circle"
                                width="80"
                                height="80"
                                :src="cards.urlImgFirstCard"
                              />
                            </div>
                            <div class="uk-width-1-1@s uk-width-expand@l">
                              <div
                                class="uk-card-title uk-text-center uk-text-left@l textCard fs24 fs24@s fs20@m fs20@l fnt-bld uk-margin-remove-bottom"
                              >{{cards.subtitleFirstCard}}</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-hidden@s">
                  <a
                    class="uk-position-center-left uk-position-small"
                    href="#"
                    uk-slidenav-previous
                    uk-slider-item="previous"
                  ></a>
                  <a
                    class="uk-position-center-right uk-position-small"
                    href="#"
                    uk-slidenav-next
                    uk-slider-item="next"
                  ></a>
                </div>

                <div class="uk-visible@s uk-dark">
                  <a
                    class="uk-position-center-left-out uk-padding-remove uk-margin-remove uk-position-small"
                    href="#"
                    uk-slidenav-previous
                    uk-slider-item="previous"
                  ></a>
                  <a
                    class="uk-position-center-right uk-padding-remove uk-margin-remove uk-position-small"
                    href="#"
                    uk-slidenav-next
                    uk-slider-item="next"
                  ></a>
                </div>
              </div>

              <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
          </div>
          <div class="uk-child-width-1-1 uk-padding-small uk-child-1-3@m uk-width-1-4@l">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
              <div class="uk-padding-small">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <div
                      class="uk-card-title textCard fs24 fs24@s fs20@m fs24@l fnt-bld uk-margin-remove-bottom"
                    >{{ titleFourthCard }}</div>
                  </div>
                </div>
              </div>
              <div
                class="uk-card-body uk-overflow-auto fs18 fs18@s fs16@m fs18@l uk-height-medium@l uk-padding-small"
              >
                <p>{{textFourthCard}}</p>
              </div>
              <div class="uk-padding-small uk-align-center">
                <div class="uk-width-1-1 uk-flex uk-flex-middle">
                  <a
                    class="uk-text-center uk-width-1-1"
                    :uk-toggle="targetButtonTestimonials"
                    :href="urlButtonTestimonials"
                  >
                    <button
                      class="btnTes uk-padding-remove uk-width-1-1 uk-width-1-3@s uk-width-1-1@l uk-button uk-button-default fs16 fs20@l"
                    >{{ buttonTestimonials }}</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Testimonials",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: "99% наших клиентов довольны нашими услугами и специалистами",
    },
    subtitle: {
      type: String,
      default: "В компании ВЕВАНТА работают высоко квалифицированные сотрудники, способные помочь вам с поиском и приобретением недвижимости согласно вашим запросов и с учетом предостовления вам максимальных скидок от наших партнеров. Плюс мы работаем там где вам удобно."
    },
    
    titleFourthCard:{
      type: String,
      default: "Вам понравилось работать с нами",
    },
    textFourthCard:{
      type: String,
      default: "Поделитесь с нами вашим мнением о работе нашего специалиста и в дальнейшим мы обезательно порадуем вас новыми специальными предложениями и скидками от наших партнеров.",
    },
    buttonTestimonials: {
      type: String,
      default: "отставить отзыв",
    },
    targetButtonTestimonials: {
      type: String,
      default: "target: #modal-feedback",
    },
    urlButtonTestimonials: {
      type: String,
      default: "",
    },
    
    img: {
      type: String,
      default:"",
    },
    buttonText: {
      type: String,
      default: "наши специалисты",
    },
    urlButton:{
      type: String,
      default: "https://vevanta.ru/kontakty/",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
  },
};
</script>

<style lang="css" scoped>
.textColor {
  color: rgba(65, 65, 66, 0.4);
}
.textCard {
  color: #009688;
}
.btnTes {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnTes:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
</style>
