<template>
  <div class="uk-card uk-card-hover uk-card-default">
    <div
      class="uk-card-media-top uk-position-relative"
      tabindex="-1"
      uk-slideshow
    >
      <ul class="uk-slideshow-items">
        <li v-for="(ph, index) in item.photos" :key="index">
          <a
            :href="`https://vevanta.ru/item/${item.object.id}/`"
            target="_blank"
            ><img :src="`${cdn}${ph.photo360}`" alt="" uk-cover
          /></a>
        </li>
      </ul>
      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-previous
        uk-slideshow-item="previous"
        style="color:#fff;"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="#"
        uk-slidenav-next
        uk-slideshow-item="next"
        style="color:#fff;"
      ></a>
    </div>
    <a
      class="uk-display-block uk-card-body uk-link-toggle"
      :href="`https://vevanta.ru/item/${item.object.id}/`"
      target="_blank"
    >
      <div class="fs18">
        {{ title }},
        <template v-if="item.object.class_id != 6">
          <span v-if="item.object.square">
            {{ item.object.square }} м<sup>2</sup>
          </span>

          <template
            v-if="(item.house && item.house.floors) || item.object.floor"
            >, &nbsp;
            <span v-if="item.house && item.house.floors">{{
              item.house.floors
            }}</span>
            <span v-if="item.house && item.house.floors && item.object.floor"
              >/</span
            >
            <span v-if="item.object.floor">{{ item.object.floor }}</span> эт.
          </template>
        </template>

        <span v-if="item.object.class_id == 6 && item.object.land_area">
          {{ item.object.land_area }} сот.
        </span>
      </div>
      <p class="uk-text-large uk-text-bold uk-margin-remove">
        ₽ {{ item.object.price | price }}
      </p>
      <p
        class="fs18 uk-width-1-1 uk-margin-remove"
        v-if="getPricePerUnit && getPricePerUnit != Infinity"
      >
        {{ getPricePerUnit | price }}
      </p>
      <p
        class="uk-margin-small uk-text-truncate"
        :uk-tooltip="`title: ${getAddress}}; delay: 500`"
      >
        {{ getAddress }}
      </p>

      <div class="uk-width-1-1">
        <div
          v-if="openContact"
          class="uk-animation-fade uk-margin-remove object-item__manager uk-flex"
        >
          <div class="uk-width-1-4">
            <img
              :data-src="
                item.object.user_staff_photo
                  ? `https://cloud.vevanta.ru${item.object.user_staff_photo}`
                  : 'https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/avatar.jpg'
              "
              alt=""
              uk-img
              class="uk-border-circle"
            />
          </div>

          <div class="uk-margin-small-left">
            <div class="uk-text-bold object-item__manager-name">
              {{ item.object.user_staff_name }}
              {{ item.object.user_staff_lastname }}
            </div>
            <div>
              <a
                :href="`tel:+7${item.object.user_staff_phone}`"
                target="_blank"
                class="fs14 cl-vevanta"
              >
                {{ item.object.user_staff_phone | phoneType }}
              </a>
            </div>
          </div>
        </div>

        <div
          v-show="!openContact"
          class="btn btn__tpl3 btn__green uk-width-1-1@l uk-text-center br5"
          @click.prevent="openContact = true"
        >
          <span>Показать телефон</span>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import input from "../filters/Input";
import ObjectItem from "../mixins/Object/ObjectItem.js";

export default {
  mixins: [input, ObjectItem],
  props: {
    item: Object
  },
  data() {
    return {
      openContact: false
    };
  },
  computed: {
    cdn() {
      return this.$store.state.cdn;
    },
    title() {
      if (this.item.object.class_id == 1) {
        return this.item.object.object_type_flat_name || "Квартира";
      }
      if (this.item.object.class_id == 2) {
        return this.item.object.object_type_room_name || "Комната";
      }
      if (this.item.object.class_id == 3) {
        return this.item.house && this.item.house.wall_id
          ? this.dataByWall[this.item.house.wall_id].name
          : "Дом";
      }
      if (this.item.object.class_id == 4) {
        return this.item.object.object_type_room_name || "Гараж";
      }
      if (this.item.object.class_id == 5) {
        return this.item.object.object_type_commerce_name || "Помещение";
      }
      if (this.item.object.class_id == 6) {
        return `Участок ${this.item.object.object_type_area_name}`;
      }
    },
    getParameters() {
      let parameters = [];
    },
    getPricePerUnit() {
      if (this.item.object.class_id != 6) {
        return (
          (this.item.object.price / this.item.object.square).toFixed(0) +
          " руб/м²"
        );
      } else if (this.item.object.class_id == 6) {
        return (
          (this.item.object.price / this.item.object.land_area).toFixed(0) +
          " руб/сот"
        );
      }
    },
    getAddress() {
      let address = [];
      if (!!this.item.object.address_city_name) address.push(`г. ${this.item.object.address_city_name}`);
      if (
        !!this.item.object.address_settlement_name &&
        [3, 6].includes(this.item.object.class_id)
      )
        address.push(`${this.item.object.address_settlement_name}`);
      if (
        !!this.item.object.address_tract_name &&
        this.item.object.class_id == 6
      )
        address.push(`${this.item.object.address_tract_name} тракт`);
      if (!!this.item.object.address_microdistrict_name)
        address.push(`мкр. ${this.item.object.address_microdistrict_name}`);
      if (!!this.item.object.address_street_name)
        address.push(`${this.item.object.address_street_name}`);
      if (
        !!this.item.object.address_house_name &&
        [1, 2].includes(this.item.object.class_id)
      )
        address.push(`${this.item.object.address_house_name}`);
      return address.join(", ");
    }
  }
};
</script>

<style scoped>
.uk-card-body {
  padding: 30px;
}
</style>
