/*
Name: VevantaVideo
Version: 1.0
Autor: Evgenii Morgunov
*/
<template>
  <div class="bannerVevanta uk-cover-container uk-height-large">
    <iframe :src="`${urlVideo}?autoplay=1&amp;loop=1&amp;&amp;playlist=${urlVideoTeg}`" height="1920" width="1080" frameborder="0" uk-responsive allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen uk-video="automute: true" uk-cover></iframe>
    <h2 class="uk-text-bolder" :style="{fontSize:`${testSize}`}">{{text}}</h2>
  </div>
</template>

<script>



export default {
  name: "VevantaVideo",
  props: {
    urlVideo:{
      type: String,
      default: "https://www.youtube.com/embed/02pvQofTzNI",
    },
    urlVideoTeg:{
      type: String,
      default: "02pvQofTzNI",
    },
    text:{
      type: String,
      default: "Веванта",
    },
    testSize:{
      type: String,
      default: "20vw",
    },
  },
  data() {
            return {

            };
        },

  methods: {
    
  },
};
</script>

<style lang="css" scoped>
.bannerVevanta {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerVevanta iframe {
  position: absolute;
  vertical-align: middle;
  object-fit: cover;
}
.bannerVevanta h2 {
  background: #fff;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: screen;
}
</style>
