/*
Name: VevantaVideoGallery
Version: 1.1
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-container uk-margin-top uk-margin-bottom">
    <div
      uk-slideshow="animation: push"
      uk-scrollspy="cls: uk-animation-fade; target: .videoGal; delay: 200; repeat: true"
    >
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <ul class="uk-slideshow-items">
          <li v-for="(cards, i) in cardJSON" :key="i">
            <iframe
              :src="`https://www.youtube.com/embed/${cards.youtubeVideo.split(`?v=`)[1].split(`&feature`)[0]}?showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1`"
              width="1920"
              height="1080"
              frameborder="0"
              allowfullscreen
              uk-responsive
            ></iframe>
          </li>
        </ul>

        <a
          class="uk-position-center-left uk-slidenav-large uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-previous
          uk-slideshow-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-slidenav-large uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-next
          uk-slideshow-item="next"
        ></a>
      </div>

      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</template>

<script>



export default {
  name: "VevantaVideoGallery",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
  },
};
</script>

<style lang="css" scoped>
</style>
