/*
Name: WorksAdv
Version: 1.1
Autor: Evgenii Morgunov
*/
<template>
  <div class="uk-background-cover" :style="{ backgroundImage: `url(${img})` }">
    <div class="uk-container uk-margin-top uk-margin-bottom">
      <div>
        <div class="uk-width-1-1 uk-card-title fs24 fs24@s fs20@m fs30@l fnt-bld">{{ title }}</div>
      </div>
      <div class="uk-margin-top">
        <div class="uk-child-width-1-4@m" uk-height-match="target: > .uk-card" uk-grid>
          <div
            v-for="(cards, i) in cardJSON"
            :key="i"
          >
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
              <div class="uk-card-header uk-padding-small">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-expand">
                    <div
                      class="uk-card-title titleCard fs24 fs24@s fs20@m fs24@l fnt-bld uk-margin-remove-bottom"
                    >{{ cards.titleCard }}</div>
                    <p
                      class="subtitleCard uk-text-meta fs18 fs18@s fs16@m fs18@l"
                    >{{ cards.subtitleCard }}</p>
                  </div>
                </div>
              </div>
              <div
                class="uk-card-body uk-overflow-auto fs18 fs18@s fs16@m fs18@l uk-height-medium uk-padding-small"
              >
                <div class="fnt-bld">{{cards.firstTitleTextCard}}</div>
                <p v-for="(message, i) in cards.cardFirstTexts" :key="i">{{ message.message }}</p>
                <div class="fnt-bld">{{cards.secondTitleTextCard}}</div>
                <p v-for="(message, i) in cards.cardSecondTexts" :key="i">{{ message.message }}</p>
                <div class="fnt-bld">{{cards.thirdTitleTextCard}}</div>
                <p v-for="(message, i) in cards.cardThirdTexts" :key="i">{{ message.message }}</p>
              </div>
              <div class="uk-padding-small uk-align-center">
                <div class="uk-width-1-1 uk-flex uk-flex-middle">
                  <a
                    class="uk-text-center uk-width-1-1"
                    :uk-toggle="cards.targetButtonAdv"
                    :href="cards.urlButtonAdv"
                  >
                    <button
                      class="btnAdv uk-padding-remove uk-width-1-1 uk-button uk-button-default fs16 fs20@l"
                    >{{ cards.buttonAdv }}</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "WorksAdv",
  props: {
    cards: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: "Новые вакансии в компании Веванта",
    },
    img: {
      type: String,
      default:"",
    },
    politika: {
      type: String,
      default: "/wp-content/themes/agentstvo/public/politika.pdf",
    },
  },
  data(){
    return{
      
    }
  },
  computed: {
    cardJSON() {
      return JSON.parse(this.cards);
    },
  },
};
</script>

<style lang="css" scoped>
.titleCard {
  color: #009688;
  height: 100px;
}
.subtitleCard {
  height: 80px;
}
.btnAdv {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  font-family: Gilroy-Semibold;
  background-color: #009688;
}
.btnAdv:hover {
  top: -10px;
  -webkit-box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
  color: #f3f2ee;
  background-color: #45ccbe;
}
@media screen and (max-width: 1024px) {
  .titleCard {
    height: 120px;
  }
  .subtitleCard {
    height: 120px;
  }
}
@media screen and (max-width: 768px) {
  .titleCard {
    height: 40px;
  }
  .subtitleCard {
    height: 40px;
  }
}
@media screen and (max-width: 425px) {
  .titleCard {
    height: 60px;
  }
  .subtitleCard {
    height: 60px;
  }
}
@media screen and (max-width: 375px) {
  .titleCard {
    height: 100px;
  }
  .subtitleCard {
    height: 100px;
  }
}
</style>
