<template>
  <div>
    <div class="uk-position-relative">
      <template v-if="!isMobile">
        <button class="uk-button scroll-button" ref="left">&lt;</button>
        <button class="uk-button scroll-button" ref="right">&gt;</button>
      </template>
      <div class="table-container scrollbar" ref="table">
        <table class="uk-table uk-table-striped">
          <thead>
            <tr>
              <th style="min-width: 170px"></th>
              <th
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-table-shrink uk-text-center"
                style="min-width: 300px"
              >
                <a
                  :href="`https://vevanta.ru/item/${item.object.id}`"
                  target="_blank"
                >
                  <div
                    class="uk-card-media-top uk-position-relative uk-background-cover"
                    :style="{
                      height: '150px',
                      backgroundImage: `url(${cdn}${item.photos[0].photo360})`
                    }"
                  ></div>
                </a>
                <p class="uk-margin-small fs16 uk-text-center">
                  <span v-if="item.object.object_type_flat_name">{{
                    item.object.object_type_flat_name
                  }}</span>
                  <span v-else-if="item.object.object_type_room_name">{{
                    item.object.object_type_room_name
                  }}</span>
                  <span v-else-if="item.object.object_type_area_name">{{
                    item.object.object_type_area_name
                  }}</span>
                  <span v-else-if="item.object.object_type_house_name">{{
                    item.object.object_type_house_name
                  }}</span>
                  <span v-else-if="item.object.object_type_garage_name">{{
                    item.object.object_type_garage_name
                  }}</span>
                  <span v-else-if="item.object.object_type_commerce_name">{{
                    item.object.object_type_commerce_name
                  }}</span>
                </p>
                <p class="fs18 uk-margin-remove">
                  <a class="btn btn__tpl1 btn__green" :href="`tel:${item.object.user_staff_phone}`">{{item.object.user_staff_phone | phoneType}}</a>
                </p>
              </th>
              <template v-if="getFilterItems.length < 4">
                <th
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                ></th>
              </template>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('price_total')"
              >
                Цена
                <span v-if="sortType.includes('price_total')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>
              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ item.object.price | price }} ₽</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="selectedClass != 6">
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('square_total')"
              >
                Площадь
                <span v-if="sortType.includes('square_total')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>
              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ item.object.square }} м<sup>2</sup></span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[3, 6].includes(selectedClass)">
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('land_area')"
              >
                Площадь участка
                <span v-if="sortType.includes('land_area')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>
              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{
                  item.object.land_area ? `${item.object.land_area} сот.` : "-"
                }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr>
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('square_price')"
              >
                Цена за
                <span v-if="selectedClass != 6">м<sup>2</sup></span>
                <span v-else>сотку</span>
                <span v-if="sortType.includes('square_price')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ pricePerMeter(item).toFixed(0) | price }} ₽</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2, 3].includes(selectedClass)">
              <td class="uk-table-shrink cr-pointer">Ремонт</td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{
                  item.object.object_repairs_name
                    ? item.object.object_repairs_name
                    : "-"
                }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2, 3].includes(selectedClass)">
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('square_living')"
              >
                Жилая площадь
                <span v-if="sortType.includes('square_living')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{
                  item.object.square_living && item.object.square_living > 0
                    ? `${item.object.square_living} м²`
                    : "-"
                }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2, 3].includes(selectedClass)">
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('square_kitchen')"
              >
                Площадь кухни
                <span v-if="sortType.includes('square_kitchen')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{
                  item.object.square_kitchen && item.object.square_kitchen > 0
                    ? `${item.object.square_kitchen} м²`
                    : "-"
                }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2].includes(selectedClass)">
              <td class="uk-table-shrink cr-pointer">Этаж</td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ item.object.floor || "" }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2, 3].includes(selectedClass)">
              <td class="uk-table-shrink cr-pointer">Этажность дома</td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ item.house.floors || "" }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2, 3].includes(selectedClass)">
              <td class="uk-table-shrink cr-pointer">Материал дома</td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ item.house.house_wall_name || "" }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>

            <tr v-if="[1, 2, 3].includes(selectedClass)">
              <td
                class="uk-table-shrink cr-pointer"
                @click="selectSortType('built_year')"
              >
                Год постройки
                <span v-if="sortType.includes('built_year')" :uk-icon="`icon: chevron-${sortType.split('-')[1]}`"></span>
              </td>

              <td
                v-for="(item, i) in getFilterItems"
                :key="i"
                class="uk-text-center"
              >
                <span>{{ item.house.built_year || "" }}</span>
              </td>

              <template v-if="getFilterItems.length < 4">
                <td
                  v-for="i in 4 - getFilterItems.length"
                  :key="i + getFilterItems.length"
                  class="uk-table-expand empty-ceil"
                >
                  -
                </td>
              </template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import input from "../../filters/Input";
import functions from "../../mixins/functions";
import staffCard from "./StaffCard";

export default {
  name: "CompareListing",
  mixins: [input, functions],
  props: {
    items: {
      type: Array,
      default: () => []
    },
    selectedClass: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      sortType: "default",
      table: null,

      rightScroll: null,
      leftScroll: null
    };
  },
  mounted() {
    this.table = this.$refs.table;
    if (!this.isMobile) {
      this.addListenersForScroll();
    }
    this.addListenersForColumnSelect();
  },
  computed: {
    cdn() {
      return this.$store.state.cdn;
    },

    getFilterItems() {
      let items = this.items.filter(
        item => item.object.class_id == this.selectedClass
      );
      if (this.sortType != "default") {
        items.sort(this.sort);
      }
      return items;
    },
  },
  methods: {
    selectSortType(type) {
      if (!this.sortType.includes(type)) {
        this.sortType = `${type}-down`;
      } else {
        if (this.sortType.includes("down")) {
          this.sortType = `${type}-up`;
        } else {
          this.sortType = `${type}-down`;
        }
      }
    },

    pricePerMeter(item) {
      return item.object.price / (item.object.square || item.object.land_area);
    },

    sort(a, b) {
      if (!a) a = 0;
      if (!b) b = 0;
      let dir = this.sortType.includes("down") ? -1 : 1;

      if (this.sortType.includes("price_total")) {
        return (a.object.price - b.object.price) * dir;
      }
      if (this.sortType.includes("square_total")) {
        return (a.object.square - b.object.square) * dir;
      }
      if (this.sortType.includes("land_area")) {
        return (a.object.land_area - b.object.land_area) * dir;
      }
      if (this.sortType.includes("square_price")) {
        return (this.pricePerMeter(a) - this.pricePerMeter(b)) * dir;
      }
      if (this.sortType.includes("square_living")) {
        return (a.object.square_living - b.object.square_living) * dir;
      }
      if (this.sortType.includes("square_kitchen")) {
        return (a.object.square_kitchen - b.object.square_kitchen) * dir;
      }
      if (this.sortType.includes("built_year")) {
        if (a.house && b.house) return (a.house.built_year - b.house.built_year) * dir;
      }
    },

    addListenersForColumnSelect() {
      document.addEventListener("mouseover", e => {
        this.selectColumnListener(e, "add");
      });
      document.addEventListener("mouseout", e => {
        this.selectColumnListener(e, "remove");
      });
    },

    addListenersForScroll() {
      this.$refs.right.addEventListener("mouseover", e => {
        this.rightScroll = setInterval(() => {
          this.table.scrollLeft += 2;
        }, 5);
      });
      this.$refs.right.addEventListener("mouseout", e => {
        clearInterval(this.rightScroll);
      });

      this.$refs.left.addEventListener("mouseover", e => {
        this.leftScroll = setInterval(() => {
          this.table.scrollLeft -= 2;
        }, 5);
      });

      this.$refs.left.addEventListener("mouseout", e => {
        clearInterval(this.leftScroll);
      });
    },

    selectColumnListener(e, method) {
      let target = e.target.closest("td") || e.target.closest("th");
      let index;
      if (target) {
        if (target.classList.contains("empty-ceil")) return;
        index = target.cellIndex + 1;
      }
      if (!target || index == 1) return;

      let ceils = [
        ...this.table.querySelectorAll(`td:nth-child(${index})`),
        this.table.querySelector(`th:nth-child(${index})`)
      ];
      ceils.forEach(ceil => ceil.classList[method]("hover-column"));
    }
  },
  components: {
    staffCard
  }
};
</script>

<style scoped>
.table-container {
  overflow-x: auto;
}

.float-ceil {
  left: 0;
  background-color: inherit;
  position: sticky;
  box-shadow: 5px 0px 10px 0px rgba(204, 204, 204, 0.26);
  z-index: 10;
}

.uk-table-striped tbody tr:nth-of-type(even) td.float-ceil {
  background-color: #fff !important;
  min-width: 150px !important;
}

.hover-column {
  z-index: 50;
  background-color: #00bab70a;
  cursor: pointer;
}

.scroll-button {
  position: absolute;
  top: 50%;
  height: 100px;
  width: 50px;
  opacity: 0.3;
  font-size: 30px;
  padding: 0px;
}
.scroll-button:hover {
  opacity: 0.6;
}
.scroll-button:first-child {
  border-radius: 0px 30px 30px 0px;
}
.scroll-button:nth-child(2) {
  border-radius: 30px 0px 0px 30px;
  right: 0px;
}
</style>
