<template>
  <div
    class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1"
    uk-grid
  >
    <div v-for="(item, i) in items" :key="i">
      <div class="uk-card uk-card-default">
        <div
          class="uk-card-media-top uk-position-relative"
          tabindex="-1"
          uk-slideshow
        >
          <ul class="uk-slideshow-items">
            <li v-for="(ph, index) in item.photos" :key="index">
              <a
                :href="`https://vevanta.ru/item/${item.object.id}/`"
                target="_blank"
                ><img :src="`${cdn}${ph.photo360}`" alt="" uk-cover
              /></a>
            </li>
          </ul>
          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slideshow-item="previous"
            style="color: #fff"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slideshow-item="next"
            style="color: #fff"
          ></a>
        </div>
        <a
          class="uk-display-block uk-card-body uk-link-toggle uk-padding-remove-bottom"
          :href="`https://vevanta.ru/item/${item.object.id}/`"
          target="_blank"
        >
          <span
            class="action-button"
            :class="{ added: favoriteItems.includes(item.object.id) }"
            uk-icon="icon: star; ratio: 2"
            @click.prevent="addToStorage(item.object.id, 'favoriteItems')"
            uk-tooltip="title: Удалить из избранного; delay: 500"
          ></span>
          <div>
            <span v-if="item.object.object_type_flat_name">{{
              item.object.object_type_flat_name
            }}</span>
            <span v-else-if="item.object.object_type_room_name">{{
              item.object.object_type_room_name
            }}</span>
            <span v-else-if="item.object.object_type_area_name">{{
              item.object.object_type_area_name
            }}</span>
            <span v-else-if="item.object.object_type_house_name">{{
              item.object.object_type_house_name
            }}</span>
            <span v-else-if="item.object.object_type_garage_name">{{
              item.object.object_type_garage_name
            }}</span>
            <span v-else-if="item.object.object_type_commerce_name">{{
              item.object.object_type_commerce_name
            }}</span
            >,
            <span v-if="item.object.square"
              >{{ item.object.square }} м<sup>2</sup></span
            >
            <span v-else>{{ item.object.land_area }} сот.</span>
          </div>
          <div class="uk-text-large uk-text-bold">
            <span>{{ item.object.price | price }} ₽</span>
          </div>
          <div>
            <span v-if="item.object.address_city_name"
              >г. {{ item.object.address_city_name }}</span
            >
            <span v-else
              >{{ item.object.address_settlement_type }}.
              {{ item.object.address_settlement_name }}</span
            >
          </div>
          <div class="uk-text-truncate">
            <span v-if="item.object.address_street_name"
              >{{ item.object.address_street_type }}.
              {{ item.object.address_street_name }}</span
            >
            <span v-else>{{ item.object.address_tract_name }} тракт</span>

            <span v-if="item.object.class_id == 1"
              >, {{ item.object.address_house_name }}</span
            >
            {{ item.object.address_house_block }}
          </div>
        </a>

        <staff-card
          :staff_name="item.object.user_staff_name"
          :staff_lastname="item.object.user_staff_lastname"
          :staff_phone="item.object.user_staff_phone"
          :staff_photo="item.object.user_staff_photo"
        ></staff-card>
      </div>
    </div>
  </div>
</template>

<script>
import staffCard from "./StaffCard";
import storage from "../../mixins/storage";
import input from "../../filters/Input";

export default {
  name: "FavoriteListing",
  mixins: [storage, input],
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      openContact: false
    };
  },
  mounted() {
    this.getStorages();
  },
  computed: {
    cdn() {
      return this.$store.state.cdn;
    }
  },
  components: {
    staffCard
  }
};
</script>

<style scoped>
.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8e8e8;
  position: absolute;
  right: 15px;
}
.action-button:hover,
.action-button.added {
  color: #00bab6;
}</style>
