<template>
  <div>
    <div class="uk-flex uk-flex gap10 uk-margin uk-width-auto@m uk-width-1-1">
      <button
        class="btn btn__tpl1 uk-width-auto@m uk-width-1-2"
        :class="{ btn__green: viewType == 'list' }"
        @click="viewType = 'list'"
      >
        Избранное
      </button>
      <button
        class="btn btn__tpl1 uk-width-auto@m uk-width-1-2"
        :class="{ btn__green: viewType == 'compare' }"
        @click="viewType = 'compare'"
        v-show="getSelectedClass != 'new'"
      >
        Сравнение
      </button>
    </div>
    <div
      class="uk-flex uk-flex uk-flex-wrap gap10 uk-margin uk-width-auto@m uk-width-1-1"
    >
      <button
        class="btn btn__tpl1 uk-width-auto@m uk-width-1-2@m uk-with-auto uk-margin-remove"
        v-for="class_id in getClasses"
        :key="class_id.id"
        :class="{ btn__green: getSelectedClass == class_id.id }"
        @click="selectViewClass(class_id.id)"
      >
        {{ class_id.title }}
      </button>

      <button
        v-if="viewType == 'list' && (newItems && newItems.complex.length > 0)"
        class="btn btn__tpl1 uk-width-auto@m uk-width-1-2@m uk-with-auto uk-margin-remove"
        @click="selectViewClass('new')"
        :class="{ btn__green: getSelectedClass == 'new' }"
      >
        Новостройки
      </button>
    </div>
    
    <template v-if="favoriteItems.length > 0 || (newItems && newItems.complex.length > 0)">
      <keep-alive>

        <!-- Избраннное -->
        <favorite-listing
          v-if="viewType == 'list' && getSelectedClass != 'new'"
          :items="
            items.filter(item => item.object.class_id == getSelectedClass)
          "
        ></favorite-listing>

        <!-- Новостройки избранное -->
        <new-favorite-listing
          v-if="viewType == 'list' && getSelectedClass == 'new' && newItems"
          :items="newItems"
        ></new-favorite-listing>

        <!-- Сравнение -->
        <compare-listing
          v-if="viewType == 'compare'"
          :items="
            items.filter(item => item.object.class_id == getSelectedClass)
          "
          :selectedClass="getSelectedClass"
        ></compare-listing>

      </keep-alive>
    </template>
    <template v-else>
      <div class="uk-flex uk-flex-middle uk-flex-column fs24@s uk-text-bold">
        <img
          src="https://vevanta.ru/wp-content/uploads/2021/02/favor.png"
          alt=""
          class="circle-image"
        />
        <p class="uk-margin-small uk-text-center">
          Сохраняйте понравившиеся объекты в избранное
        </p>
        <a
          href="https://vevanta.ru/search"
          target="_blank"
          class="btn btn__green btn__tpl1"
          >Посмотреть объекты</a
        >
      </div>
    </template>
  </div>
</template>

<script>
import favoriteListing from "./FavoriteListing";
import newFavoriteListing from "./newFavoriteListing";
import compareListing from "./CompareListing";
import storage from "../../mixins/storage";

export default {
  mixins: [storage],
  props: {
    favoriteItemsId: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      items: [],
      newItems: null,
      viewType: "list",
      classes_id: [
        { id: 1, title: "Квартиры" },
        { id: 2, title: "Комнаты" },
        { id: 3, title: "Дома, дачи, коттеджи" },
        { id: 4, title: "Гаражи" },
        { id: 5, title: "Коммерческая недвижимость" },
        { id: 6, title: "Земельные участки" }
      ],
      selected_class: null
    };
  },
  watch: {
    viewType(val) {
      //если включается вид сравнения при отображении новостроек - меняем класс отображения на ближайший из не новостроек
      if (val == "compare" && this.selected_class == "new") {
        this.selected_class = Math.min(
          ...this.items.map(item => item.object.class_id)
        ) || 'new';
      }
    }
  },
  mounted() {
    this.getStorages();
    if (this.favoriteItems.length > 0) {
      this.$axios
        .post("objects/get_objects_by_id", { id: this.favoriteItems })
        .then(res => {
          this.items = res.data;
        });
    }

    if (this.newFavoriteItems.length > 0) {
      this.$axios
        .post("https://vevanta.ru/api/newhouse/get_complex_info", {
          filter: {
            comp_ids: this.newFavoriteItems
          }
        })
        .then(res => {
          this.newItems = res.data;
        });
    }
  },

  computed: {
    getSelectedClass() {
      return (
        this.selected_class ||
        (this.items.length > 0 ? Math.min(...this.items.map(item => item.object.class_id)) : 'new')
      );
    },

    //выборка классов, по которым есть объекты в избранном
    getClasses() {
      return this.classes_id.filter(class_id => {
        return this.items.find(item => item.object.class_id == class_id.id);
      });
    }
  },
  methods: {
    selectViewClass(class_id) {
      this.selected_class = class_id;
    }
  },
  components: {
    favoriteListing,
    newFavoriteListing,
    compareListing
  }
};
</script>

<style scoped>
.circle-image {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgba(187, 187, 187, 0.288);
  width: 200px;
}
@media screen and(max-width:640px) {
  .circle-image {
    width: 150px;
  }
}
</style>
