<template>
  <div
    class="uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1 uk-flex-stretch"
    uk-grid
  >
    <div v-for="(item, i) in items.complex" :key="i">
      <div class="uk-card uk-card-default uk-height-1-1">
        <div class="uk-card-media-top">
          <a :href="item.comp_url" target="_blank">
            <div
              :style="{
                backgroundImage: `url(${item.comp_photo_url})`,
                height: '200px',
                backgroundSize: 'cover'
              }"
              uk-img
            ></div>
          </a>
        </div>
        <div
          class="uk-display-block uk-card-body uk-link-toggle uk-padding-remove-bottom"
        >
          <span
            class="action-button"
            :class="{ added: newFavoriteItems.includes(item.comp_id) }"
            uk-icon="icon: star; ratio: 2"
            @click.prevent="addToStorage(item.comp_id, 'newFavoriteItems')"
            uk-tooltip="title: Удалить из избранного; delay: 500"
          ></span>
          <p class="fs22 uk-text-bold uk-margin-remove-top">
            ЖК {{ item.comp_name }}
          </p>

          <div class="uk-flex uk-flex-column">
            <a class="uk-display-block uk-link-toggle" :href="item.comp_url" target="_blank">
              <div style="height: 210px;">
                <p class="uk-margin-remove uk-text-truncate fs20 uk-text-bold">
                  От {{ item.price_min | price }} ₽
                </p>
                <p
                  v-for="(obj, i) in getObjects(item.comp_id)"
                  :key="i"
                  class="uk-margin-small"
                >
                  <template v-if="obj.rooms > 0">{{ obj.rooms }}к</template>
                  <template v-if="obj.rooms == 0">Студия</template> от
                  {{ obj.min_square }}м<sup>2</sup> <b>от {{ obj.min_price | price }} ₽</b>
                </p>
                <p class="uk-margin-small">
                  В продаже
                  {{
                    item.objects_count
                      | declination("квартира", "квартиры", "квартир")
                  }}
                </p>
              </div>
            </a>
            <div>
              <button-modal
                name="Консультация"
                name-classes="btn btn__tpl1 btn__green uk-width-1-1 uk-text-center uk-margin-small-top uk-margin-small-bottom"
                :form-name="`Консультация по ЖК ${item.comp_name}`"
                :staff-id="88"
                :class-id="74"
                :source-id="5"
              ></button-modal>
            </div>
          </div>
        </div>

        <!-- <staff-card
          :staff_name="item.object.user_staff_name"
          :staff_lastname="item.object.user_staff_lastname"
          :staff_phone="item.object.user_staff_phone"
          :staff_photo="item.object.user_staff_photo"
        ></staff-card> -->
      </div>
    </div>
  </div>
</template>

<script>
import storage from "../../mixins/storage";
import input from "../../filters/Input";
import buttonModal from "../ButtonModal";

export default {
  props: {
    items: {
      type: Object,
      default: null
    }
  },
  mixins: [storage, input],
  data() {
    return {};
  },
  mounted() {
    this.getStorages();
  },
  methods: {
    getObjects(comp_id) {
      return this.items.objects.filter(object => object.comp_id == comp_id);
    }
  },
  components: {
    buttonModal
  }
};
</script>

<style scoped>
.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8e8e8;
  position: absolute;
  right: 15px;
}
.action-button:hover,
.action-button.added {
  color: #00bab6;
}
</style>
