<template>
  <div class="uk-width-1-1 uk-padding-small">
    <div
      v-if="openContact"
      class="uk-animation-fade uk-flex uk-flex-center uk-flex-middle gap15"
    >
      <div class="uk-width-1-4">
        <img
          :data-src="
            staff_photo
              ? `https://cloud.vevanta.ru${staff_photo}`
              : 'https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/avatar.jpg'
          "
          alt=""
          uk-img
          class="uk-border-circle"
        />
      </div>

      <div>
        <div class="uk-text-bold object-item__manager-name">
          {{ staff_name }}
          {{ staff_lastname }}
        </div>
        <div>
          <a
            :href="`tel:+7${staff_phone}`"
            target="_blank"
            class="fs14 cl-vevanta"
          >
            {{ staff_phone | phoneType }}
          </a>
        </div>
      </div>
    </div>

    <div
      v-show="!openContact"
      class="btn btn__tpl1 btn__green uk-width-1-1 uk-text-center"
      @click.prevent="openContact = true"
    >
      <span>Показать телефон</span>
    </div>
  </div>
</template>

<script>
import input from "../../filters/Input";

export default {
  mixins: [input],
  props: {
    staff_name: String,
    staff_lastname: String,
    staff_phone: Number | String,
    staff_photo: String,
  },
  data() {
    return {
      openContact: false,
    }
  }
};
</script>

<style></style>
