<template>
  <div
    class="map-filter uk-position-left uk-background-default uk-overflow-auto scrollbar"
  >
    <slot></slot>

    <div class="uk-width-1-1 uk-flex uk-flex-column uk-padding-medium">
      <h2 class="uk-margin-small uk-margin-remove-top">Фильтр</h2>

      <div class="uk-margin-small">
        <label class="uk-form-label uk-width-1-1">Цена, ₽</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.price_from"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.price_to"
            />
          </div>
        </div>
      </div>

      <div class="uk-margin-small">
        <label class="uk-form-label uk-width-1-1">Площадь, м<sup>2</sup></label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <input
              name=""
              class="uk-input"
              type="text"
              placeholder="От"
              autocomplete="off"
              v-model="filter.square_from"
            />
          </div>

          <div class="uk-width-1-2">
            <input
              class="uk-input"
              type="text"
              placeholder="До"
              autocomplete="off"
              v-model="filter.square_to"
            />
          </div>
        </div>
      </div>

      <m-select
        :data="complexes"
        _key="id"
        :label="`ЖК${getComplexLabel}`"
        value="name"
        v-model="filter.complexes"
        :isInput="true"
        class="uk-margin-small"
      ></m-select>

      <m-select
        :data="districts"
        _key="id"
        :label="`Район${getDistrictLabel}`"
        value="name"
        v-model="filter.microdistricts"
        :isInput="true"
        class="uk-margin-small"
      ></m-select>

      <div class="uk-margin-small">
        <button
          class="uk-button uk-button-default uk-width-1-1 "
          @click="$emit('clearFilter')"
        >
          Отчистить фильтр
        </button>
        <button
          class="btn btn__tpl1 btn__green uk-width-1-1 uk-text-center uk-margin-small-top"
          @click="$emit('applyFilter')"
        >
          Применить
        </button>
        <p>
          Найдено
          {{ count | declination("объявление", "объявления", "объявлений") }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import mSelect from "../../multiSelect";
import options from "../../../mixins/Object/Options";
import input from "../../../filters/Input";

export default {
  props: {
    filter: {
      type: Object,
      default: {},
    },
    count: {
      type: Number,
      default: 0
    },
  },
  mixins: [options, input],

  data() {
    return {
      districts: [],
      complexes: []
    }
  },

  mounted() {
    this.getComplexList();
  },
  computed: {
    getDistrictLabel() {
      return this.districts
        .filter(district => {
          return this.filter.microdistricts.includes(district.id);
        })
        .map((el, i) => (i == 0 ? `: ${el.name}` : el.name))
        .join(", ");
    },

    getComplexLabel() {
      return this.complexes
        .filter(complex => {
          return this.filter.complexes.includes(complex.id);
        })
        .map((el, i) => (i == 0 ? `: ${el.name}` : el.name))
        .join(", ");
    },
  },

  methods: {
    getLabel(key) {
      return this.options[key]
        .filter(el => {
          if (Array.isArray(this.filter[key]))
            return this.filter[key].includes(el.id);
          else return this.filter[key] == el.id;
        })
        .map((el, i) => (i == 0 ? `: ${el.name}` : el.name))
        .join(", ");
    },
    getComplexList() {
      this.$axios.post('https://vevanta.ru/api/newhouse/getbuildingsinfo', {}).then(res => {
        this.districts = res.data.microdistricts;
        this.complexes = res.data.complexes;
      })
    }
  },
  components: {
    mSelect
  }
};
</script>

<style scoped>
.map-filter {
  width: 300px;
  z-index: 10000;
}

@media screen and (max-width: 480px) {
  .map-filter {
    width: 100%;
  }
}
</style>
