<template>
  <div>
    <div class="uk-card-body uk-padding-remove uk-width-1-1">
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
        uk-slideshow
      >
        <ul class="uk-slideshow-items" uk-lightbox>
          <li>
            <div
              class="uk-background-cover uk-height-1-1 uk-width-1-1"
              :style="{
                backgroundImage: `url(${object.comp_photo_url ||
                  'https://vevanta.ru/wp-content/uploads/2020/10/empty.png'})`
              }"
            >
              <a
                class="uk-inline uk-height-1-1 uk-width-1-1"
                :href="`${object.comp_photo_url}`"
                @click.prevent
              >
              </a>
            </div>
          </li>
        </ul>
        <a
          class="uk-position-center-left uk-position-small"
          href="#"
          uk-slidenav-previous
          uk-slideshow-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-position-small"
          href="#"
          uk-slidenav-next
          uk-slideshow-item="next"
        ></a>
      </div>
      <div class="uk-padding-small uk-position-relative">
        <div
          class="uk-width-1-1 uk-flex uk-flex-between uk-margin-small-bottom"
        >
          <p class="fs20 uk-width-5-6 uk-margin-remove ">
            <span class="uk-margin-small-right">ЖК {{ object.comp_name }}</span>
          </p>
          <span
            class="action-button"
            :class="{ added: isAdded.newFavorite }"
            uk-icon="icon: star; ratio: 2"
            @click.prevent="
              $emit(
                'addToStorage',
                `${Number(object.comp_id)}`,
                'newFavoriteItems'
              )
            "
            uk-tooltip="title: Добавить в избранное; delay: 500"
          ></span>
        </div>

        <p class="uk-margin-remove uk-text-truncate fs20 uk-text-bold">
          От {{ object.price_min | price }} ₽
        </p>
        <p v-for="(obj, i) in objects" :key="i" class="uk-margin-small">
          
          <template v-if="obj.rooms > 0">{{ obj.rooms }}к</template>
          <template v-if="obj.rooms == 0">Студия</template> от
          {{ obj.min_square }}м<sup>2</sup>

          <b>от {{ obj.min_price | price }} ₽</b>
        </p>
        <p class="uk-margin-small">
          В продаже
          {{
            object.objects_count
              | declination("квартира", "квартиры", "квартир")
          }}
        </p>
        <a
          :href="object.comp_url"
          target="_blank"
          class="btn btn__tpl1 btn__green uk-width-1-1 uk-text-center uk-margin-small-top"
        >
          <span>Перейти к квартирам</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import input from "../../../filters/Input";
import ObjectItem from "../../../mixins/Object/ObjectItem.js";

export default {
  mixins: [input, ObjectItem],
  props: {
    object: {
      type: Object,
      default: {}
    },
    objects: {
      type: Array,
      default: () => []
    },
    isAdded: {
      type: Object,
      default: {
        favorite: false,
        compare: false
      }
    }
  },
  data() {
    return {
      showInfo: false,
      openContact: false
    };
  },
  methods: {}
};
</script>

<style scoped>
.uk-slidenav {
  background-color: rgb(216 216 216 / 40%);
  border-radius: 50%;
}
.accordeon-title {
  cursor: pointer;
  border-radius: 5px;
}
.accordeon-title:hover {
  background-color: rgba(207, 207, 207, 0.199);
}
.accordeon {
  overflow: hidden;
  transition: 1s ease;
}
.accordeon.closed {
  height: 0px;
  visibility: hidden;
  opacity: 0;
}
.accordeon.opened {
  display: block;
  height: auto;
  visibility: visible;
}
.description {
  max-height: 90px;
  overflow-y: scroll;
  border-radius: 5px;
}
.phone-field {
  background-color: #6d6d6d14;
  border-radius: 5px;
}

.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8e8e8;
}
.action-button:hover,
.action-button.added {
  color: #00bab6;
}
@media screen and (max-width: 640px) {
  .description {
    max-height: 150px;
  }
}
</style>
