<template>
  <div
    uk-grid
    class="uk-grid-collapse uk-padding-small uk-padding-remove-left uk-padding-remove-right"
    id="header"
  >
    <template v-if="isShow">
      <div
        class="uk-width-1-5@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-position-relative"
      >
        <div class="uk-form-controls br5 uk-overflow-hidden">
          <my-select
            :data="microdistricts"
            _key="id"
            label="Район"
            value="name"
            v-model="filter.microdistricts"
            :isInput="true"
          ></my-select>
        </div>
      </div>

      <div
        class="uk-width-1-5@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-position-relative"
      >
        <div class="uk-form-controls br5 uk-overflow-hidden">
          <my-select
            :data="complexes"
            _key="id"
            label="ЖК"
            value="name"
            v-model="filter.comp_ids"
            :isInput="true"
          ></my-select>
        </div>
      </div>

      <div
        class="uk-width-1-5@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-position-relative"
      >
        <div class="uk-form-controls br5 uk-overflow-hidden">
          <my-select
            :data="developers"
            _key="id"
            label="Застройщик"
            value="name"
            v-model="filter.dev_ids"
            :isInput="true"
          ></my-select>
        </div>
      </div>

      <div
        class="uk-width-1-5@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-position-relative"
      >
        <div class="uk-form-controls br5 uk-overflow-hidden">
          <my-select
            :data="statuses"
            _key="id"
            label="Статус дома"
            value="name"
            v-model="filter.statuses"
          />
        </div>
      </div>

      <div
        class="uk-width-1-5@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-position-relative"
      >
        <div class="uk-form-controls br5 uk-overflow-hidden">
          <my-select
            :data="rooms"
            label="Количество комнат"
            _key="id"
            value="name"
            v-model="filter.rooms"
          ></my-select>
        </div>
      </div>
      <div
        class="uk-width-1-5@m uk-width-1-1@s uk-padding-small uk-padding-remove-top "
      >
        <label class="uk-form-label field-title">Цена, ₽</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>

          <div class="uk-width-1-2">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <price-input
                class="uk-input"
                placeholder="От"
                autocomplete="off"
                v-model="filter.price_from"
              ></price-input>
            </div>
          </div>

          <div class="uk-width-1-2">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <price-input
                class="uk-input"
                placeholder="До"
                autocomplete="off"
                v-model="filter.price_to"
              ></price-input>
            </div>
          </div>

        </div>
      </div>

      <div
        class="uk-width-1-6@m uk-width-1-1@s uk-padding-small uk-padding-remove-top "
      >
        <label class="uk-form-label field-title">Площадь, м<sup>2</sup></label>
        <div class="uk-form-controls uk-grid-small" uk-grid>

          <div class="uk-width-1-2">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <input
                class="uk-input"
                type="number"
                placeholder="От"
                autocomplete="off"
                v-model.lazy="filter.square_from"
              />
            </div>
          </div>

          <div class="uk-width-1-2">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <input
                class="uk-input"
                type="number"
                placeholder="До"
                autocomplete="off"
                v-model.lazy="filter.square_to"
              />
            </div>
          </div>
          
        </div>
      </div>

      <div
        class="uk-width-1-6@m uk-width-1-1@s uk-padding-small uk-padding-remove-top "
      >
        <label class="uk-form-label field-title">Этажность</label>
        <div class="uk-form-controls uk-grid-small" uk-grid>
          <div class="uk-width-1-2">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <input
                class="uk-input"
                type="number"
                placeholder="От"
                autocomplete="off"
                v-model.lazy="filter.floors_from"
              />
            </div>
          </div>

          <div class="uk-width-1-2">
            <div class="uk-form-controls br5 uk-overflow-hidden">
              <input
                class="uk-input"
                type="number"
                placeholder="До"
                autocomplete="off"
                v-model.lazy="filter.floors_to"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="uk-width-expand@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-position-relative uk-flex uk-flex-bottom"
      >
        <div class="uk-form-controls br5 uk-overflow-hidden uk-width-1-1">
          <my-select
            :data="walls"
            label="Материал стен"
            _key="id"
            value="name"
            v-model="filter.walls"
          ></my-select>
        </div>
      </div>

      <div
        class="uk-width-auto@m uk-width-1-1@s uk-padding-small uk-padding-remove-top uk-flex uk-flex-bottom"
      >
        <div class="uk-form-controls uk-width-1-1 uk-position-relative">
          <button
            class="uk-button uk-button-default uk-background-default date-button select-button uk-width-1-1 br5 uk-overflow-hidden"
            type="button"
          >
            Срок сдачи
            <span uk-icon="icon: chevron-down;"></span>
          </button>
          <div
            uk-dropdown="mode: click; pos: bottom-justify; offset: 0"
            class="date-select uk-padding-small"
          >
            <ul
              class="uk-list uk-margin-remove"
              uk-accordion="collapsible: true"
            >
              <li v-for="n in 5" :key="n">
                <label class="uk-accordion-title uk-width-1-1"
                  >{{ getYear(n - 1) }} год</label
                >
                <div class="uk-accordion-content uk-margin-small-left">
                  <label
                    v-for="quartal in getQuartals(getYear(n - 1))"
                    :key="quartal"
                    ><input
                      class="uk-radio"
                      type="radio"
                      :value="`${getYear(n - 1)}-${quartal}`"
                      v-model="date"
                    />{{ quartal }} квартал</label
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-auto@m uk-flex uk-flex-bottom">
        <div
          class="uk-padding-small uk-padding-remove-top uk-flex uk-flex-wrap gap15 uk-flex-right uk-width-1-1"
        >
          <div class="uk-form-controls uk-width-1-1 uk-width-auto@m">
            <button
              class="btn btn__tpl3 fnt-semi uk-height-1-1 uk-width-1-1 fs18 br5"
              @click.prevent="openMap"
            >
              Поиск на карте
            </button>
          </div>
          <div class="uk-form-controls uk-width-1-1 uk-width-auto@m">
            <button
              class="uk-button btn__green uk-text-bold uk-width-1-1 br5 uk-overflow-hidden"
              @click="$emit('get-objects')"
            >
              НАЙТИ
            </button>
          </div>
        </div>
      </div>
      <div
        class="uk-width-1-1 uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-hidden@s"
      >
        <div class="uk-form-controls uk-width-1-1">
          <button
            class="uk-button uk-button-default uk-width-1-1"
            @click="$emit('hideFilter')"
          >
            Скрыть фильтр
          </button>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import mySelect from "../multiSelect";
import functions from "../../mixins/functions";
import priceInput from "../PriceInput";

export default {
  mixins: [functions],
  props: {
    filter: Object,
    microdistricts: Array,
    complexes: Array,
    developers: Array,
    rooms: Array,
    statuses: Array,
    walls: Array,
    isShow: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      date: ""
    };
  },
  created() {
    this.getObjectsDebounce = this.debounce(() => {
      this.$emit("get-objects");
    }, 1000);
  },
  methods: {
    openMap() {
      window.open("https://vevanta.ru/new_map/", "_blank");
      return;
    },
    getYear(n) {
      return new Date().getFullYear() + n;
    },
    getQuartals(year) {
      let quartals = [];
      let currentQuartal = 0;
      if (year == this.getYear(0)) {
        currentQuartal = Math.ceil((new Date().getMonth() + 1) / 3) - 1;
      }
      for (let i = currentQuartal; i < 4; i++) {
        quartals.push(i + 1);
      }
      return quartals;
    }
  },
  watch: {
    date(val) {
      [this.filter.built_year, this.filter.built_quartal] = this.date.split(
        "-"
      );
    },
    filter: {
      deep: true,
      handler(filt) {
        this.getObjectsDebounce();
      }
    }
  },
  components: {
    mySelect,
    priceInput
  }
};
</script>

<style scoped>
.uk-padding-small {
  padding: 10px;
}

.date-button {
  font-size: 14px;
  text-transform: inherit;
  text-align: left;
  padding-left: 10px;
}
.date-button span {
  position: absolute;
  top: 10px;
  right: 5px;
}

.date-select {
  min-width: 100%;
  overflow-x: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.date-select .uk-accordion-content {
  margin-top: 10px;
}
.date-select input {
  margin-right: 5px;
}
.date-select .uk-accordion-title {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
}

.date-select .uk-accordion-title::before {
  position: absolute;
  right: 10px;
}

.date-select .uk-accordion-content label {
  display: block;
  font-size: 15px !important;
}

.select-button {
  font-size: 16px;
  color: gray;
}
.select-button:active,
.select-button:hover,
.select-button:focus {
  background-color: #fff;
}

.field-title {
  color: #fff;
}
@media screen and (max-width: 640px) {
  .field-title {
    color: #000;
  }
}
</style>
