<template>
  <div uk-grid class="uk-grid-collapse uk-child-width-1-1 list-view">
    <div v-for="(object, i) in objects" :key="i" class="uk-margin-small-bottom">
      <a :href="object.comp_url" target="_blank">
        <div
          class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
          uk-grid
        >
          <div class="uk-card-media-left uk-cover-container uk-width-1-4@m">
            <img :src="object.comp_photo_url || emptyPhoto" alt="" uk-cover />
            <canvas width="600" height="300" class="uk-hidden@s"></canvas>
          </div>
          <div class="uk-card-body uk-width-2-3@m">
            <h3 class="uk-card-title">
              ЖК «{{ object.comp_name }}»{{
                object.nh_name ? ` - ${object.nh_name}` : ""
              }}
            </h3>
            <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
              <div class="uk-margin-medium-right@m">
                <div class="uk-grid-small uk-child-width-expand" uk-grid>
                  <div class="uk-align-left uk-margin-remove">Цена:</div>
                  <div class="uk-align-right uk-margin-remove uk-text-right">
                    <b>от {{ object.price_min | price }}&nbsp;₽</b>
                  </div>
                </div>

                <div
                  class="uk-grid-small uk-child-width-expand uk-margin-small-top"
                  uk-grid
                >
                  <div class="uk-text-left uk-margin-remove">Цена за метр</div>
                  <div class="uk-text-right uk-margin-remove uk-text-right">
                    <b
                      >от
                      {{
                        getMeterPrice(object.price_min, object.square_min)
                          | price
                      }}&nbsp;₽</b
                    >
                  </div>
                </div>
              </div>

              <div>
                <div class="uk-grid-small uk-child-width-expand" uk-grid>
                  <div class="uk-text-left uk-margin-remove">Площадь:</div>
                  <div class="uk-text-right uk-margin-remove uk-text-right">
                    <b>от {{ object.square_min.toFixed(0) }} м<sup>2</sup></b>
                  </div>
                </div>
                <div
                  class="uk-grid-small uk-child-width-expand uk-margin-small-top"
                  uk-grid
                >
                  <div class="uk-text-left uk-margin-remove">Застройщик:</div>
                  <div class="uk-text-right uk-margin-remove uk-text-right">
                    <b>{{ object.devel_name }}</b>
                  </div>
                </div>
              </div>
            </div>
            <a
            class="uk-button btn btn__tpl2 btn__green uk-width-1-1 uk-hidden@s uk-margin-small-top"
            href="tel: +7 (3452) 69-23-47"
            >Позвонить</a
          >
          </div>

          <div class="action-buttons uk-visible@l uk-width-auto">
            <span
              class="action-button"
              :class="{ added: isAdded(object.comp_id).newFavorite }"
              uk-icon="icon: star; ratio: 2"
              @click.prevent="addToStorage(object.comp_id, 'newFavoriteItems')"
              uk-tooltip="title: Добавить в избранное; delay: 500"
            ></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import input from "../../filters/Input.js";
import storage from '../../mixins/storage';

export default {
  props: {
    objects: Array
  },
  created() {
    this.getStorages();
  },
  mixins: [input, storage],
  data() {
    return {
      emptyPhoto: "https://vevanta.ru/wp-content/uploads/2020/10/empty.png"
    };
  },
  methods: {
    getMeterPrice(price, area) {
      return Math.floor(price / area);
    }
  }
};
</script>

<style scoped>
.list-view .uk-card {
  cursor: pointer;
}
.list-view .uk-card-title {
  font-size: 1.3em;
}

.list-view .uk-card-link {
  font-size: 18px;
}
.action-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
}
.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e8e8e8;
}
.action-button:hover,
.action-button.added {
  color: #00bab6;
}
</style>
