<template>
  <div
    class="uk-width-expand uk-card uk-card-default uk-padding-small uk-grid user-card uk-margin-remove"
  >
    <div
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-margin-small-bottom"
    >
      <p>Об этом объекте знает все:</p>
    </div>
    <div
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-margin-small-bottom"
    >
      <p>
        <img :src="agent_photo" width="150px" height="150px" alt="" uk-img />
      </p>
    </div>
    <div
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-margin-small-bottom"
    >
      <p class="uk-text-bold">Эксперт по недвижимости</p>
    </div>
    <div
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-margin-small-bottom"
    >
      <p class="fs20 uk-text-bold uk-flex uk-flex-middle">
        <img
          class="uk-margin-small-right"
          src="https://vevanta.ru/wp-content/uploads/2020/10/phone-call-green.svg"
          height="21px"
          width="21px"
        />
        <span v-if="isFull">
          <a :href="`tel:${agentPhone}`"> {{ getPhone }} </a></span
        >
        <template v-else>
          <span>{{ getPhone }}</span>
          <span @click="isFull = !isFull" class="fs20 cr-pointer">
            Показать
          </span>
        </template>
      </p>
    </div>
    <div
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-text-center uk-margin-small-bottom"
    >
      <p class="uk-text-small">или оставьте ваш номер, и я вам перезвоню</p>
    </div>

    <div
      v-if="!isValid"
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-text-center"
    >
      <p class="uk-text-small uk-text-danger">
        Введите корректный номер телефона
      </p>
    </div>

    <div
      class="uk-inline uk-padding-remove uk-width-1-1 uk-margin-small-bottom "
    >
      <span class="uk-form-icon" uk-icon="icon: receiver"></span>
      <input
        class="uk-input"
        type="text"
        placeholder="+7 (XXX) XXX-XX-XX"
        v-model="inputs.phone"
      />
    </div>
    <button
      class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom apply"
      @click="sendFormFunc"
    >
      Жду звонка
    </button>
    <div
      class="uk-width-1-1 uk-padding-remove uk-flex uk-flex-center uk-text-center"
    >
      <p class="uk-text-small">
        Отправляя заявку, вы соглашаетесь на обработку
        <a
          href="https://vevanta.ru/wp-content/themes/agentstvo/public/politika.pdf"
          target="_blank"
          >персональных данных</a
        >
      </p>
    </div>
  </div>
</template>

<script>
import form from '../../mixins/Form';
import inputMask from '../../mixins/inputMask.js';
import metrika from '../../mixins/metrika.js'

export default {
  props: {
    complex_name: {
      type: String
    },
    staffId: {
      type: Number
    },
    managerId: {
      type: Number
    },
    classId: {
      type: Number,
    },
    sourceId: {
      type: Number
    }
  },
  mixins: [form, inputMask, metrika],
  data() {
    return {
      isFull: false,
      agent_photo: "https://vevanta.ru/wp-content/uploads/2020/10/agent_photo.jpg",
      agentPhone: "+7 (3452) 69-23-47",
      isValid: true,
    };
  },
  computed: {
    getPhone() {
      return this.isFull
        ? this.agentPhone
        : this.agentPhone.split(")")[0] + "...";
    },
  },
  methods: {
    sendFormFunc() {
      if (this.formatPhone.length != 10) {
        this.isValid = false;
        return;
      }
      if (this.staffId !== undefined) {
        this.dataRequest.staffId = this.staffId
      }

      if (this.managerId !== undefined) {
        this.dataRequest.managerId = this.managerId
      }

      if (this.classId !== undefined) {
        this.dataRequest.classId = this.classId
      }

      if (this.sourceId !== undefined) {
        this.dataRequest.sourceId = this.sourceId
      }

      this.isValid = true;
      this.formName = `Обратный звонок по ${this.complex_name}`;
      this.sendForm();
    },
  },
};
</script>

<style>
.user-card img {
  border-radius: 50%;
}
</style>
