<template>
  <div>
    <TileView :objects="items" />
    <div class="uk-width-1-1 uk-text-center uk-margin">
      <a href="/novostroyki/" class="uk-button uk-button-default">Посмотреть все</a>
    </div>
  </div>
</template>

<script>
import TileView from "./TileView";

export default {
  name: "nwTopList",
  data() {
    return {
      items: [],
      filter: {
        microdistricts: [],
        comp_ids: [15, 16, 13, 6, 9, 7, 4, 11],
        rooms: [],
        built_year: null,
        built_quartal: null,
        floors_from: null,
        floors_to: null,
        statuses: [],
        price_from: null,
        price_to: null,
        square_from: null,
        square_to: null,
      },
    };
  },
  components: { TileView },
  methods: {
    getObjects(offset = 1) {
      this.$axios
        .post("/newhouse", {
          offset,
          filter: this.filter,
        })
        .then((res) => {
          console.log(res.data);
          this.items = res.data.items;
        });
    },
  },
  created: function () {
    this.getObjects();
  },
};
</script>
