<template>
  <ul v-if="maxPage > 1" class="uk-pagination uk-margin-remove-bottom" :class="`uk-flex-${position}`" uk-margin>
    <li v-if="page != 1 "><a href="" @click.prevent="$emit('changePage', {value: 'prev'})"><span uk-pagination-previous></span></a></li>
    <template v-if="page > 3 && maxPage > 3">
        <li><a href="" @click.prevent="$emit('changePage', {value: `to-1`})">1</a></li>
        <li v-if="page > 2 " class="uk-disabled">...</li>
    </template>

    <li v-for="n in paginationPages" :key="n" :class="{'uk-active' : n == page}">
      <a href="" @click.prevent="$emit('changePage', {value: `to-${n}`})">{{n}}</a>
    </li>
    <template v-if="page < maxPage - 2 && maxPage > 3">
      <li v-if="page < maxPage - 3" class="uk-disabled">...</li>
      <li><a href="" @click.prevent="$emit('changePage', {value: `to-${maxPage}`})">{{maxPage}}</a></li>
    </template>
    <li v-if="page != maxPage"><a href="" @click.prevent="$emit('changePage', {value: 'next'})"><span uk-pagination-next></span></a></li>
  </ul>
</template>
<script>

export default {
  props: {
    count: Number,
    limit: Number,
    page: Number,
    position: String,
  },
  data() {
    return {

    }
  },
  computed: {
    paginationPages() {
      let arr = [];
      let count = Math.ceil(this.count / this.limit) || 1;
      for (let i = 0; i < count; i++) {
        arr.push(i+1);
      };
      let offset = 0;
      if (this.page - 3 >= 0) {
        if (this.page + 3 > this.maxPage) {
          offset = this.page + 3 > this.maxPage ? this.maxPage - 3: 0;
        }
        else offset = this.page - 2;
      }
      else if (this.page - 3 < 0) offset = 0;
      return arr.slice(offset, offset + 3);
    },
    maxPage() {
      return Math.ceil(this.count / this.limit) || 1
    }
  },
}

</script>

<style>
li {
  text-align: left;
}
</style>
