<template>
  <section class="uk-background-muted" id="flat">
    <div class="uk-container">
      <div class="uk-grid uk-grid-collapse uk-margin-top">
        <div class="title uk-width-expand">Планировки квартир</div>
      </div>
<div class="uk-grid-small uk-margin-bottom" uk-grid>
  <div
      class="uk-width-1-5@m uk-width-1-1@s uk-position-relative"
    >
    <label class="uk-form-label">Количество комнат</label>
      <m-select :data="roomsData" :label="`Кол. комнат ${filter.rooms.join()}`" _key="id" value="name" v-model="filter.rooms"></m-select>
    </div>

 <div
      class="uk-width-1-4@m uk-width-1-1@s"
    >
      <label class="uk-form-label">Цена, ₽</label>
      <div class="uk-grid-collapse" uk-grid>
        <div class="uk-width-1-2">
          <input
            name=""
            class="uk-input"
            type="text"
            placeholder="От"
            autocomplete="off"
            v-model.lazy="filter.price.min"
          />
        </div>

        <div class="uk-width-1-2">
          <input
            class="uk-input"
            type="text"
            placeholder="До"
            autocomplete="off"
            v-model.lazy="filter.price.max"
          />
        </div>
      </div>
    </div>
    
    <div
      class="uk-width-1-6@m uk-width-1-1@s"
    >
      <label class="uk-form-label">Площадь, м<sup>2</sup></label>
      <div class="uk-grid-collapse" uk-grid>
        <div class="uk-width-1-2">
          <input
            name=""
            class="uk-input"
            type="text"
            placeholder="От"
            autocomplete="off"
            v-model.lazy="filter.square.min"
          />
        </div>

        <div class="uk-width-1-2">
          <input
            class="uk-input"
            type="text"
            placeholder="До"
            autocomplete="off"
            v-model.lazy="filter.square.max"
          />
        </div>
      </div>
    </div>

    <div
      class="uk-width-1-6@m uk-width-1-1@s"
    >
      <label class="uk-form-label">Этажность</label>
      <div class="uk-grid-collapse" uk-grid>
        <div class="uk-width-1-2">
          <input
            name=""
            class="uk-input"
            type="text"
            placeholder="От"
            autocomplete="off"
            v-model.lazy="filter.floors.min"
          />
        </div>

        <div class="uk-width-1-2">
          <input
            class="uk-input"
            type="text"
            placeholder="До"
            autocomplete="off"
            v-model.lazy="filter.floors.max"
          />
        </div>
      </div>
    </div>
    <div class="uk-width-expand@m uk-width-1-1@s uk-flex uk-flex-bottom uk-flex-right@m">
      <div class="uk-grid-small uk-child-width-expand" uk-grid>
        <div><button class="uk-button uk-button-default apply" @click="setFilter()">Найти</button></div>
        <div><button class="uk-button uk-button-default " @click="clearFilter()">Сброс</button></div>              
      </div>       
    </div>

</div>
      <div :uk-slider="!isDesctop()">
        <ul class="uk-grid uk-child-width-1-3@m">
          <li v-for="(item, i) in items" :key="i">
            <div class="uk-text-center">
              <div
                class="uk-box-shadow-small uk-box-shadow-hover-large uk-background-default uk-margin-medium-bottom uk-padding-small uk-margin-bottom"
              >
                <div class="fs20@m cl-vevanta" >
                  {{ item.room }} комн. кв. {{ item.square }} м <sup>2</sup>
                </div>
                <div class="fs12">{{ item.floor }} этаж из {{ item.floors }}</div>
                <hr class="uk-margin-small" />
                <div class="fs30@m fs18">{{ item.price | price }} ₽</div>
                <div class="">
                  Ипотека
                  {{ Math.round(item.price * 0.00215426) | price }} ₽/мес.
                </div>
                <div
                  uk-lightbox=""
                  class="uk-width-medium uk-text-center uk-margin-auto"
                >
                  <a
                    :href="
                      item.photo_original != null
                        ? `${cdn + item.photo_original}`
                        : `https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg`
                    "
                  >
                    <img
                      :src="
                        item.photo_plan360 != null
                          ? `${cdn + item.photo_plan360}`
                          : `https://vevanta.ru/wp-content/themes/agentstvo/assets/images/object/no-photo.jpg`
                      "
                      alt=""
                      class="uk-height-max-small"
                      uk-img
                    />
                  </a>
                </div>

                <hr class="uk-margin-small" />
                <div class="">
                  <span class="cl-vevanta"
                    >ЖК {{item.comp_name}} {{ item.nh_name }}</span
                  ><br />
                  <span class="uk-text-light fs14"
                    >{{ item.nh_ready_quarter }} квартал
                    {{ item.nh_built_year }} г.</span
                  >
                </div>
                <a class="btn btn__tpl1 btn__dark-blue uk-margin-top" :href="`https://vevanta.ru/new-item/${item.id}/`" target="_blank">Подробнее</a>
              </div>
            </div>
          </li>
        </ul>       
      </div>
        <div v-if="showAddBtn" class="uk-text-center">
          <button class="uk-button uk-button-default uk-margin-bottom" @click="addObjects()">Еще 21 из {{countFtats}}</button>
        </div>        
    </div>
  </section>
</template>

<script>
import input from "@/filters/Input.js";
import ButtonModal from "@/components/ButtonModal";
import mSelect from '../multiSelect'
export default {
  name: "NewHousePlans",
  props: {
    complexId: { type: Number, default: 3 }
  },
  mixins: [input],
  components: {
    ButtonModal, mSelect
  },
  data() {
    return {
      ofsset: 1,
      showAddBtn: true,
      countFtats: 0,
      roomsData: [
        { id: 1, name: "1 комнатная" },
        { id: 2, name: "2 комнатная" },
        { id: 3, name: "3 комнатная" },
        { id: 4, name: "4 комнатная" },
      ],
      filter: {
        microdistrict_id: [],
        rooms: [],
        floors: {
          min: null,
          max: null,
        },
        price: {
          min: null,
          max: null,
        },
        square: {
          min: null,
          max: null,
        },
      },
      items: [],
    };
  },  
  computed: {
    cdn() {
      return this.$store.state.cdn;
    },
  },
  methods: {
    clearFilter: function () {
      this.filter.rooms = []
      this.filter.floors.min = null
      this.filter.floors.max = null
      this.filter.price.min = null
      this.filter.price.max = null
      this.filter.square.min = null
      this.filter.square.max = null
      this.setFilter()
    },
    setFilter: function () {
      this.ofsset = 1
      this.showAddBtn = false
      this.$axios.post(`newhouse/objects/${this.complexId}`, { offset: this.ofsset, filter: this.filter })
        .then((rs) => {
          this.items = rs.data.items

          if(rs.data.page >= Math.round(rs.data.count/rs.data.limit)) {
            this.showAddBtn = false
          }else{
            this.showAddBtn = true
          }
          this.countFtats = (rs.data.count - this.items.length)          
        })
        .catch((error) => console.log(error));
    },
    addObjects: function () {
      this.ofsset += 1
      this.getData()
    },
    getData: function () {
      this.showAddBtn = false
      this.$axios.post(`newhouse/objects/${this.complexId}`, { offset: this.ofsset, filter: this.filter })
        .then((rs) => {
          for (let i = 0; i < rs.data.items.length; i++){
             this.items.push(rs.data.items[i]); 
          }
          if(rs.data.page >= Math.round(rs.data.count/rs.data.limit)) {
            this.showAddBtn = false
          }else{
            this.showAddBtn = true
          }

          this.countFtats = (rs.data.count - this.items.length)
          
        })
        .catch((error) => console.log(error));
    },
    isDesctop() {
      if (window.innerWidth >= 1200) {
        return true;
      } else {
        return false;
      }
    },
  },
  created: function () {
    this.getData();
  },
};
</script>

<style scoped>
[v-cloak] {
  display:none;
}
</style>