<template>
  <div class="uk-text-center" uk-grid>
    <div
      v-for="(object, i) in objects"
      :key="i"
      class="uk-width-1-1 uk-width-1-4@m uk-width-1-2@s"
    >
      <a :href="object.comp_url" target="_blank">
        <div
          class="uk-card uk-card-hover uk-card-default uk-card-body uk-padding-small complex-photo"
          :style="{
            backgroundImage: `url('${object.comp_photo_url || emptyPhoto}')`
          }"
        >
          <!-- <span class="object-date-info">qqq</span> -->
          <div
            v-if="String(object.nh_status).toLowerCase() == 'строится'"
            class="uk-card-badge uk-label"
          >
            {{ object.nh_built_year }} г. ({{
              object.nh_ready_quarter
            }}
            квартал)
          </div>
          <div
            class="card-footer uk-padding-small uk-text-left uk-padding-remove-bottom"
          >
            <p class="object-title uk-text-truncate">
              ЖК «{{ object.comp_name }}»
            </p>
            <!-- <p class="object-district">{{ object.district || 'район'}}</p> -->
            <p class="object-info">
              от {{ (object.price_min || 0) | price }}&nbsp;₽ за
              {{ object.square_min.toFixed(0) }} м<sup>2</sup>
            </p>
          </div>
          <div class="action-buttons uk-visible@l uk-width-auto">
            <span
              class="action-button"
              :class="{ added: isAdded(object.comp_id).newFavorite }"
              uk-icon="icon: star; ratio: 2"
              @click.prevent="addToStorage(object.comp_id, 'newFavoriteItems')"
              uk-tooltip="title: Добавить в избранное; delay: 500"
            ></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import input from "../../filters/Input.js";
import storage from '../../mixins/storage';

export default {
  name: "TileView",
  props: {
    objects: Array
  },
  mixins: [input, storage],
  data() {
    return {
      emptyPhoto: "https://vevanta.ru/wp-content/uploads/2020/10/empty.png"
    };
  },
  created() {
    this.getStorages();
  },
};
</script>

<style scoped>
.uk-card {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
}

.object-title {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: bold;
}

.object-district {
  margin-bottom: 0px;
  margin-top: 0px;
}

.object-info {
  margin-top: 0px;
  margin-bottom: 10px;
}

.uk-card-badge {
  top: 10px;
  right: 0px;
  text-transform: lowercase;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* background: linear-gradient(rgba(255, 1, 1, 0) 0%, 10%, rgba(0, 186, 182, 0.9));   */
  background: rgba(0, 122, 120, 0.5);
  transition: 0.3s;
}

.uk-card:hover .card-footer {
  background: rgba(0, 186, 182, 0.9);
}

.action-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
}
.action-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f0f0f0b2;
  color: #000;
}
.action-button:hover,
.action-button.added {
  color: #00c78b;
}
</style>
